# Ex1 - BigDataEngineering - ETL on Olist data
By: ***GROUP 2*** **- Oshri Mandalawi, Ofek Shaharabani & Idan Kanat - 31.5.2025**

**Importing Necessary Libraries & Loading all Olist's CSV Files:**

In [1]:
# Importing all necessary libraries for the ETL procedure:
import pandas as pd
import numpy as np

In [2]:
# Loading all CSV files:
customers_df = pd.read_csv("C://Idan//Data Science TAU//2nd Semester - 3rd Year - 2024-2025//BigDataEngineering//data//olist_customers_dataset.csv")
orders_df = pd.read_csv("C://Idan//Data Science TAU//2nd Semester - 3rd Year - 2024-2025//BigDataEngineering//data//olist_orders_dataset.csv")
order_items_df = pd.read_csv("C://Idan//Data Science TAU//2nd Semester - 3rd Year - 2024-2025//BigDataEngineering//data//olist_order_items_dataset.csv")
products_df = pd.read_csv("C://Idan//Data Science TAU//2nd Semester - 3rd Year - 2024-2025//BigDataEngineering//data//olist_products_dataset.csv")
sellers_df = pd.read_csv("C://Idan//Data Science TAU//2nd Semester - 3rd Year - 2024-2025//BigDataEngineering//data//olist_sellers_dataset.csv")
payments_df = pd.read_csv("C://Idan//Data Science TAU//2nd Semester - 3rd Year - 2024-2025//BigDataEngineering//data//olist_order_payments_dataset.csv")
reviews_df = pd.read_csv("C://Idan//Data Science TAU//2nd Semester - 3rd Year - 2024-2025//BigDataEngineering//data//olist_order_reviews_dataset.csv")
geolocation_df = pd.read_csv("C://Idan//Data Science TAU//2nd Semester - 3rd Year - 2024-2025//BigDataEngineering//data//olist_geolocation_dataset.csv")
category_name_df = pd.read_csv("C://Idan//Data Science TAU//2nd Semester - 3rd Year - 2024-2025//BigDataEngineering//data//product_category_name_translation.csv")

## Basic EDA

***String Cleaning Function:***

In [3]:
def clean_string(val):
    # Cleans categorical strings by:
    # Converting to string
    # Replacing known bad separators (@, _, -, &, /) with space
    # Lowercasing
    # Removing extra whitespace
    if pd.isna(val):
        return val

    val = str(val).lower() # Converts to string + lowercase
    for sep in ['@', '_', '-', '&', '/', ":", ";", ","]:
        val = val.replace(sep, ' ') # Replaces known bad separators (@, _, -, &, /) with space
    
    val = val.strip()
    while '  ' in val:
        val = val.replace('  ', ' ')  # collapse multiple spaces
    return val

### EDA - Orders:

In [4]:
orders_df.head(50)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,11/18/2017 19:28,11/18/2017 19:45,11/22/2017 13:39,12/2/2017 0:28,12/15/2017 0:00
1,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2/13/2018 21:18,2/13/2018 22:20,2/14/2018 19:46,2/16/2018 18:17,2/26/2018 0:00
2,6514b8ad8028c9f2cc2374ded245783f,9bdf08b4b3b52b5526ff42d37d47f222,delivered,5/16/2017 13:10,5/16/2017 13:22,5/22/2017 10:07,5/26/2017 12:55,6/7/2017 0:00
3,82566a660a982b15fb86e904c8d32918,d3e3b74c766bc6214e0c830b17ee2341,delivered,6/7/2018 10:06,6/9/2018 3:13,6/11/2018 13:29,6/19/2018 12:05,7/18/2018 0:00
4,5ff96c15d0b717ac6ad1f3d77225a350,19402a48fe860416adf93348aba37740,delivered,7/25/2018 17:44,7/25/2018 17:55,7/26/2018 13:16,7/30/2018 15:52,8/8/2018 0:00
5,203096f03d82e0dffbc41ebc2e2bcfb7,d2b091571da224a1b36412c18bc3bbfe,NaN,9/18/2017 14:31,9/19/2017 4:04,10/6/2017 17:50,10/9/2017 22:23,9/28/2017 0:00
6,f848643eec1d69395095eb3840d2051e,4fa1cd166fa598be6de80fa84eaade43,delivered,3/15/2018 8:52,3/15/2018 9:09,3/15/2018 19:52,3/19/2018 18:08,3/29/2018 0:00
7,2807d0e504d6d4894d41672727bc139f,72ae281627a6102d9b3718528b420f8a,delivered,2/3/2018 20:37,2/3/2018 20:50,2/5/2018 22:37,2/8/2018 16:13,2/21/2018 0:00
8,fbf9ac61453ac646ce8ad9783d7d0af6,3a874b4d4c4b6543206ff5d89287f0c3,delivered,2/20/2018 23:46,2/22/2018 2:30,2/26/2018 22:25,3/21/2018 22:03,3/12/2018 0:00
9,acce194856392f074dbf9dada14d8d82,7e20bf5ca92da68200643bda76c504c6,delivered,6/4/2018 0:00,6/5/2018 0:35,6/5/2018 13:24,6/16/2018 15:20,7/18/2018 0:00
10,8563039e855156e48fccee4d611a3196,5f16605299d698660e0606f7eae2d2f9,delivered,2/17/2018 15:59,2/17/2018 16:15,2/20/2018 23:03,3/20/2018 0:59,3/20/2018 0:00
11,60550084e6b4c0cb89a87df1f3e5ebd9,f5458ddc3545711efa883dd7ae7c4497,NaN,2/21/2018 18:15,2/23/2018 2:10,2/27/2018 18:52,3/13/2018 23:58,3/29/2018 0:00
12,5acce57f8d9dfd55fa48e212a641a69d,295ae9b35379e077273387ff64354b6f,delivered,7/31/2017 21:37,8/2/2017 2:56,8/3/2017 18:32,8/8/2017 21:24,8/22/2017 0:00
13,434d158e96bdd6972ad6e6d73ddcfd22,2a1dfb647f32f4390e7b857c67458536,delivered,6/1/2018 12:23,6/5/2018 3:35,6/8/2018 11:49,6/18/2018 21:32,7/17/2018 0:00
14,7206b86ea789983f7a273ea7fa0bc2a8,3391c4bc11a817e7973e498b0b023158,delivered,3/26/2018 17:12,3/26/2018 17:28,3/28/2018 17:22,4/5/2018 22:11,4/12/2018 0:00
15,948097deef559c742e7ce321e5e58919,8644be24d48806bc3a88fd59fb47ceb1,delivered,8/4/2017 17:10,8/4/2017 17:25,8/7/2017 17:52,8/12/2017 14:08,9/1/2017 0:00
16,d22e9fa5731b9e30e8b27afcdc2f8563,756fb9391752dad934e0fe3733378e57,delivered,8/4/2018 23:25,8/4/2018 23:35,8/6/2018 15:03,8/13/2018 23:34,9/13/2018 0:00
17,ee64d42b8cf066f35eac1cf57de1aa85,caded193e8e47b8362864762a83db3c5,shipped,6/4/2018 16:44,6/5/2018 4:31,6/5/2018 14:32,NaN,6/28/2018 0:00
18,25f4376934e13d3508486352e11a5db0,12fd2740039676063a874b9567dfa651,delivered,5/17/2018 16:59,5/18/2018 1:17,5/18/2018 13:02,5/21/2018 15:22,5/25/2018 0:00
19,734e7d1bbaeb2ff82521ca0fe6fb6f79,2932d241d1f31e6df6c701d52370ae02,delivered,6/11/2018 8:18,6/11/2018 8:31,6/11/2018 14:54,6/14/2018 21:32,7/5/2018 0:00
20,a685d016c8a26f71a0bb67821070e398,911e4c37f5cafe1604fe6767034bf1ae,delivered,3/13/2017 18:14,3/13/2017 18:14,3/22/2017 14:03,4/6/2017 13:37,3/30/2017 0:00
21,2edfd6d1f0b4cd0db4bf37b1b224d855,241e78de29b3090cfa1b5d73a8130c72,delivered,6/13/2017 21:11,6/15/2017 3:05,6/16/2017 14:55,6/19/2017 18:51,7/6/2017 0:00
22,f346ad4ee8f630e5e4ddaf862a34e6dd,dd5095632e3953fc0947b8ab5176b0be,delivered,8/5/2018 13:09,8/5/2018 13:24,8/6/2018 13:41,8/10/2018 18:35,8/15/2018 0:00
23,ccbabeb0b02433bd0fcbac46e70339f2,c77ee2d8ba1614a4d489a44166894938,delivered,2/19/2018 20:31,2/21/2018 6:15,2/22/2018 21:04,3/9/2018 22:22,3/13/2018 0:00
24,688052146432ef8253587b930b01a06d,81e08b08e5ed4472008030d70327c71f,delivered,4/22/2018 8:48,4/24/2018 18:25,4/23/2018 19:19,4/24/2018 19:31,5/15/2018 0:00
25,686541986ecfb7d9296eb67719973bf0,74805bc388861fa350ed2fade8444e0b,delivered,2/10/2018 13:26,2/10/2018 13:35,2/14/2018 20:47,2/20/2018 22:13,3/12/2018 0:00
26,68e48e68da1f50f7c5838ea75e3a20dd,4afc1dcca5fe8926fc97d60a4497f8ab,delivered,6/18/2018 16:02,6/18/2018 17:00,6/19/2018 15:55,6/22/2018 21:18,7/13/2018 0:00
27,6abaad69b8b349c3a529b4b91ce18e46,f5618502bee8eafdee72fb6955e2ebdf,NaN,2/15/2018 10:33,2/15/2018 10:47,2/20/2018 14:15,2/24/2018 19:15,3/7/2018 0:00
28,974c1993ab8024d3ed16229183c2308d,a90391a47de936d56c66a5366cba1462,delivered,2/20/2017 11:45,2/22/2017 3:10,2/23/2017 6:47,3/9/2017 14:27,3/21/2017 0:00
29,82bce245b1c9148f8d19a55b9ff70644,388025bec8128ff20ec1a316ed4dcf02,delivered,4/20/2017 17:15,4/21/2017 5:15,4/24/2017 9:34,5/10/2017 9:17,5/12/2017 0:00
30,a910f58086d58b3ae6f37aa712d377b9,afb19a4b667cb708caab312757ec3d3f,delivered,9/15/2017 9:19,9/15/2017 9:35,9/18/2017 18:20,9/25/2017 20:14,10/11/2017 0:00
31,3bc77ce8be27211bac313c2daa402d1a,bf141bf67fbe428d558bcf0e018eab60,delivered,4/6/2017 22:39,4/6/2017 22:50,4/7/2017 14:54,4/11/2017 12:31,4/27/2017 0:00
32,0a4a2fccb27bd83a892fa503987a595b,6772a0a230a2667d16c3620f000e1348,delivered,4/20/2017 20:42,4/20/2017 20:55,4/25/2017 8:23,5/11/2017 13:07,5/25/2017 0:00
33,ec341c54a5ebf8ee0a67a8632aa7579b,df9b032b2ad0fd6bf37dfb48e5f83845,delivered,8/26/2017 16:53,8/27/2017 17:04,8/30/2017 13:26,9/8/2017 20:39,9/21/2017 0:00
34,9defaf92cff22420e4e8ef7784815a55,64fb950e760ec8b0db79154a1fa9c1bf,delivered,5/11/2018 13:10,5/11/2018 13:36,5/16/2018 14:43,5/21/2018 16:09,6/5/2018 0:00
35,20e0101b20700188cadb288126949685,48558a50a7ba1aab61891936d2ca7681,NaN,1/22/2018 19:22,1/22/2018 19:36,1/24/2018 23:32,2/15/2018 20:08,2/19/2018 0:00
36,8447ff843b2616c50c0ced28ab1dae03,e28dd4261bed9c7ba89ecaf411b88f7c,delivered,12/20/2017 23:45,12/22/2017 2:37,12/23/2017 13:10,1/9/2018 18:14,1/22/2018 0:00
37,f169bd689fb8b32ccd62df9050aebc0b,82f0b75bb50fcb30711e5277e36b3983,delivered,4/22/2018 23:23,4/24/2018 19:24,4/27/2018 13:46,4/30/2018 17:57,5/7/2018 0:00
38,77e9941864fc840be8e4b1ba5347c0f7,3135962ee745ef39b85576df7ddbaa99,delivered,8/3/2018 8:59,8/3/2018 9:31,8/3/2018 10:10,8/17/2018 0:49,8/27/2018 0:00
39,6a0a8bfbbe700284feb0845d95e0867f,68451b39b1314302c08c65a29f1140fc,delivered,11/22/2017 11:32,11/22/2017 11:46,11/27/2017 13:39,12/28/2017 19:43,12/11/2017 0:00
40,f7959f8385f34c4f645327465a1c9fc4,0bf19317b1830a69e55b40710576aa7a,delivered,3/30/2017 7:50,3/30/2017 8:05,3/30/2017 10:55,4/10/2017 2:59,4/26/2017 0:00
41,e346cd9299371b18c0b28e8e29a5e376,fb9590a1e30e0ba8304ea73a31325797,delivered,5/17/2017 8:36,5/17/2017 8:45,5/17/2017 10:13,5/23/2017 13:32,6/6/2017 0:00
42,0760a852e4e9d89eb77bf631eaaf1c84,d2a79636084590b7465af8ab374a8cf5,invoiced,8/3/2018 17:44,8/7/2018 6:15,NaN,NaN,8/21/2018 0:00
43,bfe42c22ecbf90bc9f35cf591270b6a7,803ac05904124294f8767894d6da532b,delivered,1/27/2018 22:04,1/27/2018 22:16,2/3/2018 3:56,2/9/2018 20:16,2/26/2018 0:00
44,4da3bd761ca73d692ae0f5c252495546,65ee4aa816cda8ad41e05c75e1cb691e,delivered,2/1/2018 12:31,2/1/2018 12:54,2/2/2018 0:39,2/2/2018 16:12,2/19/2018 0:00
45,80d817467dc3d0a4bb5ab8986c962b1f,a4a2abd07b1cdd4902cf245cdfa1451d,delivered,8/22/2018 16:10,8/22/2018 16:25,8/23/2018 14:33,8/28/2018 14:52,9/5/2018 0:00
46,210e60465099814a1d2c7635e4065153,fc849c5fbc7e2b0c7cfebc138886c693,delivered,5/9/2018 18:27,5/9/2018 18:54,5/10/2018 16:07,5/22/2018 0:08,5/29/2018 0:00
47,4b3a605942f29d490cb74bd6ace6b9f0,e8a332c3433fbd37920ec89fc295d075,delivered,9/29/2017 9:32,9/29/2017 9:44,9/29/2017 21:58,9/30/2017 16:55,10/17/2017 0:00
48,ee0c5c649e17808bc4a363d3a80ebf85,cc3590e4afbb4b3e056b50a80a6a7d0c,delivered,1/30/2018 7:51,1/30/2018 8:13,1/31/2018 15:06,2/20/2018 15:25,2/21/2018 0:00
49,3923e3ade70348985bd2ca389905cf19,6454e6cba392b35aa21527063026fc92,delivered,3/7/2018 23:00,3/9/2018 3:00,3/14/2018 2:08,3/19/2018 18:46,3/29/2018 0:00

In [5]:
orders_df.info() # checking for basic info about the orders table - number of columns, rows, column names & types, etc..

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49441 entries, 0 to 49440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       49441 non-null  object
 1   customer_id                    49441 non-null  object
 2   order_status                   49380 non-null  object
 3   order_purchase_timestamp       49441 non-null  object
 4   order_approved_at              49360 non-null  object
 5   order_delivered_carrier_date   48561 non-null  object
 6   order_delivered_customer_date  47979 non-null  object
 7   order_estimated_delivery_date  49441 non-null  object
dtypes: object(8)
memory usage: 3.0+ MB

In [6]:
orders_df.describe() # Description of key columns in the orders table, to gain a better understanding..

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,49441,49441,49380,49441,49360,48561,47979,49441
unique,49441,49441,8,46582,31711,37056,42165,447
top,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,8/2/2018 12:05,12/1/2017 11:31,5/9/2018 15:48,7/24/2018 18:28,12/20/2017 0:00
freq,1,1,47920,16,46,21,5,267

In [7]:
# Checking for peculiarities in the order status column, to make it consistent:
print(orders_df["order_status"].unique())

orders_df["order_status"].nunique()

['delivered' nan 'shipped' 'invoiced' 'processing' 'unavailable'
 'canceled' 'approved' 'created']

8

In [8]:
before = len(orders_df)
# Remove duplicate order records based on order's identifier = 'order_id'
# So that only the first occurrence is kept; the rest are dropped:
orders_df = orders_df.drop_duplicates(subset='order_id', keep='first')
orders_df.reset_index(drop=True, inplace=True)

# Drop rows where the order_id is missing (NaN) - this makes joining & drawing conclusions on customers impossible!
# orders_df = orders_df.dropna(subset=['order_id'])
after = len(orders_df)
print(f"Removed {before - after} duplicate orders.") # Log number of duplicates removed
orders_df.info() # checking for basic info about the orders table - number of columns, rows, column names & types, etc..

Removed 0 duplicate orders.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49441 entries, 0 to 49440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       49441 non-null  object
 1   customer_id                    49441 non-null  object
 2   order_status                   49380 non-null  object
 3   order_purchase_timestamp       49441 non-null  object
 4   order_approved_at              49360 non-null  object
 5   order_delivered_carrier_date   48561 non-null  object
 6   order_delivered_customer_date  47979 non-null  object
 7   order_estimated_delivery_date  49441 non-null  object
dtypes: object(8)
memory usage: 3.0+ MB

In [9]:
# Checking for missing values in the orders table, and if their percentage is negligible:
print(orders_df.isnull().sum()) # Printing the number of missing values in the orders table
print("\n")
print(orders_df.isnull().mean()) # Printing the proportion of missing values in the orders table

order_id                            0
customer_id                         0
order_status                       61
order_purchase_timestamp            0
order_approved_at                  81
order_delivered_carrier_date      880
order_delivered_customer_date    1462
order_estimated_delivery_date       0
dtype: int64


order_id                         0.000000
customer_id                      0.000000
order_status                     0.001234
order_purchase_timestamp         0.000000
order_approved_at                0.001638
order_delivered_carrier_date     0.017799
order_delivered_customer_date    0.029571
order_estimated_delivery_date    0.000000
dtype: float64

In [10]:
# Checking for orders with no items:
print("Checking how many orders have no associated items:")
orders_with_items = orders_df["order_id"].isin(order_items_df["order_id"])
print((~orders_with_items).sum())  # Printing the number of orders without items in the orders table
print("\n")
print((~orders_with_items).mean())  # Printing the proportion of orders without items in the orders table

# Dropping such orders:
orders_df = orders_df[orders_df["order_id"].isin(order_items_df["order_id"])]

Checking how many orders have no associated items:
380


0.007685928682672276

In [11]:
orders_df.describe() # Description of key columns in the TRANSFORMED orders table, to gain a better understanding..

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,49061,49061,49000,49061,49055,48561,47979,49061
unique,49061,49061,7,46242,31544,37056,42165,439
top,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,8/2/2018 12:05,7/24/2018 10:31,5/9/2018 15:48,7/24/2018 18:28,12/20/2017 0:00
freq,1,1,47920,15,46,21,5,263

### EDA - Customers:

In [12]:
customers_df.head(50)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,first_name,last_name,email,region,registration_date
0,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,angel,kelley,angel.kelley@hotmail.com,Southeast,1/12/2018 20:48
1,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,joshua,wilson,joshua.wilson@gmail.com,Southeast,5/19/2018 16:07
2,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,Mogi Das Cruzes,SP,jeffrey,allen,jeffrey.allen@gmail.com,Southeast,3/13/2018 16:06
3,879864dab9bc3047522c92c82e1212b8,4c93744516667ad3b8f1fb645a3116a4,"$89,254",jaragua do sul,SC,erica,roberson,erica.roberson@hotmail.com,South,10/15/2017 12:44
4,4b7139f34592b3a31687243a302fa75b,9afe194fb833f79e300e37e580171f22,"$30,575",Belo Horizonte,MG,anthony,robinson,anthony.robinson@hotmail.com,Southeast,1/8/2018 11:22
5,9fb35e4ed6f0a14a4977cd9aea4042bb,2a7745e1ed516b289ed9b29c7d0539a5,39400,montes&claros,MG,jeffery,flores,jeffery.flores@hotmail.com,NaN,11/27/2017 17:23
6,5aa9e4fdd4dfd20959cad2d772509598,2a46fb94aef5cbeeb850418118cee090,20231,Rio De Janeiro,RJ,william,nguyen,william.nguyen@yahoo.com,NaN,2/7/2018 11:36
7,eabebad39a88bb6f5b52376faec28612,295c05e81917928d76245e842748184d,5704,sao paulo,SP,james,bray,james.bray@gmail.com,NaN,3/7/2018 15:57
8,1f1c7bf1c9b041b292af6c1c4470b753,3151a81801c8386361b62277d7fa5ecf,95110,CAXIAS DO SUL,RS,debra,levine,debra.levine@hotmail.com,NaN,4/1/2018 18:59
9,206f3129c0e4d7d0b9550426023f0a08,21f748a16f4e1688a9014eb3ee6fa325,13412,piracicaba,SP,amy,kirby,amy.kirby@gmail.com,NaN,1/29/2018 20:32
10,a7c125a0a07b75146167b7f04a7f8e98,5c2991dbd08bbf3cf410713c4de5a0b5,22750,rio de janeiro,RJ,jeffrey,griffith,jeffrey.griffith@yahoo.com,NaN,8/13/2018 23:45
11,c5c61596a3b6bd0cee5766992c48a9a1,b6e99561fe6f34a55b0b7da92f8ed775,7124,guarulhos,sp,bridget,tran,bridget.tran@gmail.com,Southeast,6/18/2018 13:34
12,9b8ce803689b3562defaad4613ef426f,7f3a72e8f988c6e735ba118d54f47458,5416,sao paulo,SP,lisa,thomas,lisa.thomas@yahoo.com,Southeast,5/11/2017 13:48
13,49d0ea0986edde72da777f15456a0ee0,3e6fd6b2f0d499456a6a6820a40f2d79,68485,PACAJA,PA,adam,rogers,adam.rogers@gmail.com,Other,11/1/2017 21:54
14,154c4ded6991bdfa3cd249d11abf4130,e607ede0e63436308660236f5a52da5e,88034,Florianopolis,SC,linda,wilson,linda.wilson@hotmail.com,South,8/13/2017 10:03
15,2938121a40a20953c43caa8c98787fcb,482441ea6a06b1f72fe9784756c0ea75,5713,sao paulo,SP,matthew,williams,matthew.williams@hotmail.com,Southeast,5/8/2018 6:34
16,f681356046d9fde60e70c73a18d65ea2,5f102dd37243f152aec3607970aad100,"$9,121",SANTO ANDRE,sp,matthew,haley,matthew.haley@gmail.com,Southeast,2/9/2018 13:46
17,167bd30a409e3e4127df5a9408ebd394,9c0096673baf55453a50073f12d1a37f,74310,goiania,GO,christopher,wallace,christopher.wallace@gmail.com,Central-West,7/14/2018 10:53
18,e0eea8f69a457b3f1fa246e44c9ebefd,4d221875624017bc47b4d1ce7314a5b7,29311,CACHOEIRO@DE@ITAPEMIRIM,ES,melanie,torres,melanie.torres@hotmail.com,Southeast,11/24/2017 11:29
19,e3109970a3fe8021d5ff82c577ce5606,a8654e2af5da6bb72f52c22b164855e1,5528,SAO PAULO,SP,cassandra,flores,cassandra.flores@yahoo.com,Southeast,5/25/2018 12:02
20,261cb4f92498ca05d5bd1a327a261d9c,424aca6872c5bab80780a8dec03b7516,12235,sao@jose@dos@campos,SP,lindsay,rice,lindsay.rice@gmail.com,Southeast,9/12/2017 8:00
21,6f92779347724b67e44e3224f3b4cffd,bf4862777db128507e9efcc789215e9b,18130,sao@roque,sp,jessica,mahoney,jessica.mahoney@hotmail.com,Southeast,11/26/2017 20:59
22,41c8f4b570869791379a925899a6af8a,fe3634ccefbcdb0537b45fd589e32e8e,7170,guarulhos,SP,maria,gonzalez,maria.gonzalez@gmail.com,Southeast,10/13/2017 10:04
23,54f755c3fd2709231f9964a1430c5218,40febde16f4718a5def537786473b0be,93415,NOVO HAMBURGO,RS,christine,day,christine.day@gmail.com,South,8/10/2017 13:01
24,4c06b42fbf7b97ab10779cda5549cd1c,07d190f123147d9e89d4b922543d7948,"$65,075",SAO LUIS,MA,michelle,beasley,michelle.beasley@gmail.com,Other,7/8/2018 9:59
25,a3b0fda37bae14cf754877bed475e80c,c9158d089637ab443c78984d20da7fc0,"$5,727",sao paulo,SP,beth,fox,beth.thornton@yahoo.com,Southeast,1/31/2018 16:43
26,0ccd415657ae8a6cd1c71b00155a019e,66cc90195ca44cc7ac6a1cd0e1e1e7b2,7053,guarulhos,SP,keith,hudson,keith.hudson@hotmail.com,Southeast,10/9/2017 21:01
27,c532a74a3ebf1bacce2e2bcce3783317,91ec50a00ae74d0a229d2efdf4344e1e,14026,ribeirao preto,sp,christopher,harrison,christopher.harrison@gmail.com,Southeast,5/14/2018 13:30
28,19cecb194f54e614b70d971306a9931b,d251c190ca75786e9ab937982d60d1d4,30320,belo horizonte,MG,jesse,lawrence,jesse.lawrence@gmail.com,Southeast,4/18/2018 14:18
29,f34a6e874087ec1f0e3dab9fdf659c5d,233896de79986082f1f479f1f85281cb,"$38,300",ituiutaba,MG,craig,singleton,craig.singleton@yahoo.com,Southeast,3/15/2018 10:07
30,c132855c926907970dcf6f2bf0b33a24,a8ae36a2bb6c2bbc3b5d62ede131c9ef,"$18,740",taquarituba,SP,joshua,gonzales,joshua.gonzales@hotmail.com,Southeast,4/17/2018 13:14
31,df85b96ba2ce3e49bde101b1614f52ac,8d46223c91cbeb93e0930ca8bd8ffca2,83085,sao jose dos pinhais,PR,cynthia,burke,cynthia.burke@gmail.com,South,11/26/2017 11:43
32,d3b6830d18c7de943d1e707d1f061d40,27cf4b153010911a0957150255a6c6db,"$5,351",Sao Paulo,SP,mitchell,floyd,mitchell.floyd@yahoo.com,Southeast,4/14/2018 18:29
33,79de53946db384e2d7a9bd131792ad17,7ce5b57a120a2da6a804afa58ffcbfb5,39406,montes claros,mg,jason,smith,jason.smith@hotmail.com,Southeast,5/22/2018 1:43
34,8fcaa9368903f3a9a28aeaff28c14638,3af0b2f7654f613ff1527b997a2ac57e,79804,dourados,ms,chelsea,callahan,chelsea.callahan@gmail.com,Other,2/3/2018 8:14
35,a9b0d1c26105279e1b8edc63d06bd668,3d49f4455a3947c8dd7e972b3ad8cb76,5017,sao paulo,sp,george,burke,george.burke@hotmail.com,Southeast,1/29/2018 11:04
36,aa9f03ecd3728c9bd12e6d962c66c7cb,b03e9d9818ee170e9d6b983803c7d406,75388,trindade,GO,jessica,graham,jessica.graham@hotmail.com,Central-West,7/11/2017 9:36
37,230c0d740401730c7197d16376893525,a302a693d5722d95984e6472150b9391,85808,cascavel,pr,frank,moore,frank.moore@gmail.com,NaN,6/6/2018 16:53
38,a905baa530258422594f1b05615bd225,c80da60feddb7cf8325bd104032e314a,60140,fortaleza,ce,noah,roman,noah.roman@gmail.com,Northeast,3/29/2018 21:28
39,4fa19f7da692e6bf9602aaad3c372eda,a2b8841410cf77619574d311cd06fd5e,72270,brasilia,df,veronica,potter,veronica.potter@hotmail.com,Central-West,3/27/2018 18:05
40,03f846ad03437d864a8d2a22976dcafe,7677c213007e9a6ec9267ea50b5ce5bc,2075,sao paulo,SP,danielle,jackson,danielle.jackson@gmail.com,Southeast,2/20/2018 11:34
41,8276de07ef25225d412b8462d73f8664,332cf4e83e16004ba7dca932ce82475b,"$90,010",porto alegre,RS,gabrielle,gonzalez,gabrielle.gonzalez@yahoo.com,South,4/2/2017 22:15
42,cc32707d2e2f7c92ab449f9b28154809,0d516ca029d6a28d5cfddd80b27a26dc,22440,rio de janeiro,rj,megan,guzman,megan.guzman@gmail.com,Southeast,11/19/2017 8:43
43,a02f66c3af7b16eec19ddcd98b645fe3,b3548d0cec408ae13d143bb4eeebaa6c,13323,salto,SP,kimberly,taylor,kimberly.taylor@gmail.com,Southeast,10/1/2017 8:57
44,26acee41e2f75689a5615892f06ea0bd,c3293e875ffb1116018edf76d24e52a2,30190,Belo Horizonte,MG,jeremy,davis,jeremy.davis@gmail.com,Southeast,12/5/2017 17:12
45,f64cdee66599119324ce57a97e43700d,d89e05e2d23c3d8247aeecd07758004b,"$13,212",jundiai,SP,antonio,garcia,antonio.garcia@yahoo.com,Southeast,9/11/2017 16:51
46,7ab7a537b678b6dd73d825ff6ee7be9d,dad5018ffc0de85eb72f72575b552784,29307,cachoeiro de itapemirim,ES,leslie,bennett,leslie.bennett@gmail.com,Southeast,9/8/2017 15:41
47,97e126f19a6f04b3462619f36862bcd2,d4397835ae287e492b186d497099439a,11310,sao vicente,SP,sherri,lozano,sherri.lozano@gmail.com,Southeast,3/21/2018 14:15
48,b514422efcf14bef34858a0829bef189,b436a108536c1dabbc1d3e808d782df9,24431,Sao Goncalo,RJ,diana,ross,diana.ross@yahoo.com,Southeast,12/28/2017 4:31
49,6c9a5923526346cbc0bd7bbd92269c01,cf6d4152d758efc43910e0141ae5b912,3733,sao paulo,sp,robin,dunlap,robin.dunlap@hotmail.com,Southeast,8/22/2018 11:39

In [13]:
customers_df.info() # checking for basic info about the customers table - number of columns, rows, column names & types, etc..

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49441 entries, 0 to 49440
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               49441 non-null  object
 1   customer_unique_id        49441 non-null  object
 2   customer_zip_code_prefix  49441 non-null  object
 3   customer_city             49441 non-null  object
 4   customer_state            49441 non-null  object
 5   first_name                49441 non-null  object
 6   last_name                 49441 non-null  object
 7   email                     49441 non-null  object
 8   region                    33927 non-null  object
 9   registration_date         49441 non-null  object
dtypes: object(10)
memory usage: 3.8+ MB

No need to remove records with a null identifier since both identifiers (for joins = ```customer_id```, table's **TRUE** identifier = ```customer_unique_id```) have no null values.

In [14]:
customers_df.describe() # Description of key columns in the customers table, to gain a better understanding..

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,first_name,last_name,email,region,registration_date
count,49441,49441,49441,49441,49441,49441,49441,49441,33927,49441
unique,49441,48552,18136,7869,54,690,1000,48473,5,45928
top,18955e83d337fd6b2def6b18a428ac77,8d50f5eadf50201ccdcedfb9e2ac8455,22790,sao paulo,SP,michael,smith,adam.gregory@yahoo.com,Southeast,8/2/2018 12:05
freq,1,6,53,4186,14384,1076,1003,7,26412,15

In [15]:
# PURPOSE:
# The 'orders' table contains a customer_id column, which is only a technical identifier per order.
# However, a single real-world customer may appear in multiple orders with different customer_ids.
# Therefore, we wish to replace 'customer_id' with the stable identifier 'customer_unique_id',
# which allows us to analyze unique customers. This will be done in 4 steps.

# We perform a merge with the 'customers' table to retrieve the matching 'customer_unique_id'
# for each order. Once added, we no longer need the 'customer_id', and we can drop it.

# STEP 1: Merge orders with customers to add customer_unique_id to each order
orders_df = orders_df.merge(
    customers_df[['customer_id', 'customer_unique_id']],
    on='customer_id',
    how='left'
)

# STEP 2: Drop the technical customer_id as we now use customer_unique_id instead
orders_df.drop(columns=['customer_id'], inplace=True)

# STEP 3: (Optional) Reorder columns to place customer_unique_id at the front
cols = ['order_id'] + ['customer_unique_id'] + [col for col in orders_df.columns if col != 'customer_unique_id' and col != 'order_id']
orders_df = orders_df[cols]

# STEP 4: Check the structure and preview the updated dataframe
orders_df.info()
orders_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49061 entries, 0 to 49060
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       49061 non-null  object
 1   customer_unique_id             49061 non-null  object
 2   order_status                   49000 non-null  object
 3   order_purchase_timestamp       49061 non-null  object
 4   order_approved_at              49055 non-null  object
 5   order_delivered_carrier_date   48561 non-null  object
 6   order_delivered_customer_date  47979 non-null  object
 7   order_estimated_delivery_date  49061 non-null  object
dtypes: object(8)
memory usage: 3.4+ MB

,order_id,customer_unique_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,949d5b44dbf5de918fe9c16f97b45f8a,7c142cf63193a1473d2e66489a9ae977,delivered,11/18/2017 19:28,11/18/2017 19:45,11/22/2017 13:39,12/2/2017 0:28,12/15/2017 0:00
1,ad21c59c0840e6cb83a9ceb5573f8159,72632f0f9dd73dfee390c9b22eb56dd6,delivered,2/13/2018 21:18,2/13/2018 22:20,2/14/2018 19:46,2/16/2018 18:17,2/26/2018 0:00
2,6514b8ad8028c9f2cc2374ded245783f,932afa1e708222e5821dac9cd5db4cae,delivered,5/16/2017 13:10,5/16/2017 13:22,5/22/2017 10:07,5/26/2017 12:55,6/7/2017 0:00
3,82566a660a982b15fb86e904c8d32918,e97109680b052ee858d93a539597bba7,delivered,6/7/2018 10:06,6/9/2018 3:13,6/11/2018 13:29,6/19/2018 12:05,7/18/2018 0:00
4,5ff96c15d0b717ac6ad1f3d77225a350,e2dfa3127fedbbca9707b36304996dab,delivered,7/25/2018 17:44,7/25/2018 17:55,7/26/2018 13:16,7/30/2018 15:52,8/8/2018 0:00

In [16]:
before = len(customers_df)
# Remove duplicate customer records based on customer's TRUE identifier = 'customer_unique_id'
# So that only the first occurrence is kept; the rest are dropped:
customers_df = customers_df.drop_duplicates(subset='customer_unique_id', keep='first')
customers_df.reset_index(drop=True, inplace=True)

# Drop rows where the customer_unique_id is missing (NaN) - this makes joining & drawing conclusions on customers impossible!
# customers_df = customers_df.dropna(subset=['customer_id'])
after = len(customers_df)
print(f"Removed {before - after} duplicate customers.") # Log number of duplicates removed
customers_df.info() # checking for basic info about the customers table - number of columns, rows, column names & types, etc..

Removed 889 duplicate customers.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48552 entries, 0 to 48551
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               48552 non-null  object
 1   customer_unique_id        48552 non-null  object
 2   customer_zip_code_prefix  48552 non-null  object
 3   customer_city             48552 non-null  object
 4   customer_state            48552 non-null  object
 5   first_name                48552 non-null  object
 6   last_name                 48552 non-null  object
 7   email                     48552 non-null  object
 8   region                    33304 non-null  object
 9   registration_date         48552 non-null  object
dtypes: object(10)
memory usage: 3.7+ MB

Customers who do not appear in the customers dataset, weren't deemed worth for analyzing therefore we dropped them!

In [17]:
# Check customers from the order table, not found in customer table:
print("Checking if orders have customer_id not in customers table:")
print((~orders_df["customer_unique_id"].isin(customers_df["customer_unique_id"])).sum())
print("\n")
print((~orders_df["customer_unique_id"].isin(customers_df["customer_unique_id"])).mean())

# Filter them out:
orders_df = orders_df[orders_df["customer_unique_id"].isin(customers_df["customer_unique_id"])]

Checking if orders have customer_id not in customers table:
0


0.0

We can see that no customer appears only in the orders table without appearing in the customers table too.

We also made sure each order had indeed only 1 customer (and not more). As seen before, customer_unique_id is now a non-null column in the orders table.

In [18]:
# Looking for orders linked to more than one customer:
orders_per_customer = orders_df.groupby("order_id")["customer_unique_id"].nunique()
multi_customer_orders = (orders_per_customer > 1).sum()
print("Orders linked to more than one customer_unique_id:")
print(multi_customer_orders) # Printing the number of orders linked to more than one customer in the orders table
print("\n")
print(multi_customer_orders / len(orders_df)) # Printing the proportion of orders linked to more than 1 customer in the orders table

Orders linked to more than one customer_unique_id:
0


0.0

Indeed, these results (0 orders associated with more than 1 customer) justify our assumption.

In [19]:
# Checking for missing values in the customers table, and if their percentage is negligible:
print(customers_df.isnull().sum()) # Printing the number of missing values in the customers table
print("\n")
print(customers_df.isnull().mean()) # Printing the proportion of missing values in the customers table

customer_id                     0
customer_unique_id              0
customer_zip_code_prefix        0
customer_city                   0
customer_state                  0
first_name                      0
last_name                       0
email                           0
region                      15248
registration_date               0
dtype: int64


customer_id                 0.000000
customer_unique_id          0.000000
customer_zip_code_prefix    0.000000
customer_city               0.000000
customer_state              0.000000
first_name                  0.000000
last_name                   0.000000
email                       0.000000
region                      0.314055
registration_date           0.000000
dtype: float64

Conclusion - the proportion of missing values in the "region" column is relatively high (~0.3!) -> it's worth considering removing!

In [20]:
# Deciding on which columns to drop - customers table:
# Personal info seemed irrelevant for our analytics therefore it appeared reasonable to remove
# Furthermore, looking at specific ZIP codes is too granular in our opinion
# Customer_id was irrelevant after the transformation done on the orders table, since it represented the customer's ID per order
# Region was also eliminated since we thought it's irrelevant for our analytics & due to high proportion of missing values
columns_to_drop = ['customer_id', 'customer_zip_code_prefix', 'first_name', 'last_name', 'email', 'region']

customers_df.drop(columns = columns_to_drop, inplace = True)

customers_df.info() # checking for basic info about the customers table - number of columns, rows, column names & types, etc..

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48552 entries, 0 to 48551
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_unique_id  48552 non-null  object
 1   customer_city       48552 non-null  object
 2   customer_state      48552 non-null  object
 3   registration_date   48552 non-null  object
dtypes: object(4)
memory usage: 1.5+ MB

In [21]:
# Standardize city/state columns and remove currency symbols if needed - for customers:
customers_df["customer_city"] = customers_df["customer_city"].apply(clean_string)
customers_df["customer_state"] = customers_df["customer_state"].str.strip().str.upper()

customers_df.head(50)

,customer_unique_id,customer_city,customer_state,registration_date
0,290c77bc529b7ac935b93aa66c333dc3,sao bernardo do campo,SP,1/12/2018 20:48
1,060e732b5b29e8181a18229c7b0b2b5e,sao paulo,SP,5/19/2018 16:07
2,259dac757896d24d7702b9acbbff3f3c,mogi das cruzes,SP,3/13/2018 16:06
3,4c93744516667ad3b8f1fb645a3116a4,jaragua do sul,SC,10/15/2017 12:44
4,9afe194fb833f79e300e37e580171f22,belo horizonte,MG,1/8/2018 11:22
5,2a7745e1ed516b289ed9b29c7d0539a5,montes claros,MG,11/27/2017 17:23
6,2a46fb94aef5cbeeb850418118cee090,rio de janeiro,RJ,2/7/2018 11:36
7,295c05e81917928d76245e842748184d,sao paulo,SP,3/7/2018 15:57
8,3151a81801c8386361b62277d7fa5ecf,caxias do sul,RS,4/1/2018 18:59
9,21f748a16f4e1688a9014eb3ee6fa325,piracicaba,SP,1/29/2018 20:32
10,5c2991dbd08bbf3cf410713c4de5a0b5,rio de janeiro,RJ,8/13/2018 23:45
11,b6e99561fe6f34a55b0b7da92f8ed775,guarulhos,SP,6/18/2018 13:34
12,7f3a72e8f988c6e735ba118d54f47458,sao paulo,SP,5/11/2017 13:48
13,3e6fd6b2f0d499456a6a6820a40f2d79,pacaja,PA,11/1/2017 21:54
14,e607ede0e63436308660236f5a52da5e,florianopolis,SC,8/13/2017 10:03
15,482441ea6a06b1f72fe9784756c0ea75,sao paulo,SP,5/8/2018 6:34
16,5f102dd37243f152aec3607970aad100,santo andre,SP,2/9/2018 13:46
17,9c0096673baf55453a50073f12d1a37f,goiania,GO,7/14/2018 10:53
18,4d221875624017bc47b4d1ce7314a5b7,cachoeiro de itapemirim,ES,11/24/2017 11:29
19,a8654e2af5da6bb72f52c22b164855e1,sao paulo,SP,5/25/2018 12:02
20,424aca6872c5bab80780a8dec03b7516,sao jose dos campos,SP,9/12/2017 8:00
21,bf4862777db128507e9efcc789215e9b,sao roque,SP,11/26/2017 20:59
22,fe3634ccefbcdb0537b45fd589e32e8e,guarulhos,SP,10/13/2017 10:04
23,40febde16f4718a5def537786473b0be,novo hamburgo,RS,8/10/2017 13:01
24,07d190f123147d9e89d4b922543d7948,sao luis,MA,7/8/2018 9:59
25,c9158d089637ab443c78984d20da7fc0,sao paulo,SP,1/31/2018 16:43
26,66cc90195ca44cc7ac6a1cd0e1e1e7b2,guarulhos,SP,10/9/2017 21:01
27,91ec50a00ae74d0a229d2efdf4344e1e,ribeirao preto,SP,5/14/2018 13:30
28,d251c190ca75786e9ab937982d60d1d4,belo horizonte,MG,4/18/2018 14:18
29,233896de79986082f1f479f1f85281cb,ituiutaba,MG,3/15/2018 10:07
30,a8ae36a2bb6c2bbc3b5d62ede131c9ef,taquarituba,SP,4/17/2018 13:14
31,8d46223c91cbeb93e0930ca8bd8ffca2,sao jose dos pinhais,PR,11/26/2017 11:43
32,27cf4b153010911a0957150255a6c6db,sao paulo,SP,4/14/2018 18:29
33,7ce5b57a120a2da6a804afa58ffcbfb5,montes claros,MG,5/22/2018 1:43
34,3af0b2f7654f613ff1527b997a2ac57e,dourados,MS,2/3/2018 8:14
35,3d49f4455a3947c8dd7e972b3ad8cb76,sao paulo,SP,1/29/2018 11:04
36,b03e9d9818ee170e9d6b983803c7d406,trindade,GO,7/11/2017 9:36
37,a302a693d5722d95984e6472150b9391,cascavel,PR,6/6/2018 16:53
38,c80da60feddb7cf8325bd104032e314a,fortaleza,CE,3/29/2018 21:28
39,a2b8841410cf77619574d311cd06fd5e,brasilia,DF,3/27/2018 18:05
40,7677c213007e9a6ec9267ea50b5ce5bc,sao paulo,SP,2/20/2018 11:34
41,332cf4e83e16004ba7dca932ce82475b,porto alegre,RS,4/2/2017 22:15
42,0d516ca029d6a28d5cfddd80b27a26dc,rio de janeiro,RJ,11/19/2017 8:43
43,b3548d0cec408ae13d143bb4eeebaa6c,salto,SP,10/1/2017 8:57
44,c3293e875ffb1116018edf76d24e52a2,belo horizonte,MG,12/5/2017 17:12
45,d89e05e2d23c3d8247aeecd07758004b,jundiai,SP,9/11/2017 16:51
46,dad5018ffc0de85eb72f72575b552784,cachoeiro de itapemirim,ES,9/8/2017 15:41
47,d4397835ae287e492b186d497099439a,sao vicente,SP,3/21/2018 14:15
48,b436a108536c1dabbc1d3e808d782df9,sao goncalo,RJ,12/28/2017 4:31
49,cf6d4152d758efc43910e0141ae5b912,sao paulo,SP,8/22/2018 11:39

In [22]:
customers_df.describe() # Description of key columns in the TRANSFORMED customers table, to gain a better understanding..

,customer_unique_id,customer_city,customer_state,registration_date
count,48552,48552,48552,48552
unique,48552,3463,27,45928
top,290c77bc529b7ac935b93aa66c333dc3,sao paulo,SP,8/2/2018 12:05
freq,1,7325,20222,15

### EDA - Sellers:

In [23]:
sellers_df.head(50)

,seller_id,seller_zip_code_prefix,seller_city,seller_state,seller_company_name,seller_email,region,registration_date
0,3442f8959a84dea7ee197c632cb2df15,13023.0,campinas,SP,Chavez-Torres,starkpaul@gmail.com,Southeast,5/2/2017 16:12
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844.0,mogi guacu,SP,"Simpson, Ruiz and Klein",zthomas@yahoo.com,Southeast,3/25/2017 9:00
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031.0,rio de janeiro,RJ,Gordon Ltd,raymond87@gmail.com,Southeast,7/27/2018 12:20
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195.0,sao paulo,SP,Welch PLC,reidmelissa@hotmail.com,Southeast,7/31/2018 0:26
4,51a04a8a6bdcb23deccc82b0b80742cf,12914.0,Braganca Paulista,SP,Williams-Garcia,devin51@yahoo.com,Southeast,11/11/2017 12:04
5,c240c4061717ac1806ae6ee72be3533b,20920.0,Rio De Janeiro,RJ,"Avila, Ramirez and Allen",butlermichelle@yahoo.com,Southeast,5/5/2018 17:40
6,e49c26c3edfa46d227d5121a6b6e4d37,55325.0,brejao,PE,Gordon-Barrera,hernandezerik@gmail.com,Northeast,2/1/2017 18:51
7,1b938a7ec6ac5061a66a3766e0e75f90,16304.0,penapolis,SP,"Campbell, Torres and Torres",williamschristopher@hotmail.com,Southeast,9/19/2017 17:15
8,768a86e36ad6aae3d03ee3c6433d61df,1529.0,sao paulo,SP,Hanson Ltd,dianawilson@hotmail.com,Southeast,6/16/2018 11:51
9,ccc4bbb5f32a6ab2b7066a4130f114e3,80310.0,curitiba,PR,"Taylor, Williams and Roberts",lorrainedavis@gmail.com,South,1/4/2017 13:29
10,8cb7c5ddf41f4d506eba76e9a4702a25,75110.0,anapolis,GO,Chandler-House,monicagomez@yahoo.com,Central-West,2/4/2018 22:52
11,a7a9b880c49781da66651ccf4ba9ac38,13530.0,ITIRAPINA,sp,Brown-Parks,debbie21@gmail.com,Southeast,5/13/2018 16:16
12,8bd0f31cf0a614c658f6763bd02dea69,1222.0,sao paulo,sp,Werner LLC,riveratroy@yahoo.com,Southeast,1/15/2017 10:55
13,05a48cc8859962767935ab9087417fbb,5372.0,sao paulo,SP,"Richardson, Sutton and Ball",jbaker@hotmail.com,Southeast,7/30/2018 12:05
14,7b8e8ec35bad4b0ef7e3963650b0a87b,88705.0,Tubarao,sc,"Woods, Miller and Davis",johnsonmelinda@yahoo.com,South,3/30/2018 10:44
15,1444c08e64d55fb3c25f0f09c07ffcf2,42738.0,lauro de freitas,BA,Washington and Sons,alexander60@hotmail.com,Northeast,4/25/2018 12:23
16,166e8f1381e09651983c38b1f6f91c11,88780.0,imbituba,SC,Knapp Inc,fgrant@yahoo.com,South,7/22/2017 1:53
17,e38db885400cd35c71dfd162f2c1dbcf,70740.0,brasilia,DF,Evans Group,ywilliams@hotmail.com,Central-West,8/17/2017 19:32
18,d2e753bb80b7d4faa77483ed00edc8ca,45810.0,porto seguro,BA,Kaufman-Sanchez,jeffrey36@hotmail.com,Northeast,10/3/2017 16:05
19,f9ec7093df3a7b346b7bcf7864069ca3,5138.0,Sao Paulo,sp,Rollins-Wood,melissa15@hotmail.com,Southeast,7/2/2018 6:46
20,4e6015589b781adaa5ce7f1892d06bb1,11440.0,guaruja,sp,"Stokes, Underwood and Potter",lkelly@gmail.com,Southeast,10/9/2017 19:42
21,4cf490a58259286ada5ba8525ba9e84a,14910.0,TABATINGA,sp,David PLC,frankcarter@yahoo.com,Southeast,3/11/2017 13:06
22,f7496d659ca9fdaf323c0aae84176632,4156.0,sao paulo,sp,"Chandler, Williams and Green",jessicagonzalez@yahoo.com,Southeast,10/5/2016 10:55
23,2ff97219cb8622eaf3cd89b7d9c09824,13320.0,salto,sp,"Schmidt, Carroll and Barton",ndavenport@hotmail.com,Southeast,2/13/2018 17:17
24,8bd0e3abda539b9479c4b44a691be1ec,98910.0,tres de maio,RS,Brown PLC,brandon25@yahoo.com,South,5/26/2017 19:02
25,2a1348e9addc1af5aaa619b1a3679d6b,30494.0,belo horizonte,mg,Haynes-Martin,hodgespatricia@hotmail.com,Southeast,1/11/2017 1:16
26,2078fe5066350e7d220c0ad3a3bbc6c1,86707.0,ARAPONGAS,pr,"Mcmillan, Cochran and Cisneros",trevordeleon@hotmail.com,South,3/25/2018 15:49
27,116ccb1a1604bc88e4d234a8c23f33de,9850.0,Sao@Bernardo@Do@Campo,SP,Bishop-Cummings,john24@hotmail.com,Southeast,11/6/2017 12:05
28,430315b7bb4b6e4b3c978f9dfa9b0558,4857.0,sao paulo,SP,"Hardy, Wolf and Wilson",chris49@gmail.com,Southeast,1/6/2018 23:49
29,406822777a0b9eb5c50e442dd4cd3ec5,18500.0,tatui,sp,Griffith-Deleon,heather43@yahoo.com,Southeast,10/27/2017 16:01
30,4dbd95a08b31ede5c82d3f861cb1ce1a,80210.0,curitiba,pr,Castillo-Barnes,amandaflores@hotmail.com,South,5/18/2017 11:56
31,e9e446d01bd10a97a8ffcfc4a3a20cb2,2261.0,Sao Paulo,SP,"White, Allen and Horne",dryan@gmail.com,Southeast,6/2/2018 19:53
32,d52cbce9845184537284a23c3bc3da0e,88495.0,garopaba,sc,Perez LLC,zavalamichelle@hotmail.com,South,1/30/2018 0:54
33,d9a84e1403de8da0c3aa531d6d108ba6,3562.0,sao paulo,sp,Taylor-Brown,gstafford@hotmail.com,Southeast,2/19/2018 15:13
34,9c690ceacd5c66731bf443ea810195cb,37650.0,camanducaia,MG,Brewer-Allen,jordanbenjamin@yahoo.com,Southeast,8/19/2017 20:06
35,1f9ab4708f3056ede07124aad39a2554,17602.0,tupa,SP,Tyler and Sons,teresasmith@hotmail.com,Southeast,1/24/2017 18:00
36,1961c3e1272bfeceb05d0b78b5bbfdaf,7241.0,guarulhos,SP,"Ray, Shah and Garcia",kiararodriguez@yahoo.com,Southeast,7/25/2018 23:32
37,d3e7d37c0df9aef383f3f2a15b0dddfb,83050.0,sao jose dos pinhais,PR,Rogers-Gray,heatherfuller@hotmail.com,South,7/19/2018 11:50
38,ec2e006556300a79a5a91e4876ab3a56,3445.0,SAO PAULO,SP,Henson Inc,rosslorraine@yahoo.com,Southeast,1/30/2018 14:26
39,b2a6d334e2833acea353624840e25a0e,4133.0,sao paulo,sp,Moss Ltd,knightmichelle@yahoo.com,Southeast,8/2/2017 18:56
40,d3674f271c91f824f82d24d92011f669,72233.0,BRASILIA,df,"Brown, Rubio and Kirk",durandiane@hotmail.com,Central-West,7/4/2017 13:26
41,768de2a4fc06aacecb9a586ccc30746a,70645.0,Brasilia,df,"Reed, Wright and Rodriguez",jflores@gmail.com,Central-West,8/5/2017 21:31
42,a81466620e46a6970b22ef40379fdfc9,88730.0,Sao Ludgero,SC,Martin and Sons,keithaguilar@gmail.com,South,10/8/2017 10:15
43,5c030029b5916fed0986310385ec9009,88075.0,SAO JOSE,SC,Campbell-Bennett,richardgrant@yahoo.com,South,6/10/2018 11:43
44,c0f783394e37cd9c9d7f5f81141450fa,13416.0,Piracicaba,SP,"Jackson, Monroe and Meyer",solislinda@hotmail.com,Southeast,11/7/2017 13:49
45,c353f8fc0ce8344999f17d578eb69a5e,90850.0,PORTO ALEGRE,RS,Coffey Inc,dustinjenkins@hotmail.com,South,1/20/2017 7:23
46,8444e55c1f13cd5c179851e5ca5ebd00,37584.0,congonhal,mg,Ellis LLC,hillpamela@yahoo.com,Southeast,3/10/2017 23:13
47,28a26ebce31d5918b181ede016fd693b,31950.0,belo horizonte,MG,Hanna Inc,jennifer87@gmail.com,Southeast,8/10/2018 15:55
48,41ab63a91b8b264e8c8780368bf1dd5b,31555.0,BELO HORIZONTE,MG,"Griffin, Blackburn and Yoder",riveraemily@yahoo.com,Southeast,10/2/2017 23:06
49,8759e7aedd644f487315e5860962f162,9251.0,santo andre,SP,"Watkins, Bennett and Williams",ricardocochran@hotmail.com,Southeast,11/25/2017 14:16

In [24]:
sellers_df.info() # checking for basic info about the sellers table - number of columns, rows, column names & types, etc..

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3109 entries, 0 to 3108
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3109 non-null   object
 1   seller_zip_code_prefix  3109 non-null   float64
 2   seller_city             3109 non-null   object
 3   seller_state            3109 non-null   object
 4   seller_company_name     3109 non-null   object
 5   seller_email            3095 non-null   object
 6   region                  3109 non-null   object
 7   registration_date       3095 non-null   object
dtypes: float64(1), object(7)
memory usage: 194.4+ KB

In [25]:
sellers_df.describe() # Description of key columns in the sellers table, to gain a better understanding..

       seller_zip_code_prefix
count                  3109.0
mean                      inf
std                       NaN
min                    1001.0
25%                    7113.0
50%                   15015.0
75%                   70767.0
max                       inf

In [26]:
# Deciding on which columns to drop - sellers table:
# Personal info seemed irrelevant for our analytics therefore it appeared reasonable to remove
# Furthermore, looking at specific ZIP codes is too granular in our opinion. 
# Region also appeared irrelevant and we wanted to be consistent with the region removal for customers.
columns_to_drop = ['seller_email', 'seller_zip_code_prefix', 'region']

sellers_df.drop(columns = columns_to_drop, inplace = True)

# Remove additional unusual sellers:
unusual_sellers = sellers_df[sellers_df['seller_id'].str.startswith('j49587rd')]
sellers_df = sellers_df[~sellers_df['seller_id'].str.startswith('j49587rd')]

sellers_df.info() # checking for basic info about the sellers table - number of columns, rows, column names & types, etc..

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3095 entries, 0 to 3108
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   seller_id            3095 non-null   object
 1   seller_city          3095 non-null   object
 2   seller_state         3095 non-null   object
 3   seller_company_name  3095 non-null   object
 4   registration_date    3095 non-null   object
dtypes: object(5)
memory usage: 145.1+ KB

In [27]:
before = len(sellers_df)
# Remove duplicate seller records based on seller's identifier = 'seller_id'
# So that only the first occurrence is kept; the rest are dropped:
sellers_df = sellers_df.drop_duplicates(subset='seller_id', keep='first')
sellers_df.reset_index(drop=True, inplace=True)

# Drop rows where the seller_id is missing (NaN) - this makes joining & drawing conclusions on sellers impossible!
# sellers_df = sellers_df.dropna(subset=['seller_id'])
after = len(sellers_df)
print(f"Removed {before - after} duplicate sellers.") # Log number of duplicates removed

# SANITY CHECK - check whether the number of remaining duplicates is indeed 0 now:
# Count how many duplicate unique IDs still remain:
remaining_duplicates = sellers_df.duplicated(subset='seller_id').sum()
print(f"Remaining duplicated seller_id rows: {remaining_duplicates}")

sellers_df.info() # checking for basic info about the sellers table - number of columns, rows, column names & types, etc..

Removed 0 duplicate sellers.
Remaining duplicated seller_id rows: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   seller_id            3095 non-null   object
 1   seller_city          3095 non-null   object
 2   seller_state         3095 non-null   object
 3   seller_company_name  3095 non-null   object
 4   registration_date    3095 non-null   object
dtypes: object(5)
memory usage: 121.0+ KB

In [28]:
# Checking for missing values in the sellers table, and if their percentage is negligible:
print(sellers_df.isnull().sum()) # Printing the number of missing values in the sellers table
print("\n")
print(sellers_df.isnull().mean()) # Printing the proportion of missing values in the sellers table

seller_id              0
seller_city            0
seller_state           0
seller_company_name    0
registration_date      0
dtype: int64


seller_id              0.0
seller_city            0.0
seller_state           0.0
seller_company_name    0.0
registration_date      0.0
dtype: float64

In [29]:
# Check sellers not found in seller table:
print("Checking if order_items have seller_id not in sellers table:")
print((~order_items_df["seller_id"].isin(sellers_df["seller_id"])).sum()) # Printing the number of "unidentified" sellers
print("\n")
print((~order_items_df["seller_id"].isin(sellers_df["seller_id"])).mean()) # Printing the proportion of "unidentified" sellers

# Filter them out:
order_items_df = order_items_df[order_items_df["seller_id"].isin(sellers_df["seller_id"])]

Checking if order_items have seller_id not in sellers table:
0


0.0

We can see that no seller appears only in the order-items table without appearing in the sellers table too.

In [30]:
# Looking for orders linked to more than one seller:
sellers_per_order = order_items_df.groupby("order_id")["seller_id"].nunique()
multi_seller_orders = (sellers_per_order > 1).sum()
print("Orders linked to more than one seller_id:")
print(multi_seller_orders) # Printing the number of orders linked to more than one seller in the order items table
print("\n")
print(multi_seller_orders / len(order_items_df)) # Printing the proportion of orders linked to more than 1 seller in the order items table

Orders linked to more than one seller_id:
643


0.011463514645843362

A small but noticeable portion of orders (643) are associated with more than 1 seller.

In [31]:
# Standardize city/state columns and remove currency symbols if needed - for sellers:
sellers_df["seller_city"] = sellers_df["seller_city"].apply(clean_string)
sellers_df["seller_state"] = sellers_df["seller_state"].str.strip().str.upper()

sellers_df.head(50)

,seller_id,seller_city,seller_state,seller_company_name,registration_date
0,3442f8959a84dea7ee197c632cb2df15,campinas,SP,Chavez-Torres,5/2/2017 16:12
1,d1b65fc7debc3361ea86b5f14c68d2e2,mogi guacu,SP,"Simpson, Ruiz and Klein",3/25/2017 9:00
2,ce3ad9de960102d0677a81f5d0bb7b2d,rio de janeiro,RJ,Gordon Ltd,7/27/2018 12:20
3,c0f3eea2e14555b6faeea3dd58c1b1c3,sao paulo,SP,Welch PLC,7/31/2018 0:26
4,51a04a8a6bdcb23deccc82b0b80742cf,braganca paulista,SP,Williams-Garcia,11/11/2017 12:04
5,c240c4061717ac1806ae6ee72be3533b,rio de janeiro,RJ,"Avila, Ramirez and Allen",5/5/2018 17:40
6,e49c26c3edfa46d227d5121a6b6e4d37,brejao,PE,Gordon-Barrera,2/1/2017 18:51
7,1b938a7ec6ac5061a66a3766e0e75f90,penapolis,SP,"Campbell, Torres and Torres",9/19/2017 17:15
8,768a86e36ad6aae3d03ee3c6433d61df,sao paulo,SP,Hanson Ltd,6/16/2018 11:51
9,ccc4bbb5f32a6ab2b7066a4130f114e3,curitiba,PR,"Taylor, Williams and Roberts",1/4/2017 13:29
10,8cb7c5ddf41f4d506eba76e9a4702a25,anapolis,GO,Chandler-House,2/4/2018 22:52
11,a7a9b880c49781da66651ccf4ba9ac38,itirapina,SP,Brown-Parks,5/13/2018 16:16
12,8bd0f31cf0a614c658f6763bd02dea69,sao paulo,SP,Werner LLC,1/15/2017 10:55
13,05a48cc8859962767935ab9087417fbb,sao paulo,SP,"Richardson, Sutton and Ball",7/30/2018 12:05
14,7b8e8ec35bad4b0ef7e3963650b0a87b,tubarao,SC,"Woods, Miller and Davis",3/30/2018 10:44
15,1444c08e64d55fb3c25f0f09c07ffcf2,lauro de freitas,BA,Washington and Sons,4/25/2018 12:23
16,166e8f1381e09651983c38b1f6f91c11,imbituba,SC,Knapp Inc,7/22/2017 1:53
17,e38db885400cd35c71dfd162f2c1dbcf,brasilia,DF,Evans Group,8/17/2017 19:32
18,d2e753bb80b7d4faa77483ed00edc8ca,porto seguro,BA,Kaufman-Sanchez,10/3/2017 16:05
19,f9ec7093df3a7b346b7bcf7864069ca3,sao paulo,SP,Rollins-Wood,7/2/2018 6:46
20,4e6015589b781adaa5ce7f1892d06bb1,guaruja,SP,"Stokes, Underwood and Potter",10/9/2017 19:42
21,4cf490a58259286ada5ba8525ba9e84a,tabatinga,SP,David PLC,3/11/2017 13:06
22,f7496d659ca9fdaf323c0aae84176632,sao paulo,SP,"Chandler, Williams and Green",10/5/2016 10:55
23,2ff97219cb8622eaf3cd89b7d9c09824,salto,SP,"Schmidt, Carroll and Barton",2/13/2018 17:17
24,8bd0e3abda539b9479c4b44a691be1ec,tres de maio,RS,Brown PLC,5/26/2017 19:02
25,2a1348e9addc1af5aaa619b1a3679d6b,belo horizonte,MG,Haynes-Martin,1/11/2017 1:16
26,2078fe5066350e7d220c0ad3a3bbc6c1,arapongas,PR,"Mcmillan, Cochran and Cisneros",3/25/2018 15:49
27,116ccb1a1604bc88e4d234a8c23f33de,sao bernardo do campo,SP,Bishop-Cummings,11/6/2017 12:05
28,430315b7bb4b6e4b3c978f9dfa9b0558,sao paulo,SP,"Hardy, Wolf and Wilson",1/6/2018 23:49
29,406822777a0b9eb5c50e442dd4cd3ec5,tatui,SP,Griffith-Deleon,10/27/2017 16:01
30,4dbd95a08b31ede5c82d3f861cb1ce1a,curitiba,PR,Castillo-Barnes,5/18/2017 11:56
31,e9e446d01bd10a97a8ffcfc4a3a20cb2,sao paulo,SP,"White, Allen and Horne",6/2/2018 19:53
32,d52cbce9845184537284a23c3bc3da0e,garopaba,SC,Perez LLC,1/30/2018 0:54
33,d9a84e1403de8da0c3aa531d6d108ba6,sao paulo,SP,Taylor-Brown,2/19/2018 15:13
34,9c690ceacd5c66731bf443ea810195cb,camanducaia,MG,Brewer-Allen,8/19/2017 20:06
35,1f9ab4708f3056ede07124aad39a2554,tupa,SP,Tyler and Sons,1/24/2017 18:00
36,1961c3e1272bfeceb05d0b78b5bbfdaf,guarulhos,SP,"Ray, Shah and Garcia",7/25/2018 23:32
37,d3e7d37c0df9aef383f3f2a15b0dddfb,sao jose dos pinhais,PR,Rogers-Gray,7/19/2018 11:50
38,ec2e006556300a79a5a91e4876ab3a56,sao paulo,SP,Henson Inc,1/30/2018 14:26
39,b2a6d334e2833acea353624840e25a0e,sao paulo,SP,Moss Ltd,8/2/2017 18:56
40,d3674f271c91f824f82d24d92011f669,brasilia,DF,"Brown, Rubio and Kirk",7/4/2017 13:26
41,768de2a4fc06aacecb9a586ccc30746a,brasilia,DF,"Reed, Wright and Rodriguez",8/5/2017 21:31
42,a81466620e46a6970b22ef40379fdfc9,sao ludgero,SC,Martin and Sons,10/8/2017 10:15
43,5c030029b5916fed0986310385ec9009,sao jose,SC,Campbell-Bennett,6/10/2018 11:43
44,c0f783394e37cd9c9d7f5f81141450fa,piracicaba,SP,"Jackson, Monroe and Meyer",11/7/2017 13:49
45,c353f8fc0ce8344999f17d578eb69a5e,porto alegre,RS,Coffey Inc,1/20/2017 7:23
46,8444e55c1f13cd5c179851e5ca5ebd00,congonhal,MG,Ellis LLC,3/10/2017 23:13
47,28a26ebce31d5918b181ede016fd693b,belo horizonte,MG,Hanna Inc,8/10/2018 15:55
48,41ab63a91b8b264e8c8780368bf1dd5b,belo horizonte,MG,"Griffin, Blackburn and Yoder",10/2/2017 23:06
49,8759e7aedd644f487315e5860962f162,santo andre,SP,"Watkins, Bennett and Williams",11/25/2017 14:16

In [32]:
sellers_df.describe() # Description of key columns in the TRANSFORMED sellers table, to gain a better understanding..

,seller_id,seller_city,seller_state,seller_company_name,registration_date
count,3095,3095,3095,3095,3095
unique,3095,620,23,2895,3072
top,3442f8959a84dea7ee197c632cb2df15,sao paulo,SP,Smith and Sons,2/7/2017 11:11
freq,1,684,1849,7,2

### EDA - Reviews:

In [33]:
reviews_df.head(50)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,review_summary
0,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5.0,NaN,Parabéns lojas lannister adorei comprar pela I...,3/1/2018 0:00,3/2/2018 10:26,Excellent service!
1,15197aa66ff4d0650b5434f1b46cda19,b18dcdf73be66366873cd26c5724d1dc,1.0,NaN,NaN,4/13/2018 0:00,4/16/2018 0:39,Very disappointed
2,8670d52e15e00043ae7de4c01cc2fe06,b9bf720beb4ab3728760088589c62129,4.0,recomendo,aparelho eficiente. no site a marca do aparelh...,5/22/2018 0:00,5/23/2018 16:45,Very satisfied
3,c9cfd2d5ab5911836ababae136c3a10c,cdf9aa68e72324eeb25c7de974696ee2,5.0,NaN,NaN,12/23/2017 0:00,12/26/2017 14:36,Excellent service!
4,96052551d87e5f62e6c9f6974ec392e9,3d374c9e46530bb5ed4a7648915306a6,5.0,NaN,NaN,12/19/2017 0:00,12/20/2017 10:25,Excellent service!
5,9a0abbb668bafb95a6d2b05db43284c4,d7bd0e4afdf94846eb73642b4e3e75c3,3.0,NaN,NaN,4/30/2017 0:00,5/3/2017 0:02,It was okay
6,9314d6f9799f5bfba510cc7bcd468c01,0dacf04c5ad59fd5a0cc1faa07c34e39,2.0,NaN,"GOSTARIA DE SABER O QUE HOUVE, SEMPRE RECEBI E...",1/18/2018 0:00,1/20/2018 21:25,Had some issues
7,8e15a274d95600fa14f8be64e37a0e67,ff1581e08b3011021e7c7de592ddc81e,5.0,NaN,NaN,3/24/2018 0:00,3/26/2018 15:58,Excellent service!
8,fdbdb2629a7cde0f66657acc92084e7f,70a752414a13d09cc1f2b437b914b28e,3.0,NaN,NaN,9/29/2017 0:00,10/2/2017 1:12,It was okay
9,373cbeecea8286a2b66c97b1b157ec46,583174fbe37d3d5f0d6661be3aad1786,inf,Não chegou meu produto,Péssimo,8/15/2018 0:00,8/15/2018 4:10,Very disappointed
10,80c70bc263881ba6525f6cee1d94ac87,ae168dfba236919411fe08f336fefa44,5.0,NaN,NaN,3/17/2018 0:00,4/4/2018 19:41,Excellent service!
11,d21bbc789670eab777d27372ab9094cc,4fc44d78867142c627497b60a7e0228a,5.0,Ótimo,Loja nota 10,7/10/2018 0:00,7/11/2018 14:10,Excellent service!
12,7bcb3c758c67f23638262c731493e848,7c9956750739a47dba7a6928ba2f0245,5.0,NaN,NaN,9/9/2017 0:00,10/17/2017 2:25,Excellent service!
13,0e0190b9db53b689b285d3f3916f8441,79832b7cb59ac6f887088ffd686e1d5e,5.0,NaN,obrigado pela atençao amim dispensada,12/1/2017 0:00,12/9/2017 22:58,Excellent service!
14,66e4430c5bc6b7e3773886bf1c14d912,84cec4f65c7a4f2f54c294a30224a594,5.0,NaN,NaN,6/23/2017 0:00,6/27/2017 0:52,Excellent service!
15,bf566b3910c328733baf7fca7d2be041,a59a15e4b6085c752d338431dc68d464,4.0,NaN,NaN,11/1/2017 0:00,11/1/2017 20:25,Very satisfied
16,2c5e27fc178bde7ac173c9c62c31b070,0ce9a24111d850192a933fcaab6fbad3,1.0,NaN,Não gostei ! Comprei gato por lebre,12/13/2017 0:00,12/16/2017 7:14,Very disappointed
17,58044bca115705a48fe0e00a21390c54,68e55ca79d04a79f20d4bfc0146f4b66,1.0,NaN,Sempre compro pela Internet e a entrega ocorre...,4/8/2018 0:00,4/9/2018 12:22,Very disappointed
18,c92cdd7dd544a01aa35137f901669cdf,37e7875cdce5a9e5b3a692971f370151,4.0,Muito bom.,Recebi exatamente o que esperava. As demais en...,6/7/2018 0:00,6/9/2018 18:44,Very satisfied
19,c0f4c8301f8c29d6f53d239e194bb4c2,04db86e3493b3724ac4bd3c9a397e23c,5.0,NaN,NaN,9/12/2017 0:00,9/13/2017 14:33,Excellent service!
20,9fd59cd04b42f600df9f25e54082a8d1,3c314f50bc654f3c4e317b055681dff9,inf,NaN,Nada de chegar o meu pedido.,4/21/2017 0:00,4/23/2017 5:37,Very disappointed
21,eb26c2bfb5030f57dcef30d3f111eb1e,88096595631e8d26b658306256e3ce34,1.0,NaN,NaN,2/8/2018 0:00,2/10/2018 4:28,Very disappointed
22,23f570a1b0db9566bee04521a0410c54,82c5edeff15e09a0460d292874766132,5.0,NaN,NaN,9/22/2017 0:00,9/23/2017 13:57,Excellent service!
23,1a74d76543e1b419b48daebee364c281,14861b02076ed7da9471988265a0104b,5.0,NaN,NaN,7/14/2018 0:00,7/16/2018 20:09,Excellent service!
24,94c4db81ff5c234f53b54a15a8a41583,3fb155b4897652f5cdf1b5efff32a465,5.0,NaN,NaN,12/15/2017 0:00,12/17/2017 14:43,Excellent service!
25,6eab2c9b7ea4975a0b0357a4c464b356,55101b36a58251926b6cbfdb540c0461,4.0,NaN,NaN,5/31/2018 0:00,6/4/2018 23:44,Very satisfied
26,500c05500aa275953129f49799ee5c73,8a9424899aac432d80d8e580932b5ee9,5.0,MT lindo,MT lindo,7/25/2018 0:00,7/25/2018 21:37,Excellent service!
27,399133d47ddc5f40df57c1ceba4e4540,603d76b730c972775ccf2a910bf23490,5.0,NaN,NaN,4/3/2018 0:00,4/3/2018 23:39,Excellent service!
28,8a64945e89526e68bc16383391590232,71960e6af960919256a958a3633e1040,inf,NaN,"Amei achei lindo ,muito delicado adorei",4/18/2018 0:00,4/18/2018 22:30,Excellent service!
29,c0dbf9a325d2a2fece43873be47191e1,b324f4270850cbba23533b9a9d3434a9,4.0,NaN,"Ótima loja para parceria: rápidíssima, produto...",4/4/2018 0:00,4/6/2018 15:43,Very satisfied
30,e12a8d938f3092e010627d001f91d137,b3dca2e199b13ddabab4ed77d79ee9f6,5.0,NaN,NaN,6/3/2018 0:00,6/6/2018 12:41,Excellent service!
31,109b5ce2dd11bb8460eff3b86da6fefc,25362fbf6aac4b01a28dee1e076acc26,5.0,Ótimo Produto!,Recomendo o vendedor...,8/17/2018 0:00,8/17/2018 21:47,Excellent service!
32,750d4311e8ddb6cba549ee86f06f0cca,4b32a4cdfc1b80066a8ee3a4b7a2094f,5.0,NaN,"Produto entregue como solicitado, e com muita ...",8/9/2017 0:00,8/9/2017 12:03,Excellent service!
33,2a3eba09af2fbcd3a20580e62e7b7465,366df9c0b0d5d46f8afc476dc4ca7671,4.0,NaN,NaN,1/31/2018 0:00,2/1/2018 2:09,Very satisfied
34,60c714ed14cef913944a3147094a4742,9ac05114800f02bfaa783bd76842dbe2,1.0,NaN,"Produto muito inferior, mal acabado.",7/3/2018 0:00,7/5/2018 19:03,Very disappointed
35,b42460e68676135205af8b8c13baf6ae,5b2e79428198e5ce482f9ec1bd1014c3,5.0,NaN,NaN,7/29/2017 0:00,8/1/2017 18:43,Excellent service!
36,c577faa817a66c6f1492728435f53cd0,97e11582eb8cdd7b83e35a4243d81f79,5.0,NaN,NaN,1/12/2018 0:00,1/14/2018 22:44,Excellent service!
37,8c6537ae1519a3c0375e4fd45438344b,a9a75c64cb5e9f7bc92e68ec13f05c45,5.0,NaN,NaN,4/6/2018 0:00,4/7/2018 3:11,Excellent service!
38,34e5d18f3bb64d586812f8f1d8b53097,bf6861804f97bcf7644f603c5bcf7784,4.0,NaN,NaN,3/31/2017 0:00,4/1/2017 23:43,Very satisfied
39,5733e2aeeb52b99d044a2a3644e1305d,5abb6c1ea24afdc6e26076bfaa7539cb,5.0,NaN,NaN,2/23/2018 0:00,2/23/2018 11:06,Excellent service!
40,9bdb93e1339cdbc9bbfd95c5df00f82b,72b9d86fe4e984d9879013b9ecbb25db,5.0,NaN,NaN,4/24/2018 0:00,4/25/2018 20:28,Excellent service!
41,0bd4dcc4f6c4621baf37f73495cad8c4,a11cd01ac67beef7e8bf09740d8a35c1,3.0,NaN,Entrega no prazo,3/23/2017 0:00,3/23/2017 21:20,It was okay
42,50a1eaa2f96d6f3e02d0cd68d92bab75,4a7cf245701068d38d441791b735e4bd,5.0,***** Recomendo,Super rápido.,5/10/2018 0:00,5/11/2018 3:08,Excellent service!
43,1090909faae22e5ab76903e8493063f1,a1341cb83bbf1b47392f4a3685d56bad,1.0,NaN,NaN,3/7/2018 0:00,3/7/2018 15:32,Very disappointed
44,31b63ea961f9f43c21209d729d1c78e5,46d2d651f006b9b9440d1aa37d89c894,5.0,NaN,NaN,8/17/2018 0:00,8/31/2018 3:13,Excellent service!
45,4d36f8266245b00faebc520e9cd963c0,b1cc044d321053348a5e482ca7e6b2e3,2.0,NaN,NaN,3/17/2018 0:00,3/17/2018 9:29,Had some issues
46,436f71c9cc0c1aab7f51dc0cd0820516,c676e726f8a14a9527b41b9dc50ca1bc,5.0,NaN,Satisfeito\r\n,11/22/2017 0:00,11/22/2017 14:45,Excellent service!
47,a47baae36cb2d3f2d8ab6449aee69ee4,2c1f923bfda154d36f6dad2084cbde2e,4.0,NaN,NaN,12/19/2017 0:00,12/22/2017 12:43,Very satisfied
48,97d4feff1fd7129bee6cde095b9dac2a,b4039fffc67d7a5a75a3ba881d75e402,5.0,NaN,estao de parabens... sempre chega com muiiita ...,6/24/2017 0:00,6/29/2017 13:48,Excellent service!
49,352609f0f2d34ce5d3b8de817ee948d5,96b947c986b42f213c9e6b8ccccedb89,3.0,Não recebi o produto.,NaN,8/25/2018 0:00,8/25/2018 20:53,It was okay

In [34]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49308 entries, 0 to 49307
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                49308 non-null  object
 1   order_id                 49308 non-null  object
 2   review_score             49308 non-null  float64
 3   review_comment_title     5743 non-null   object
 4   review_comment_message   20230 non-null  object
 5   review_creation_date     49308 non-null  object
 6   review_answer_timestamp  49308 non-null  object
 7   review_summary           49308 non-null  object
dtypes: float64(1), object(7)
memory usage: 3.0+ MB

In [35]:
reviews_df.describe() # Description of key columns in the reviews table, to gain a better understanding..

       review_score
count       49308.0
mean            inf
std             NaN
min             1.0
25%             4.0
50%             5.0
75%             5.0
max             inf

In [36]:
# Ensure review_score is numeric (in case it was loaded as object/string):
reviews_df['review_score'] = pd.to_numeric(reviews_df['review_score'], errors='coerce')

# Mark all invalid values (outside 1 to 5) as -1 - this helps detect corrupted or out of range review scores:
reviews_df.loc[~reviews_df['review_score'].between(1, 5), 'review_score'] = -1

# Log the number of invalid entries we caught:
invalid_reviews = (reviews_df['review_score'] == -1).sum()
print(f"Invalid review scores detected and set to -1: {invalid_reviews}")

# Calculate the percentage of invalid scores
invalid_ratio = invalid_reviews / len(reviews_df)

print(f"Invalid review scores: {invalid_reviews} out of {len(reviews_df)} ({invalid_ratio:.2%})")

Invalid review scores detected and set to -1: 13
Invalid review scores: 13 out of 49308 (0.03%)

In [37]:
# Reused reviews (same score + message across multiple orders)
reused_reviews = reviews_df.groupby(["review_score", "review_comment_message"]).order_id.nunique()
reused_across_orders = (reused_reviews > 1).sum()
print("Identical reviews used across multiple orders (same text + score):")
print(reused_across_orders)
print(reused_across_orders / len(reviews_df))

Identical reviews used across multiple orders (same text + score):
508
0.010302587815364648

In [38]:
# Check for mismatches: does a single order_id have multiple different review_ids?
duplicate_reviews = reviews_df.groupby('order_id')['review_id'].nunique()
suspicious = duplicate_reviews[duplicate_reviews > 1]

print(f"Number of order_ids with multiple review_ids: {len(suspicious)} out of {len(reviews_df)} ({len(suspicious) / len(reviews_df):.2%})")


# Check for mismatches: does a single review_id have multiple different order_ids?
# If a single review_id is associated with multiple orders, we assume it's a data entry error (since reviews are per order):
duplicate_reviews = reviews_df.groupby('review_id')['order_id'].nunique()
suspicious = duplicate_reviews[duplicate_reviews > 1]

print(f"Number of review_ids with multiple order_ids: {len(suspicious)} out of {len(reviews_df)} ({len(suspicious) / len(reviews_df):.2%})")

reviews_df = reviews_df[['order_id','review_id', 'review_score', 'review_creation_date']]
# Strategy: Keep only the earliest order for each review_id.
reviews_df = reviews_df.sort_values(by="review_creation_date").drop_duplicates(subset="review_id", keep="first")

Number of order_ids with multiple review_ids: 249 out of 49308 (0.50%)
Number of review_ids with multiple order_ids: 176 out of 49308 (0.36%)

In [39]:
# Deciding on which columns to drop - reviews table:
# Everything which is not the raw review score or key identifiers - is not a column of interest, in our opinion:
reviews_df = reviews_df[['order_id','review_id', 'review_score']]
reviews_df.reset_index(drop=True, inplace=True)

reviews_df.info() # checking for basic info about the reviews table - number of columns, rows, column names & types, etc..

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49126 entries, 0 to 49125
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      49126 non-null  object
 1   review_id     49126 non-null  object
 2   review_score  49126 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.1+ MB

In [40]:
# Choose the aggregation strategy (here: took the mean of the review scores grouped by order):
reviews_df = reviews_df.groupby('order_id', as_index=False)['review_score'].mean()

# Rename for clarity:
reviews_df.rename(columns={'review_score': 'average_review_score'}, inplace=True)
reviews_df.reset_index(drop=True, inplace=True)

# Now this can be merged to orders table via 'order_id'
reviews_df.head(50)

                            order_id  average_review_score
0   00010242fe8c5a6d1ba2dd792cb16214                   5.0
1   000229ec398224ef6ca0657da4fc703e                   5.0
2   00024acbcdf0a6daa1e931b038114c75                   4.0
3   00054e8431b9d7675808bcb819fb4a32                   4.0
4   000576fe39319847cbb9d288c5617fa6                   5.0
5   0005a1a1728c9d785b8e2b08b904576c                   1.0
6   0005f50442cb953dcd1d21e1fb923495                   4.0
7   00061f2a7bc09da83e415a52dc8a4af1                   5.0
8   0006ec9db01a64e59a68b2c340bf65a7                   5.0
9   0008288aa423d2a3f00fcb17cd7d8719                   5.0
10  000e906b789b55f64edcb1f84030f90d                   3.0
11  0010dedd556712d7bb69a19cb7bbd37a                   1.0
12  00119ff934e539cf26f92b9ef0cdfed8                   5.0
13  0011d82c4b53e22e84023405fb467e57                   4.0
14  00125cb692d04887809806618a2a145f                   5.0
15  00130c0eee84a3d909e75bc08c5c3ca1                   5.0
16  0013503b13da1eac686219390b7d641b                   5.0
17  001427c0ec99cf8af737bd88e92fd444                   2.0
18  001862358bf858722e1e2ae000cfed8b                   5.0
19  001ab0a7578dd66cd4b0a71f5b6e1e41                   4.0
20  001ac194d4a326a6fa99b581e9a3d963                   5.0
21  001e7ba991be1b19605ca0316e7130f9                   5.0
22  001e7cf2ad6bef3ade12ebc56ceaf0f3                   1.0
23  00229e4e43f7a7e0b9dd819ad43268d3                   5.0
24  0025081dcf9330f9a5052ae82c6ce396                   5.0
25  00259a44fcad3fc0474329e925d14fc3                   4.0
26  0025c5d1a8ca53a240ec2634bb4492ea                   5.0
27  0026a368634b6e6f34f33b1499773a30                   4.0
28  00275bce676303c3bfd7292aefdfa223                   5.0
29  002834535f7a609a5c68266f173fa59e                   5.0
30  0028de0ca693a1bb26448916a81105cc                   4.0
31  002955b0acc63d04f6724a31967e82bd                   5.0
32  002af7fa9eb99d1456bceb6a13d6fc0b                   4.0
33  002b4e6fa42cd4a22cc86abc18fe9c05                   5.0
34  002d040018d12a3853c059f7f23ab5b1                   3.0
35  002f16b7bc4530031b7d90f791b12d8a                   5.0
36  002f19a65a2ddd70a090297872e6d64e                   3.0
37  002f98c0f7efd42638ed6100ca699b42                   5.0
38  0030ff924c38549807645976adeef2c0                   5.0
39  00310b0c75bb13015ec4d82d341865a4                   1.0
40  00337fe25a3780b3424d9ad7c5a4b35e                   5.0
41  003423b755b562962a6225a8de40d12e                   3.0
42  0035e6b7ade84b3f5b86bd49814793df                   5.0
43  00378c6c981f234634c0b9d6128df6dd                   4.0
44  0039500db36d50d7d0bfaf23723550f3                   5.0
45  003a94f778ef8cfd50247c8c1b582257                   1.0
46  003cc6161d7a2593f2525cce0c330d32                   5.0
47  003d0634280ff3d1d3a54459349a6899                   3.0
48  003d804eef0e1b856881cd18e0cc0d4c                   4.0
49  003f201cdd39cdd59b6447cff2195456                   1.0

### EDA - Payments:

In [41]:
payments_df.head(50)

,order_id,payment_sequential,payment_type,payment_installments,payment_value,payment_description,transaction_date
0,1a57108394169c0b47d8f876acc9ba2d,2.0,credit_card,0,129.94,Paid in full via credit card,5/15/2018 16:25
1,00054e8431b9d7675808bcb819fb4a32,1.0,credit_card,1,31.75,Paid in full via credit card,12/10/2017 11:53
2,0005f50442cb953dcd1d21e1fb923495,1.0,credit_card,1,65.39,Paid in full via credit card,7/2/2018 13:59
3,0008288aa423d2a3f00fcb17cd7d8719,1.0,BOLETO,1,$126.54,Paid in full via boleto,2/13/2018 22:10
4,0010dedd556712d7bb69a19cb7bbd37a,1.0,boleto,1,111.12,Paid in full via boleto,10/21/2017 19:32
5,00125cb692d04887809806618a2a145f,1.0,credit_card,1,135.41,Paid in full via credit card,3/23/2017 12:21
6,00130c0eee84a3d909e75bc08c5c3ca1,1.0,Boleto,1,35.84,Paid in full via boleto,6/11/2018 21:17
7,0013503b13da1eac686219390b7d641b,1.0,boleto,1,137.22,Paid in full via boleto,12/5/2017 23:40
8,001427c0ec99cf8af737bd88e92fd444,1.0,CREDIT_CARD,1,83.25,Paid in full via credit card,4/7/2018 18:51
9,00143d0f86d6fbd9f9b38ab440ac16f5,1.0,credit_card,1,$109.29,Paid in full via credit card,10/16/2017 15:29
10,001ab0a7578dd66cd4b0a71f5b6e1e41,1.0,boleto,1,127.56,Paid in full via boleto,12/27/2017 0:38
11,001ac194d4a326a6fa99b581e9a3d963,1.0,boleto,1,62.54,Paid in full via boleto,7/4/2018 11:39
12,00229e4e43f7a7e0b9dd819ad43268d3,1.0,Credit_Card,1,91.39,Paid in full via credit card,3/31/2018 16:41
13,00259a44fcad3fc0474329e925d14fc3,1.0,credit_card,1,34.09,Paid in full via credit card,12/27/2017 17:52
14,0026a368634b6e6f34f33b1499773a30,1.0,Credit_Card,1,164.8,Paid in full via credit card,10/27/2017 21:10
15,00275bce676303c3bfd7292aefdfa223,1.0,boleto,1,293.36,Paid in full via boleto,11/24/2017 23:10
16,002834535f7a609a5c68266f173fa59e,1.0,boleto,1,$57.17,Paid in full via boleto,7/23/2018 17:26
17,0028de0ca693a1bb26448916a81105cc,1.0,boleto,1,45.3,Paid in full via boleto,8/15/2018 14:59
18,002955b0acc63d04f6724a31967e82bd,1.0,credit_card,1,135.59,Paid in full via credit card,12/18/2017 13:43
19,002d040018d12a3853c059f7f23ab5b1,1.0,boleto,1,169.84,Paid in full via boleto,11/19/2017 19:16
20,002f16b7bc4530031b7d90f791b12d8a,1.0,Debit_Card,1,284.13,Paid in full via debit card,7/2/2018 16:51
21,002f19a65a2ddd70a090297872e6d64e,1.0,voucher,1,$44.11,Paid in full via voucher,3/21/2018 13:05
22,002f19a65a2ddd70a090297872e6d64e,2.0,voucher,1,33.18,Paid in full via voucher,3/21/2018 13:05
23,00335b686d693c7d72deeb12f8e89227,1.0,boleto,1,80.79,Paid in full via boleto,7/17/2017 21:25
24,00337fe25a3780b3424d9ad7c5a4b35e,1.0,Credit_Card,1,139.68,Paid in full via credit card,9/25/2017 17:39
25,003423b755b562962a6225a8de40d12e,1.0,boleto,1,$261.33,Paid in full via boleto,7/8/2018 11:28
26,0035e6b7ade84b3f5b86bd49814793df,1.0,credit_card,1,34,Paid in full via credit card,2/21/2018 2:46
27,003a94f778ef8cfd50247c8c1b582257,1.0,Credit_Card,1,$57.98,Paid in full via credit card,8/3/2018 14:52
28,003d0634280ff3d1d3a54459349a6899,1.0,CREDIT_CARD,1,228.89,Paid in full via credit card,3/17/2018 17:50
29,00404fa7a687c8c44ca69d42695aae73,1.0,boleto,1,99.9,Paid in full via boleto,5/7/2018 22:38
30,0046176ff0dbc2a178b7885355dfbb71,1.0,credit_card,1,137.72,Paid in full via credit card,5/29/2018 19:22
31,0049edf42837aa808e03552a62bd2158,1.0,credit_card,1,67.5,Paid in full via credit card,12/30/2017 12:33
32,004b62108b876867938746ad3154167f,1.0,BOLETO,1,118.35,Paid in full via boleto,7/4/2018 20:34
33,004d76fef3dd46eb4f70da049c8d1f93,1.0,Boleto,1,147.39,Paid in full via boleto,12/20/2017 6:42
34,004f5d8f238e8908e6864b874eda3391,1.0,boleto,1,138.6,Paid in full via boleto,2/27/2018 12:16
35,0057199db02d1a5ef41bacbf41f8f63b,1.0,boleto,1,$37.09,Paid in full via boleto,1/18/2018 17:05
36,00602f25bffa1dcfb71e202fbf9824fb,1.0,boleto,1,93.92,Paid in full via boleto,11/1/2017 17:45
37,0067c6030d65af0ff98790158ddb0020,1.0,CREDIT_CARD,1,54.06,Paid in full via credit card,4/27/2018 21:36
38,0068c109948b9a1dfb8530d1978acef3,1.0,boleto,1,103.38,Paid in full via boleto,1/22/2018 19:46
39,0068e836900867da359bd81db9227a33,1.0,Boleto,1,113.43,Paid in full via boleto,9/29/2017 11:24
40,006df90050498994d670b40da4651d22,1.0,credit_card,1,21.39,Paid in full via credit card,8/13/2018 13:59
41,0071ee2429bc1efdc43aa3e073a5290e,1.0,Voucher,1,100,Paid in full via voucher,1/22/2018 11:08
42,0071ee2429bc1efdc43aa3e073a5290e,2.0,voucher,1,92.44,Paid in full via voucher,1/22/2018 11:08
43,0072847849eafe70995fa51a714c81ac,1.0,boleto,1,234.89,Paid in full via boleto,5/14/2018 13:44
44,007bbb40c95870c0f75a7855f2636c65,1.0,credit_card,1,162.85,Paid in full via credit card,4/24/2018 10:37
45,0080eebb288dba1857ccf048dfe6bdfe,1.0,voucher,1,21.1,Paid in full via voucher,8/11/2017 17:43
46,008dc31c0ae7121f2791953ae5f532c3,1.0,credit_card,1,62.65,Paid in full via credit card,1/6/2018 11:22
47,008dd5e80ebf8f849aa0c5bf4e22ce7a,1.0,boleto,1,$207.74,Paid in full via boleto,3/20/2018 20:31
48,008eaf9004164883520d0bd32b107261,1.0,boleto,1,157.34,Paid in full via boleto,7/10/2017 20:42
49,008fab5602c441d51f30b1464f5d4643,1.0,credit_card,1,$65.55,Paid in full via credit card,2/22/2017 10:37

In [42]:
payments_df.info() # checking for basic info about the payments table - number of columns, rows, column names & types, etc..

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51672 entries, 0 to 51671
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              51672 non-null  object
 1   payment_sequential    51608 non-null  float64
 2   payment_type          51672 non-null  object
 3   payment_installments  51672 non-null  int64
 4   payment_value         51672 non-null  object
 5   payment_description   51672 non-null  object
 6   transaction_date      51672 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 2.8+ MB

In [43]:
before = len(payments_df)
# Remove duplicate payment records based on payment's identifier = 'order_id', 'payment_sequential' 
# So that only the first occurrence is kept; the rest are dropped:
payments_df = payments_df.drop_duplicates(subset=["order_id", "payment_sequential"], keep='first')
payments_df.reset_index(drop=True, inplace=True)

# Drop rows where the order_id / payment_sequential is missing (NaN) - this makes joining & drawing conclusions on payment impossible!
# payments_df = payments_df.dropna(subset=['order_id', 'payment_sequential'])
after = len(payments_df)
print(f"Removed {before - after} duplicate payments.") # Log number of duplicates removed

# SANITY CHECK - check whether the number of remaining duplicates is indeed 0 now:
# Count how many duplicate unique IDs still remain:
remaining_duplicates = payments_df.duplicated(subset=["order_id", "payment_sequential"]).sum()
print(f"Remaining duplicated payment rows: {remaining_duplicates}")

payments_df.info() # checking for basic info about the payments table - number of columns, rows, column names & types, etc..

Removed 10 duplicate payments.
Remaining duplicated payment rows: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51662 entries, 0 to 51661
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              51662 non-null  object
 1   payment_sequential    51608 non-null  float64
 2   payment_type          51662 non-null  object
 3   payment_installments  51662 non-null  int64
 4   payment_value         51662 non-null  object
 5   payment_description   51662 non-null  object
 6   transaction_date      51662 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 2.8+ MB

In [44]:
payments_df.describe() # Description of key columns in the payments table, to gain a better understanding..

       payment_sequential  payment_installments
count        51608.000000          51662.000000
mean             1.088029              2.863207
std              0.652338              2.689583
min              1.000000              0.000000
25%              1.000000              1.000000
50%              1.000000              1.000000
75%              1.000000              4.000000
max             26.000000             24.000000

In [45]:
# Checking for missing values in the payments table, and if their percentage is negligible:
print(payments_df.isnull().sum()) # Printing the number of missing values in the payments table
print("\n")
print(payments_df.isnull().mean()) # Printing the proportion of missing values in the payments table

order_id                 0
payment_sequential      54
payment_type             0
payment_installments     0
payment_value            0
payment_description      0
transaction_date         0
dtype: int64


order_id                0.000000
payment_sequential      0.001045
payment_type            0.000000
payment_installments    0.000000
payment_value           0.000000
payment_description     0.000000
transaction_date        0.000000
dtype: float64

In [46]:
# Looking for records with missing order_id or payment_sequential in the payments table:
missing_critical = payments_df["order_id"].isnull() | payments_df["payment_sequential"].isnull()

print("Records in payments_df with missing order_id OR payment_sequential:")
print(missing_critical.sum())  # Printing the number of such records
print("\n")
print(missing_critical.mean())  # Printing the proportion of such records


# Drop records where either order_id or payment_sequential is missing:
payments_df = payments_df.dropna(subset=['order_id', 'payment_sequential'])

# Standardize string columns — specifically payment_type:
payments_df['payment_type'] = payments_df['payment_type'].astype(str).str.strip().str.lower()

# Remove dollars from the payment_value:
payments_df["payment_value"] = (
    payments_df["payment_value"]
    .astype(str)
    .str.replace("$", "", regex=False)
    .str.replace(",", "", regex=False)
)

# Convert to float:
payments_df["payment_value"] = pd.to_numeric(payments_df["payment_value"], errors="coerce")

Records in payments_df with missing order_id OR payment_sequential:
54


0.0010452557005148852

In [47]:
# Looking for payments with negative payment_value (illogical, shouldn't happen):
negative_payment_values = payments_df["payment_value"] < 0

print("Payments with negative payment_value:")
print(negative_payment_values.sum())  # Printing the number of such records
print("\n")
print(negative_payment_values.mean())  # Printing the proportion of such records

# A payment value should always be non-negative - negative payments indicate invalid transactions.
# These records are likely corrupt data and thus removed.
# Furthermore, these errors don't appear a lot and so removing them won't change much.
# Also, replacing the errors with a constant value might inject bias.
payments_df = payments_df[payments_df["payment_value"] >= 0]

Payments with negative payment_value:
0


0.0

In [48]:
# Looking for payments with negative installment values:
negative_installments = payments_df["payment_installments"] < 0

print("Payments with non-positive number of installments (0 or less):")
print(negative_installments.sum())  # Printing the number of such records
print("\n")
print(negative_installments.mean())  # Printing the proportion of such records
      
# Installments represent the number of monthly payments. We remove such rows for a few reasons:
# 1. Values <= 0 are illogical and likely data errors.
# 2. These errors don't appear a lot and so removing them won't change much.
# 3. Replacing the errors with a constant value might inject bias.
payments_df = payments_df[payments_df["payment_installments"] >= 0]

Payments with non-positive number of installments (0 or less):
0


0.0

In [49]:
# Looking for payments with non-positive installment values:
negative_sequentials = payments_df["payment_sequential"] < 0

print("Payments with non-positive number of sequentials (0 or less):")
print(negative_sequentials.sum())  # Printing the number of such records
print("\n")
print(negative_sequentials.mean())  # Printing the proportion of such records
      
# Payment numbers represent the number of the payment out of the defined number of payments. We remove such rows for a few reasons:
# 1. Values < 0 are illogical and likely data errors.
# 2. These errors don't appear a lot and so removing them won't change much.
# 3. Replacing the errors with a constant value might inject bias.
payments_df = payments_df[payments_df["payment_installments"] >= 0]

Payments with non-positive number of sequentials (0 or less):
0


0.0

In [50]:
# Looking for payments with payment_sequential > number of payment_installments (invalid):
invalid_sequential = payments_df["payment_sequential"] > payments_df["payment_installments"]

print("Payments where sequential number > total installments:")
print(invalid_sequential.sum())  # Printing the number of such records
print("\n")
print(invalid_sequential.mean())  # Printing the proportion of such records

# A payment_sequential should never be larger than the number of payment_installments - this would indicate invalid payments.
# These records are likely corrupt data and thus removed.
# Furthermore, these errors don't appear a lot and so removing them won't change much.
# Also, replacing the errors with a constant value might inject bias.
payments_df = payments_df[payments_df["payment_sequential"] <= payments_df["payment_installments"]]

Payments where sequential number > total installments:
2141


0.041485816152534494

In [51]:
# Defining payment_count = number of payments per order:
payment_count = (
    payments_df
    .groupby('order_id', as_index=False)['payment_type']
    .count()
    .rename(columns={'payment_type': 'num_payment_methods'})
)

In [52]:
# Merging review_score & payment_count directly into the orders table:
orders_df = (
    orders_df
    .merge(reviews_df[['order_id', 'average_review_score']], on='order_id', how='left')  # To each order, add its average review score
    .merge(payment_count, on='order_id', how='left')  # To each order, add its number of payments
)
print(orders_df.info())
orders_df.head(50)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49061 entries, 0 to 49060
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       49061 non-null  object
 1   customer_unique_id             49061 non-null  object
 2   order_status                   49000 non-null  object
 3   order_purchase_timestamp       49061 non-null  object
 4   order_approved_at              49055 non-null  object
 5   order_delivered_carrier_date   48561 non-null  object
 6   order_delivered_customer_date  47979 non-null  object
 7   order_estimated_delivery_date  49061 non-null  object
 8   average_review_score           48582 non-null  float64
 9   num_payment_methods            48990 non-null  float64
dtypes: float64(2), object(8)
memory usage: 4.1+ MB
None

,order_id,customer_unique_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,average_review_score,num_payment_methods
0,949d5b44dbf5de918fe9c16f97b45f8a,7c142cf63193a1473d2e66489a9ae977,delivered,11/18/2017 19:28,11/18/2017 19:45,11/22/2017 13:39,12/2/2017 0:28,12/15/2017 0:00,5.0,1.0
1,ad21c59c0840e6cb83a9ceb5573f8159,72632f0f9dd73dfee390c9b22eb56dd6,delivered,2/13/2018 21:18,2/13/2018 22:20,2/14/2018 19:46,2/16/2018 18:17,2/26/2018 0:00,5.0,1.0
2,6514b8ad8028c9f2cc2374ded245783f,932afa1e708222e5821dac9cd5db4cae,delivered,5/16/2017 13:10,5/16/2017 13:22,5/22/2017 10:07,5/26/2017 12:55,6/7/2017 0:00,5.0,1.0
3,82566a660a982b15fb86e904c8d32918,e97109680b052ee858d93a539597bba7,delivered,6/7/2018 10:06,6/9/2018 3:13,6/11/2018 13:29,6/19/2018 12:05,7/18/2018 0:00,5.0,1.0
4,5ff96c15d0b717ac6ad1f3d77225a350,e2dfa3127fedbbca9707b36304996dab,delivered,7/25/2018 17:44,7/25/2018 17:55,7/26/2018 13:16,7/30/2018 15:52,8/8/2018 0:00,5.0,1.0
5,203096f03d82e0dffbc41ebc2e2bcfb7,d699688533772c15a061e8ce81cb56df,NaN,9/18/2017 14:31,9/19/2017 4:04,10/6/2017 17:50,10/9/2017 22:23,9/28/2017 0:00,2.0,1.0
6,f848643eec1d69395095eb3840d2051e,68954feaafe4dd638f3bd3e2afa174ec,delivered,3/15/2018 8:52,3/15/2018 9:09,3/15/2018 19:52,3/19/2018 18:08,3/29/2018 0:00,5.0,1.0
7,2807d0e504d6d4894d41672727bc139f,b8df986511d928829c3192c2ed081eba,delivered,2/3/2018 20:37,2/3/2018 20:50,2/5/2018 22:37,2/8/2018 16:13,2/21/2018 0:00,3.0,1.0
8,fbf9ac61453ac646ce8ad9783d7d0af6,a25d5f94840d3c6a1a49f271ed83f4ec,delivered,2/20/2018 23:46,2/22/2018 2:30,2/26/2018 22:25,3/21/2018 22:03,3/12/2018 0:00,2.0,1.0
9,acce194856392f074dbf9dada14d8d82,576ea0cab426cd8a00fad9a9c90a4494,delivered,6/4/2018 0:00,6/5/2018 0:35,6/5/2018 13:24,6/16/2018 15:20,7/18/2018 0:00,1.0,1.0
10,8563039e855156e48fccee4d611a3196,92fd8aa5948e20c43a014c44c025c5e1,delivered,2/17/2018 15:59,2/17/2018 16:15,2/20/2018 23:03,3/20/2018 0:59,3/20/2018 0:00,5.0,1.0
11,60550084e6b4c0cb89a87df1f3e5ebd9,661a5e18a28b34880ccc60112f2b8e8e,NaN,2/21/2018 18:15,2/23/2018 2:10,2/27/2018 18:52,3/13/2018 23:58,3/29/2018 0:00,4.0,1.0
12,5acce57f8d9dfd55fa48e212a641a69d,f1f4f45c8602d0db1329eed1c8e935d4,delivered,7/31/2017 21:37,8/2/2017 2:56,8/3/2017 18:32,8/8/2017 21:24,8/22/2017 0:00,5.0,1.0
13,434d158e96bdd6972ad6e6d73ddcfd22,5f7d7732b351ce851a158528581af05f,delivered,6/1/2018 12:23,6/5/2018 3:35,6/8/2018 11:49,6/18/2018 21:32,7/17/2018 0:00,5.0,1.0
14,7206b86ea789983f7a273ea7fa0bc2a8,1b542f810484d8c042aed33a7c61a218,delivered,3/26/2018 17:12,3/26/2018 17:28,3/28/2018 17:22,4/5/2018 22:11,4/12/2018 0:00,3.0,1.0
15,948097deef559c742e7ce321e5e58919,4ca5f90433afb5493247f0bafb583483,delivered,8/4/2017 17:10,8/4/2017 17:25,8/7/2017 17:52,8/12/2017 14:08,9/1/2017 0:00,5.0,1.0
16,d22e9fa5731b9e30e8b27afcdc2f8563,394b2ce444baae9ae609f5d32000de0f,delivered,8/4/2018 23:25,8/4/2018 23:35,8/6/2018 15:03,8/13/2018 23:34,9/13/2018 0:00,4.0,1.0
17,ee64d42b8cf066f35eac1cf57de1aa85,08fb46d35bb3ab4037202c23592d1259,shipped,6/4/2018 16:44,6/5/2018 4:31,6/5/2018 14:32,NaN,6/28/2018 0:00,1.0,1.0
18,25f4376934e13d3508486352e11a5db0,372e0fc66eacb8698e4f9997d366d961,delivered,5/17/2018 16:59,5/18/2018 1:17,5/18/2018 13:02,5/21/2018 15:22,5/25/2018 0:00,5.0,1.0
19,734e7d1bbaeb2ff82521ca0fe6fb6f79,f7603d34c795584792a484186233e6e5,delivered,6/11/2018 8:18,6/11/2018 8:31,6/11/2018 14:54,6/14/2018 21:32,7/5/2018 0:00,5.0,1.0
20,a685d016c8a26f71a0bb67821070e398,51838d41add414a0b1b989b7d251d9ee,delivered,3/13/2017 18:14,3/13/2017 18:14,3/22/2017 14:03,4/6/2017 13:37,3/30/2017 0:00,1.0,1.0
21,2edfd6d1f0b4cd0db4bf37b1b224d855,c63e44efa43f3947087aee96b388d949,delivered,6/13/2017 21:11,6/15/2017 3:05,6/16/2017 14:55,6/19/2017 18:51,7/6/2017 0:00,5.0,1.0
22,f346ad4ee8f630e5e4ddaf862a34e6dd,da45a9a1df408c39f013b9b0b505042c,delivered,8/5/2018 13:09,8/5/2018 13:24,8/6/2018 13:41,8/10/2018 18:35,8/15/2018 0:00,5.0,1.0
23,ccbabeb0b02433bd0fcbac46e70339f2,9c9cef121cb812cb301babddc2d8331e,delivered,2/19/2018 20:31,2/21/2018 6:15,2/22/2018 21:04,3/9/2018 22:22,3/13/2018 0:00,4.0,1.0
24,688052146432ef8253587b930b01a06d,0e764fc1a13e47e900c3d59a989753e8,delivered,4/22/2018 8:48,4/24/2018 18:25,4/23/2018 19:19,4/24/2018 19:31,5/15/2018 0:00,4.0,1.0
25,686541986ecfb7d9296eb67719973bf0,5d710d9a48ebb7fe5ffc2940ff29f346,delivered,2/10/2018 13:26,2/10/2018 13:35,2/14/2018 20:47,2/20/2018 22:13,3/12/2018 0:00,4.0,1.0
26,68e48e68da1f50f7c5838ea75e3a20dd,a464f750556546a0989d9326ec003ccf,delivered,6/18/2018 16:02,6/18/2018 17:00,6/19/2018 15:55,6/22/2018 21:18,7/13/2018 0:00,5.0,1.0
27,6abaad69b8b349c3a529b4b91ce18e46,fa0ee7ceb94193fb02aa78ce3a55695a,NaN,2/15/2018 10:33,2/15/2018 10:47,2/20/2018 14:15,2/24/2018 19:15,3/7/2018 0:00,4.0,1.0
28,974c1993ab8024d3ed16229183c2308d,32de2a7a93dbfc527b3f584744b9c6ce,delivered,2/20/2017 11:45,2/22/2017 3:10,2/23/2017 6:47,3/9/2017 14:27,3/21/2017 0:00,5.0,1.0
29,82bce245b1c9148f8d19a55b9ff70644,f9effeed3df9ae063a58c0759b96f8b2,delivered,4/20/2017 17:15,4/21/2017 5:15,4/24/2017 9:34,5/10/2017 9:17,5/12/2017 0:00,1.0,1.0
30,a910f58086d58b3ae6f37aa712d377b9,a7e7b19ff34ab885f7b7331de2417cf3,delivered,9/15/2017 9:19,9/15/2017 9:35,9/18/2017 18:20,9/25/2017 20:14,10/11/2017 0:00,5.0,1.0
31,3bc77ce8be27211bac313c2daa402d1a,c756e1910755edd88c00ac3f46baba4b,delivered,4/6/2017 22:39,4/6/2017 22:50,4/7/2017 14:54,4/11/2017 12:31,4/27/2017 0:00,5.0,1.0
32,0a4a2fccb27bd83a892fa503987a595b,c7a9a76a4b24a7e7b2caff982409b7ee,delivered,4/20/2017 20:42,4/20/2017 20:55,4/25/2017 8:23,5/11/2017 13:07,5/25/2017 0:00,4.0,1.0
33,ec341c54a5ebf8ee0a67a8632aa7579b,410979f3cfd34e467d4fad78bd0f0219,delivered,8/26/2017 16:53,8/27/2017 17:04,8/30/2017 13:26,9/8/2017 20:39,9/21/2017 0:00,5.0,1.0
34,9defaf92cff22420e4e8ef7784815a55,b11b7871c2b8be2d11fab954f58542f2,delivered,5/11/2018 13:10,5/11/2018 13:36,5/16/2018 14:43,5/21/2018 16:09,6/5/2018 0:00,5.0,1.0
35,20e0101b20700188cadb288126949685,42f80af2e6c585667e4eb416859ae153,NaN,1/22/2018 19:22,1/22/2018 19:36,1/24/2018 23:32,2/15/2018 20:08,2/19/2018 0:00,5.0,1.0
36,8447ff843b2616c50c0ced28ab1dae03,b6aa1d5781553afaa244c3e42246d93c,delivered,12/20/2017 23:45,12/22/2017 2:37,12/23/2017 13:10,1/9/2018 18:14,1/22/2018 0:00,4.0,1.0
37,f169bd689fb8b32ccd62df9050aebc0b,4a8c8f751984985cd49f74249da95aae,delivered,4/22/2018 23:23,4/24/2018 19:24,4/27/2018 13:46,4/30/2018 17:57,5/7/2018 0:00,5.0,1.0
38,77e9941864fc840be8e4b1ba5347c0f7,00b2ca23369b68c4d4105ecea9c0cb93,delivered,8/3/2018 8:59,8/3/2018 9:31,8/3/2018 10:10,8/17/2018 0:49,8/27/2018 0:00,5.0,1.0
39,6a0a8bfbbe700284feb0845d95e0867f,781ae350edb16842380e81d7c7feb431,delivered,11/22/2017 11:32,11/22/2017 11:46,11/27/2017 13:39,12/28/2017 19:43,12/11/2017 0:00,1.0,1.0
40,f7959f8385f34c4f645327465a1c9fc4,5ddb4fdd9cef2450d17ae20639815885,delivered,3/30/2017 7:50,3/30/2017 8:05,3/30/2017 10:55,4/10/2017 2:59,4/26/2017 0:00,5.0,1.0
41,e346cd9299371b18c0b28e8e29a5e376,4f262a3ca91e56d568fd13240c3c3652,delivered,5/17/2017 8:36,5/17/2017 8:45,5/17/2017 10:13,5/23/2017 13:32,6/6/2017 0:00,5.0,1.0
42,0760a852e4e9d89eb77bf631eaaf1c84,c7f8d7b1fffc946d7069574f74c39f4e,invoiced,8/3/2018 17:44,8/7/2018 6:15,NaN,NaN,8/21/2018 0:00,3.0,1.0
43,bfe42c22ecbf90bc9f35cf591270b6a7,34c58672601f2c6d29db7efd1f6bf958,delivered,1/27/2018 22:04,1/27/2018 22:16,2/3/2018 3:56,2/9/2018 20:16,2/26/2018 0:00,5.0,1.0
44,4da3bd761ca73d692ae0f5c252495546,e3c0567a8b991a9d812ee91f2650db40,delivered,2/1/2018 12:31,2/1/2018 12:54,2/2/2018 0:39,2/2/2018 16:12,2/19/2018 0:00,5.0,1.0
45,80d817467dc3d0a4bb5ab8986c962b1f,337bf0efbf9e5ba67461d2e5b4e5c2b1,delivered,8/22/2018 16:10,8/22/2018 16:25,8/23/2018 14:33,8/28/2018 14:52,9/5/2018 0:00,5.0,1.0
46,210e60465099814a1d2c7635e4065153,5bbc03d010ac4dbcfdfa2018349c8f6e,delivered,5/9/2018 18:27,5/9/2018 18:54,5/10/2018 16:07,5/22/2018 0:08,5/29/2018 0:00,4.0,1.0
47,4b3a605942f29d490cb74bd6ace6b9f0,0a5df23b922b9998bb7378f1ac03c98a,delivered,9/29/2017 9:32,9/29/2017 9:44,9/29/2017 21:58,9/30/2017 16:55,10/17/2017 0:00,5.0,1.0
48,ee0c5c649e17808bc4a363d3a80ebf85,2ed58d0567a2839599b85957ee02bca9,delivered,1/30/2018 7:51,1/30/2018 8:13,1/31/2018 15:06,2/20/2018 15:25,2/21/2018 0:00,4.0,1.0
49,3923e3ade70348985bd2ca389905cf19,3ed766ba830792bcc9ad889d2607eab7,delivered,3/7/2018 23:00,3/9/2018 3:00,3/14/2018 2:08,3/19/2018 18:46,3/29/2018 0:00,4.0,1.0

### EDA - Order Items:

In [53]:
order_items_df.head(50)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,9/19/2017 9:45,58.90,13.29
1,000229ec398224ef6ca0657da4fc703e,1.0,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,1/18/2018 14:48,199.00,17.87
2,00024acbcdf0a6daa1e931b038114c75,1.0,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,8/15/2018 10:10,12.99,12.79
3,00054e8431b9d7675808bcb819fb4a32,1.0,8d4f2bb7e93e6710a28f34fa83ee7d28,7040e82f899a04d1b434b795a43b4617,12/14/2017 12:10,19.90,11.85
4,000576fe39319847cbb9d288c5617fa6,1.0,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,7/10/2018 12:30,810.00,70.75
5,0005a1a1728c9d785b8e2b08b904576c,1.0,310ae3c140ff94b03219ad0adc3c778f,a416b6a846a11724393025641d4edd5e,3/26/2018 18:31,145.95,11.65
6,0005f50442cb953dcd1d21e1fb923495,1.0,4535b0e1091c278dfd193e5a1d63b39f,ba143b05f0110f0dc71ad71b4466ce92,7/6/2018 14:10,53.99,11.40
7,00061f2a7bc09da83e415a52dc8a4af1,1.0,d63c1011f49d98b976c352955b1c4bea,cc419e0650a3c5ba77189a1882b7556a,3/29/2018 22:28,59.99,8.88
8,0006ec9db01a64e59a68b2c340bf65a7,1.0,99a4788cb24856965c36a24e339b6058,4a3ca9315b744ce9f8e9374361493884,7/26/2018 17:24,74.00,23.32
9,0008288aa423d2a3f00fcb17cd7d8719,1.0,368c6c730842d78016ad823897a372db,1f50f920176fa81dab994f9023523100,2/21/2018 2:55,49.90,13.37
10,0008288aa423d2a3f00fcb17cd7d8719,2.0,NaN,1f50f920176fa81dab994f9023523100,2/21/2018 2:55,49.90,13.37
11,000e906b789b55f64edcb1f84030f90d,1.0,57d79905de06d8897872c551bfd09358,ea8482cd71df3c1969d7b9473ff13abc,11/27/2017 19:09,21.99,11.85
12,00119ff934e539cf26f92b9ef0cdfed8,NaN,21b1c2f67a9aafb5af0eb06c13b9dbda,c864036feaab8c1659f65ea4faebe1da,8/11/2017 0:35,219.90,16.98
13,0011d82c4b53e22e84023405fb467e57,NaN,c389f712c4b4510bc997cee93e8b1a28,bfd27a966d91cfaafdb25d076585f0da,1/29/2018 21:51,289.00,26.33
14,00125cb692d04887809806618a2a145f,1.0,1c0c0093a48f13ba70d0c6b0a9157cb7,41b39e28db005d9731d9d485a83b4c38,3/29/2017 13:05,109.90,25.51
15,00130c0eee84a3d909e75bc08c5c3ca1,1.0,89321f94e35fc6d7903d36f74e351d40,16090f2ca825584b5a147ab24aa30c86,6/14/2018 5:16,27.90,7.94
16,0013503b13da1eac686219390b7d641b,1.0,38afdf723b95d455b418a0f57d623c6b,1554a68530182680ad5c8b042c3ab563,12/13/2017 3:16,119.90,17.32
17,001427c0ec99cf8af737bd88e92fd444,1.0,28b4eced95a52d9c437a4caf9d311b95,77530e9772f57a62c906e1c21538ab82,4/12/2018 19:08,59.90,23.35
18,00143d0f86d6fbd9f9b38ab440ac16f5,1.0,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,10/20/2017 16:07,21.33,15.10
19,00143d0f86d6fbd9f9b38ab440ac16f5,2.0,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,10/20/2017 16:07,21.33,15.10
20,00143d0f86d6fbd9f9b38ab440ac16f5,3.0,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,10/20/2017 16:07,21.33,15.10
21,001862358bf858722e1e2ae000cfed8b,1.0,c6dd917a0be2a704582055949915ab32,7a67c85e85bb2ce8582c35f2203ad736,2/13/2018 19:10,99.99,13.72
22,001ab0a7578dd66cd4b0a71f5b6e1e41,1.0,0b0172eb0fd18479d29c3bc122c058c2,5656537e588803a555b8eb41f07a944b,1/4/2018 2:33,24.89,17.63
23,001ab0a7578dd66cd4b0a71f5b6e1e41,2.0,0b0172eb0fd18479d29c3bc122c058c2,5656537e588803a555b8eb41f07a944b,1/4/2018 2:33,24.89,17.63
24,001ab0a7578dd66cd4b0a71f5b6e1e41,3.0,0b0172eb0fd18479d29c3bc122c058c2,5656537e588803a555b8eb41f07a944b,1/4/2018 2:33,24.89,17.63
25,001ac194d4a326a6fa99b581e9a3d963,1.0,dbaee28f4ee64465838a229582d77520,ffc470761de7d0232558ba5e786e57b7,7/10/2018 2:51,54.00,8.54
26,001e7ba991be1b19605ca0316e7130f9,1.0,884fa3cd42986ba480ea2f8ae4e25ff7,3340ef1913fb70d28420f6ceb685c339,3/23/2017 11:47,195.00,18.21
27,001e7cf2ad6bef3ade12ebc56ceaf0f3,1.0,bdcf6a834e8faa30dac3886c7a58e92e,2a84855fd20af891be03bc5924d2b453,5/22/2018 10:59,35.90,15.20
28,00229e4e43f7a7e0b9dd819ad43268d3,1.0,13fcfc313dfb2217e5ee3000a702f9ef,c3cfdc648177fdbbbb35635a37472c53,4/10/2018 16:50,74.90,16.49
29,0025081dcf9330f9a5052ae82c6ce396,1.0,4e3f399366b0047a572b6682f9bb166e,5f3ae9136c875522250f8184f253413a,4/2/2018 16:35,14.95,18.23
30,00259a44fcad3fc0474329e925d14fc3,1.0,0c4d0a08f95c7b7dc5dc7402bfdafd4c,9f505651f4a6abe901a56cdc21508025,1/3/2018 17:59,19.99,14.10
31,0025c5d1a8ca53a240ec2634bb4492ea,1.0,35537536ed2b4c561b4018bf3abf54e0,955fee9216a65b617aa5c0531780ce60,7/10/2018 9:30,390.00,29.39
32,0026a368634b6e6f34f33b1499773a30,1.0,892832da5b05b0f54578e1f14f193c22,12b9676b00f60f3b700e83af21824c0e,11/10/2017 21:26,149.00,15.80
33,00275bce676303c3bfd7292aefdfa223,1.0,6490b9f63b0b595e1c1402b46b0f50ad,99eaacc9e6046db1c82b163c5f84869f,12/4/2017 3:32,279.90,13.46
34,002834535f7a609a5c68266f173fa59e,1.0,df3655ac9aa8c6cbfa63bdd8d3b09c50,ea8482cd71df3c1969d7b9473ff13abc,7/26/2018 17:44,37.99,19.18
35,0028de0ca693a1bb26448916a81105cc,1.0,059344baebbeaa42fa9f2bbe11b1583e,955fee9216a65b617aa5c0531780ce60,8/21/2018 3:35,29.99,15.31
36,002955b0acc63d04f6724a31967e82bd,1.0,d9bdf643d95cb89844c0da1a0df1d16e,058fd0aa2bfdb2274e05e1ae971dabb6,12/22/2017 15:51,120.00,15.59
37,002af7fa9eb99d1456bceb6a13d6fc0b,1.0,c2ece64199af7a53793ed9612a89a8cd,6c7d50c24b3ccd2fd83b44d8bb34e073,2/22/2018 19:46,88.34,21.11
38,002b4e6fa42cd4a22cc86abc18fe9c05,1.0,a6f449f6257f26e556013151cee46b4b,b1a81260566c1bac3114a6d124413f27,3/15/2018 10:35,99.90,19.67
39,002d040018d12a3853c059f7f23ab5b1,1.0,97c58626cc3e15d514d2095f69650220,fe2032dab1a61af8794248c8196565c9,11/27/2017 3:47,155.00,14.84
40,002f16b7bc4530031b7d90f791b12d8a,1.0,d54c5b81fc2b38707588dd4eddc7c594,0241d4d5d36f10f80c644447315af0bd,7/4/2018 17:11,249.90,34.23
41,002f19a65a2ddd70a090297872e6d64e,1.0,9eae06d51aaa383b2bed5547a19d581c,1835b56ce799e6a4dc4eddc053f04066,3/27/2018 13:15,53.98,23.31
42,002f98c0f7efd42638ed6100ca699b42,1.0,d41dc2f2979f52d75d78714b378d4068,7299e27ed73d2ad986de7f7c77d919fa,8/10/2017 9:30,8.99,32.57
43,002f98c0f7efd42638ed6100ca699b42,2.0,880be32f4db1d9f6e2bec38fb6ac23ab,fa40cc5b934574b62717c68f3d678b6d,8/10/2017 9:30,44.90,7.16
44,0030ff924c38549807645976adeef2c0,1.0,bd7cab8de4d7943286634023cc06f8ff,855668e0971d4dfd7bef1b6a4133b41b,4/6/2018 17:10,225.00,67.24
45,00310b0c75bb13015ec4d82d341865a4,1.0,c8e7c2ef329fcda4a233e7e2f8bb8b7d,a2deecd5398f5df4987110c80a1972a3,8/17/2018 15:04,39.90,15.38
46,00335b686d693c7d72deeb12f8e89227,1.0,87b08e712cc4c9fe70984c5a24b29e2f,f00e21b1e91a79653163b7fd8f293ff1,7/28/2017 3:45,63.90,16.89
47,00337fe25a3780b3424d9ad7c5a4b35e,1.0,1f9799a175f50c9fa725984775cac5c5,cfb1a033743668a192316f3c6d1d2671,9/29/2017 17:50,59.90,9.94
48,00337fe25a3780b3424d9ad7c5a4b35e,2.0,13944d17b257432717fd260e69853140,cfb1a033743668a192316f3c6d1d2671,9/29/2017 17:50,59.90,9.94
49,003423b755b562962a6225a8de40d12e,1.0,84904413b82eee333a3f79137e8d197e,23c38debaffe4a25a30fdbd9b586a13f,7/18/2018 4:25,232.75,28.58

In [54]:
order_items_df.info() # checking for basic info about the order-items table - number of columns, rows, column names & types, etc..

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56091 entries, 0 to 56090
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   order_id             56091 non-null  object
 1   order_item_id        56071 non-null  float64
 2   product_id           56075 non-null  object
 3   seller_id            56091 non-null  object
 4   shipping_limit_date  56091 non-null  object
 5   price                56090 non-null  float64
 6   freight_value        56091 non-null  float64
dtypes: float64(3), object(4)
memory usage: 3.4+ MB

In [55]:
before = len(order_items_df)
# Remove duplicate order-item records based on order's item's identifier = 'order_id', 'order_item_id'
# So that only the first occurrence is kept; the rest are dropped:
order_items_df = order_items_df.drop_duplicates(subset=["order_id", "order_item_id"], keep = 'first')
order_items_df.reset_index(drop=True, inplace=True)

after = len(order_items_df)
print(f"Removed {before - after} duplicate items.") # Log number of duplicates removed

# SANITY CHECK - check whether the number of remaining duplicates is indeed 0 now:
# Count how many duplicate unique IDs still remain:
remaining_duplicates = order_items_df.duplicated(subset=["order_id", "order_item_id"]).sum()
print(f"Remaining duplicated (order_id, order_item_id) rows: {remaining_duplicates}")

order_items_df.info() # checking for basic info about the order-items table - number of columns, rows, column names & types, etc..

Removed 3 duplicate items.
Remaining duplicated (order_id, order_item_id) rows: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56088 entries, 0 to 56087
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   order_id             56088 non-null  object
 1   order_item_id        56071 non-null  float64
 2   product_id           56072 non-null  object
 3   seller_id            56088 non-null  object
 4   shipping_limit_date  56088 non-null  object
 5   price                56087 non-null  float64
 6   freight_value        56088 non-null  float64
dtypes: float64(3), object(4)
memory usage: 3.0+ MB

In [56]:
order_items_df.describe() # Description of key columns in the order-items table, to gain a better understanding..

       order_item_id         price  freight_value
count   56071.000000  56087.000000   56088.000000
mean        1.199408    120.302628      19.948798
std         0.703851    185.435302      15.817085
min         1.000000      0.850000       0.000000
25%         1.000000     39.900000      13.057500
50%         1.000000     74.900000      16.270000
75%         1.000000    134.900000      21.180000
max        20.000000   6735.000000     409.680000

In [57]:
# Checking for missing values in the order-items table, and if their percentage is negligible:
print(order_items_df.isnull().sum()) # Printing the number of missing values in the order-items table
print("\n")
print(order_items_df.isnull().mean()) # Printing the proportion of missing values in the order-items table

order_id                0
order_item_id          17
product_id             16
seller_id               0
shipping_limit_date     0
price                   1
freight_value           0
dtype: int64


order_id               0.000000
order_item_id          0.000303
product_id             0.000285
seller_id              0.000000
shipping_limit_date    0.000000
price                  0.000018
freight_value          0.000000
dtype: float64

In [58]:
# Dropping negative price or freight values:
print("Items with negative price:")
print((order_items_df["price"] < 0).sum())  # Count of negative price values
print("\n")
print((order_items_df["price"] < 0).mean())  # Proportion of negative price values

print("Items with negative freight_value:")
print((order_items_df["freight_value"] < 0).sum())  # Count of negative freight values
print("\n")
print((order_items_df["freight_value"] < 0).mean())  # Proportion of negative freight values

# Dropping such order-items ENTIRELY - but WHY?
# These values are considered invalid — prices and freight can't be negative in practice.
# They're rare and retaining them could corrupt financial analysis.
order_items_df = order_items_df[(order_items_df["price"] >= 0) & (order_items_df["freight_value"] >= 0)]

Items with negative price:
0


0.0
Items with negative freight_value:
0


0.0

In [59]:
invalid_values = ['inf', 'nan', 'NaN', 'None', 'null', 'NAN', 'INF']
id_columns = ['order_id', 'order_item_id', 'product_id']

# Create a mask where any ID column contains a string that matches the invalid values list
mask = order_items_df[id_columns].astype(str).apply(lambda col: col.str.strip().isin(invalid_values))

# Select rows where *any* of the ID columns contain an invalid value
invalid_rows = order_items_df[mask.any(axis=1)]

print(invalid_rows.shape[0]) # Printing the number of "unidentified" order-items
print("\n")
print(invalid_rows.shape[0] / len(order_items_df)) # Printing the proportion of "unidentified" order-items
invalid_rows

32


0.0005705421933781447

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
10,0008288aa423d2a3f00fcb17cd7d8719,2.0,NaN,1f50f920176fa81dab994f9023523100,2/21/2018 2:55,49.90,13.37
12,00119ff934e539cf26f92b9ef0cdfed8,NaN,21b1c2f67a9aafb5af0eb06c13b9dbda,c864036feaab8c1659f65ea4faebe1da,8/11/2017 0:35,219.90,16.98
13,0011d82c4b53e22e84023405fb467e57,NaN,c389f712c4b4510bc997cee93e8b1a28,bfd27a966d91cfaafdb25d076585f0da,1/29/2018 21:51,289.00,26.33
53,003a94f778ef8cfd50247c8c1b582257,NaN,452f66a0f164cac57802e2cea93188ac,f80edd2c5aaa505cc4b0a3b219abf4b8,8/7/2018 15:05,39.90,18.08
54,003cc6161d7a2593f2525cce0c330d32,NaN,fadc89c2a60ff96b18827644074dfd70,53e4c6e0f4312d4d2107a8c9cddf45cd,8/7/2018 20:04,85.00,12.90
55,003d0634280ff3d1d3a54459349a6899,NaN,db886bd83f6a076a2caeb7fd02722c35,8e6d7754bc7e0f22c96d255ebda59eba,3/22/2018 18:08,220.00,8.89
150,00b1861aeb89afa498404c684148a619,NaN,7e8067e7e5ce7aec0e2cb7c1a456d112,0691148aee60ca47977c187804f935ae,8/14/2018 8:30,25.79,23.33
153,00b402e8a76d3da83714c52d3977cc2d,NaN,72d6074ef5c81ec3102b3f2a052c5f49,edb1ef5e36e0c8cd84eb3c9b003e486d,1/5/2018 18:11,139.65,26.26
164,00bcee890eba57a9767c7b5ca12d3a1b,NaN,d143bf43abb18593fa8ed20cc990ae84,3bb548e3cb7f70f28e3f11ee9dce0e59,7/26/2017 21:05,165.50,15.80
275,012b3f6ab7776a8ab3443a4ad7bef2e6,1.0,NaN,1f50f920176fa81dab994f9023523100,5/9/2018 21:30,53.90,0.00
15896,4830473362441527781ef6c1860cac4c,NaN,a7d2c99f1d0e7ddfbce06d48f12b61a2,99a54764c341d5dc80b4a8fac4eba3fb,8/31/2018 11:15,19.90,15.46
15927,4857ccdd76808fc1fc5f5bcb02255a79,NaN,cc2634460dcfbfdd94dc43f5ac3f8963,dc4a0fc896dc34b0d5bfec8438291c80,11/20/2017 21:50,69.90,12.83
15940,486b47061ec8cb9d23cda4e69b20ecd2,1.0,NaN,432c37c9dfba871172ec162e20118b8c,8/6/2017 23:45,59.99,15.86
16026,48c1913bab1f9f2b5452dfb560fa1ec7,2.0,NaN,897060da8b9a21f655304d50fd935913,4/28/2017 20:02,22.00,10.96
16187,497a5004e62efcb3e0bfc7606c4fd50d,2.0,NaN,33a6f4b1e7cdc205511e76ba1b6e0186,8/15/2018 19:35,74.99,14.84
36043,a4f79d60f934a1fdc35b009f9415a8b3,2.0,NaN,d8cf3b6a2151949f930d0252b180ec42,4/19/2018 17:11,20.50,22.93
36045,a4f79d60f934a1fdc35b009f9415a8b3,4.0,NaN,d8cf3b6a2151949f930d0252b180ec42,4/19/2018 17:11,20.50,22.93
36047,a4f79d60f934a1fdc35b009f9415a8b3,NaN,8eae309a711208a0e5e41e110cddb1ee,d8cf3b6a2151949f930d0252b180ec42,4/19/2018 17:11,20.50,22.93
36303,a60c6548ab8ab949bbfce006f7b8a513,NaN,8ce0b48cdcc4b753ae4de64497998338,75d34ebb1bd0bd7dde40dd507b8169c3,2/18/2017 12:53,131.99,21.50
36337,a62bd4a3b6736d7f889292ee18e372a9,1.0,NaN,2e90cb1677d35cfe24eef47d441b7c87,7/3/2017 4:25,132.70,31.68
36664,a78b808171a7a24376688e39d3ada85c,2.0,NaN,6fc26fe110feebd80a433e1f012a84f9,3/8/2018 12:20,59.00,16.17
37074,a96417d157bd97f6b47643a7ffbcd8dc,NaN,1b8ee158f59c098470fad33f39660964,1554a68530182680ad5c8b042c3ab563,3/30/2017 15:50,139.90,23.97
37079,a966231d1abc5095725cb52a810d5694,NaN,0502d1a36be75bd36b452f31c6ed264a,c826c40d7b19f62a09e2d7c5e7295ee2,2/14/2018 18:50,69.77,14.24
37139,a9b132fc9b030211c2850f5495dbbd5a,NaN,a0e4eca4b6471171249889c962603472,77530e9772f57a62c906e1c21538ab82,11/17/2017 2:55,49.00,14.10
37444,ab14fdcfbe524636d65ee38360e22ce8,5.0,NaN,ce27a3cc3c8cc1ea79d11e561e9bebb6,8/30/2017 14:30,98.70,14.44
37446,ab14fdcfbe524636d65ee38360e22ce8,NaN,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,8/30/2017 14:30,98.70,14.44
37448,ab14fdcfbe524636d65ee38360e22ce8,9.0,NaN,ce27a3cc3c8cc1ea79d11e561e9bebb6,8/30/2017 14:30,98.70,14.44
37454,ab14fdcfbe524636d65ee38360e22ce8,16.0,NaN,ce27a3cc3c8cc1ea79d11e561e9bebb6,8/30/2017 14:30,98.70,14.44
37634,abd7d619de0d42df3a64707190c05bb6,2.0,NaN,7c67e1448b00f6e969d365cea6b010ab,7/26/2018 14:05,89.98,44.62
37790,ac8a7a5a2eb68fd70147207a05c5e9d9,3.0,NaN,e5a3438891c0bfdb9394643f95273d8e,1/29/2018 3:39,13.30,8.11
37791,ac8a7a5a2eb68fd70147207a05c5e9d9,4.0,NaN,e5a3438891c0bfdb9394643f95273d8e,1/29/2018 3:39,13.30,8.11
38202,ae27a50cb9ab15aabfe66ad3b4020a91,NaN,f332a0203f8106d982e2e9dcea4ec7a5,6d1b9c9579132c87d2703ec38c30f2c5,2/25/2017 21:19,49.90,15.70

### EDA - Products:

In [60]:
products_df.head(50)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_description,launch_date
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,Reflect suggest actually maybe back move number.,4/24/2018 16:16
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,Thousand seat project recent bank for hotel wo...,1/31/2018 18:55
2,96bd76ec8810374ed1b65e291975717f,Esporte_Lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,Nice beat former thousand head great.,7/9/2018 21:18
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0,Room someone he many agreement population reme...,8/3/2018 8:55
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0,Toward tax hold music take model phone clearly...,4/11/2018 1:06
5,41d3672d4792049fa1779bb35283ed13,instrumentos_musicais,60.0,745.0,1.0,200.0,38.0,5.0,11.0,Friend partner meet gas look war do five meeti...,3/12/2018 15:41
6,732bd381ad09e530fe0a5f457d81becb,COOL_STUFF,56.0,1272.0,4.0,18350.0,70.0,24.0,44.0,Second minute onto less option even soon wonde...,12/5/2017 11:14
7,2548af3e6e77a690cf3eb6368e9ab61e,MOVEIS_DECORACAO,56.0,184.0,2.0,900.0,40.0,8.0,40.0,Probably able hour wish organization especiall...,11/24/2017 14:22
8,37cc742be07708b53a98702e77a21a02,ELETRODOMESTICOS,57.0,163.0,1.0,400.0,27.0,13.0,17.0,Best stop kind task boy kind evening.,6/15/2017 6:59
9,8c92109888e8cdf9d66dc7e463025574,BRINQUEDOS,36.0,1156.0,1.0,600.0,17.0,10.0,12.0,Must size country lawyer available later along...,9/20/2017 22:10
10,14aa47b7fe5c25522b47b4b29c98dcb9,cama_mesa_banho,54.0,630.0,1.0,1100.0,16.0,10.0,16.0,Truth business result animal consumer season q...,2/5/2018 12:14
11,03b63c5fc16691530586ae020c345514,bebes,49.0,728.0,4.0,7150.0,50.0,19.0,45.0,Each least medical five choose rest debate inf...,4/23/2018 15:23
12,cf55509ea8edaaac1d28fdb16e48fc22,instrumentos_musicais,43.0,1827.0,3.0,250.0,17.0,7.0,17.0,Cell wall political begin hand.,6/15/2018 14:08
13,7bb6f29c2be57716194f96496660c7c2,Moveis_Decoracao,51.0,2083.0,2.0,600.0,68.0,11.0,13.0,Condition wait cell cold parent return go note...,7/16/2017 22:47
14,eb31436580a610f202c859463d8c7415,CONSTRUCAO_FERRAMENTAS_SEGURANCA,59.0,1602.0,4.0,200.0,17.0,7.0,17.0,Nearly lose until choice response west him serve.,6/22/2018 13:12
15,3bb7f144022e6732727d8d838a7b13b3,esporte_lazer,22.0,3021.0,1.0,800.0,16.0,2.0,11.0,Area true school teach blood push they order s...,6/4/2017 19:55
16,6a2fb4dd53d2cdb88e0432f1284a004c,Perfumaria,39.0,346.0,2.0,400.0,27.0,5.0,20.0,Get site majority point level.,11/16/2017 21:28
17,a1b71017a84f92fd8da4aeefba108a24,informatica_acessorios,59.0,636.0,1.0,900.0,40.0,15.0,20.0,Customer accept stuff rock woman order spring ...,5/23/2017 18:31
18,a0736b92e52f6cead290e30b578413b6,Moveis_Decoracao,56.0,296.0,2.0,1700.0,100.0,7.0,15.0,Production site use travel like.,10/16/2017 12:28
19,f53103a77d9cf245e579ea37e5ec51f0,Cama_Mesa_Banho,52.0,206.0,1.0,500.0,16.0,10.0,16.0,Strategy draw sport program send media hospital.,6/26/2018 14:27
20,1c1890ba1779090cd54008a3c3302921,moveis_decoracao,27.0,158.0,4.0,2550.0,29.0,24.0,45.0,Dinner serve sometimes check point.,6/4/2017 20:54
21,518ef5de2c2b3a255e326a4594ba15d9,cama_mesa_banho,27.0,329.0,2.0,800.0,36.0,8.0,16.0,Us remain large attorney truth run black devel...,2/28/2017 13:40
22,e3e020af31d4d89d2602272b315c3f6e,beleza_saude,58.0,1987.0,3.0,75.0,21.0,7.0,13.0,Success indicate clear discussion agree force ...,5/12/2017 10:51
23,8b41fbc2b984a12030090112324d1bc4,bebes,55.0,1627.0,1.0,500.0,20.0,13.0,13.0,Do wrong different animal dinner care risk.,2/18/2018 19:45
24,d03bd02af9fff4b98f1c972315e5e9ef,moveis_decoracao,56.0,209.0,1.0,1800.0,40.0,10.0,30.0,According sometimes up add center.,1/5/2018 17:06
25,8ba4f2a4ae695d26e5626c1bf710975e,utilidades_domesticas,52.0,968.0,1.0,900.0,50.0,5.0,50.0,Traditional career share eat character western...,8/8/2018 11:55
26,f6574524b07d5bb753bab6f35abe2d06,malas_acessorios,52.0,573.0,5.0,3600.0,35.0,25.0,50.0,Suffer kind by natural less carry represent age.,1/22/2018 10:40
27,c78b767da00efb70c1bcccab87c28cd5,informatica_acessorios,35.0,1101.0,2.0,300.0,42.0,2.0,30.0,Win fine there candidate improve interest mach...,2/2/2017 22:08
28,a0253d43394dd4da9a5d7b1f546f1a32,INFORMATICA_ACESSORIOS,59.0,1890.0,2.0,740.0,23.0,13.0,13.0,Speak head local camera such.,1/11/2018 19:36
29,051b9ff13dd55c0a6655a15ff296f80d,ESPORTE_LAZER,50.0,529.0,2.0,3600.0,62.0,23.0,23.0,Factor travel toward price.,8/2/2018 13:57
30,47859fca9dd7485cbd93c3e8993bb74f,cama_mesa_banho,45.0,206.0,1.0,650.0,16.0,10.0,16.0,Window describe real within yeah reveal how de...,6/29/2018 10:09
31,e1d1d22e9f8122a4ec1533b032c12562,ferramentas_jardim,49.0,1163.0,9.0,2150.0,70.0,8.0,34.0,Without apply page those back friend yes.,5/1/2018 19:14
32,15eee,NaN,NaN,NaN,12461.0,inf,NaN,NaN,NaN,NaN,NaN
33,20e37962088a4061d3578def47a8648b,moveis_decoracao,60.0,208.0,1.0,800.0,40.0,10.0,34.0,Chance federal cover same modern give her war.,1/10/2017 22:23
34,1eba879220bd0981a0e2fbab499ed4e1,moveis_escritorio,57.0,476.0,1.0,8950.0,52.0,51.0,17.0,Nor event above building employee experience p...,12/20/2017 22:44
35,ce5b91848b91118daffb3af53b747475,Esporte_Lazer,50.0,699.0,4.0,1388.0,34.0,9.0,31.0,Participant occur the about dog past differenc...,5/11/2018 22:49
36,5370b82a213393979691c98074265584,bebes,52.0,708.0,9.0,7950.0,33.0,30.0,44.0,Language eye everyone phone common yourself.,8/12/2017 23:18
37,b8dac5113b06a97e64943234522572b9,automotivo,43.0,1062.0,2.0,6000.0,87.0,3.0,42.0,Choose leader approach Mr stuff never instead.,12/4/2017 21:59
38,750cf819d127191920eda79a4b6fb479,eletronicos,31.0,806.0,1.0,263.0,18.0,12.0,16.0,Learn manage thought important hear account ki...,5/15/2018 18:53
39,e6af694343b45b56304ad91974a110b9,utilidades_domesticas,37.0,352.0,1.0,3900.0,19.0,20.0,15.0,Likely research structure nature check everyone.,1/29/2018 16:10
40,680874c570dad71c0a2844cfbf417054,moveis_decoracao,47.0,502.0,1.0,600.0,25.0,25.0,25.0,Trip make at technology politics market party ...,1/5/2018 21:33
41,8b3a9476f74f5297f7ff0ec6d95fe1ea,moveis_decoracao,63.0,254.0,2.0,2050.0,49.0,13.0,41.0,Within side play foreign possible.,4/20/2017 13:01
42,1c6fb703c624b381a20f21f757694866,brinquedos,33.0,471.0,2.0,725.0,22.0,17.0,15.0,Compare land evidence onto stand research.,12/11/2017 21:27
43,db46052aed7dff59ba38cf2fe29b87f9,CAMA_MESA_BANHO,56.0,509.0,4.0,6350.0,45.0,15.0,35.0,Green old agency impact bad.,7/2/2017 17:01
44,b864b103180d5a6a3f830e67f93e8735,bebes,47.0,980.0,4.0,600.0,70.0,11.0,11.0,Rule outside record five at tonight how.,10/8/2016 22:11
45,7a8dac4aaa16bc642e4df33adcf03303,cool_stuff,38.0,1701.0,2.0,11750.0,18.0,40.0,79.0,Take attorney debate clear appear action possi...,4/8/2017 17:31
46,83b9bc6aae6f527ff6aafb9e01d6cbf3,BRINQUEDOS,20.0,866.0,3.0,2550.0,22.0,32.0,38.0,Way year near make talk church.,7/17/2017 15:23
47,5f504b3a1c75b73d6151be81eb05bdc9,Cool_Stuff,38.0,1176.0,3.0,15350.0,47.0,40.0,47.0,View parent natural realize.,5/10/2017 16:57
48,bbf920aa6ac72007a726e6f419156f8f,moveis_decoracao,42.0,303.0,2.0,1300.0,25.0,16.0,25.0,Someone field hot light certainly imagine during.,5/29/2017 20:01
49,c3b7e4d83e530c27a8e6368296aece48,moveis_decoracao,60.0,1972.0,2.0,850.0,69.0,11.0,11.0,Side kind three spend foreign work evening jus...,10/4/2016 11:03

In [61]:
products_df.info() # checking for basic info about the products table - number of columns, rows, column names & types, etc..

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32965 entries, 0 to 32964
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32964 non-null  object
 1   product_category_name       32582 non-null  object
 2   product_name_lenght         32353 non-null  float64
 3   product_description_lenght  32354 non-null  float64
 4   product_photos_qty          32353 non-null  float64
 5   product_weight_g            32962 non-null  float64
 6   product_length_cm           32960 non-null  float64
 7   product_height_cm           32960 non-null  float64
 8   product_width_cm            32960 non-null  float64
 9   product_description         32962 non-null  object
 10  launch_date                 32962 non-null  object
dtypes: float64(7), object(4)
memory usage: 2.8+ MB

In [62]:
before = len(products_df)
# Remove duplicate product records based on product's identifier = 'product_id'
# So that only the first occurrence is kept; the rest are dropped:
products_df = products_df.drop_duplicates(subset='product_id', keep='first')
products_df.reset_index(drop=True, inplace=True)

# Drop rows where the product_id is missing (NaN) - this makes joining & drawing conclusions on sellers impossible!
products_df = products_df.dropna(subset=['product_id'])
after = len(products_df)
print(f"Removed {before - after} duplicate products.") # Log number of duplicates removed

# SANITY CHECK - check whether the number of remaining duplicates is indeed 0 now:
# Count how many duplicate unique IDs still remain:
remaining_duplicates = products_df.duplicated(subset='product_id').sum()
print(f"Remaining duplicated product_id rows: {remaining_duplicates}")

products_df.info() # checking for basic info about the products table - number of columns, rows, column names & types, etc..

Removed 12 duplicate products.
Remaining duplicated product_id rows: 0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32953 entries, 0 to 32953
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32953 non-null  object
 1   product_category_name       32571 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32342 non-null  float64
 4   product_photos_qty          32342 non-null  float64
 5   product_weight_g            32951 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
 9   product_description         32951 non-null  object
 10  launch_date                 32951 non-null  object
dtypes: float64(7), object(4)
memory usage: 3.0+ MB

In [63]:
products_df.describe() # Description of key columns in the products table, to gain a better understanding..

,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32341.000000,32342.0,32342.000000,32951.0,32949.000000,32949.000000,32949.000000
mean,48.476949,inf,2.574207,inf,30.815078,16.937661,23.196728
std,10.245741,NaN,69.299418,NaN,16.914458,13.637554,12.079047
min,5.000000,4.0,1.000000,0.0,7.000000,2.000000,6.000000
25%,42.000000,339.0,1.000000,300.0,18.000000,8.000000,15.000000
50%,51.000000,595.0,1.000000,700.0,25.000000,13.000000,20.000000
75%,57.000000,972.0,3.000000,1900.0,38.000000,21.000000,30.000000
max,76.000000,inf,12461.000000,inf,105.000000,105.000000,118.000000

In [64]:
# Standardizing all category names by lowercasing and stripping whitespace
# This ensures consistent formatting and avoids join issues later

products_df["product_category_name"] = products_df["product_category_name"].astype(str).str.strip().str.lower()
category_name_df["product_category_name"] = category_name_df["product_category_name"].astype(str).str.strip().str.lower()
category_name_df["product_category_name_english"] = category_name_df["product_category_name_english"].astype(str).str.strip().str.lower()

In [65]:
# Checking for missing values in the products table, and if their percentage is negligible:
print(products_df.isnull().sum()) # Printing the number of missing values in the products table
print("\n")
print(products_df.isnull().mean()) # Printing the proportion of missing values in the products table

product_id                      0
product_category_name           0
product_name_lenght           612
product_description_lenght    611
product_photos_qty            611
product_weight_g                2
product_length_cm               4
product_height_cm               4
product_width_cm                4
product_description             2
launch_date                     2
dtype: int64


product_id                    0.000000
product_category_name         0.000000
product_name_lenght           0.018572
product_description_lenght    0.018542
product_photos_qty            0.018542
product_weight_g              0.000061
product_length_cm             0.000121
product_height_cm             0.000121
product_width_cm              0.000121
product_description           0.000061
launch_date                   0.000061
dtype: float64

In [66]:
# Defining invalid product IDs & removing them accordingly:
invalid_id = products_df['product_id'].astype(str).str.len() != 32

print(invalid_id.sum()) # Printing the number of such records
print("\n")
print(invalid_id.mean()) # Printing the proportion of such records

# Dropping those problematic rows:
products_df = products_df [~invalid_id]

2


6.069250144144691e-05

In [67]:
# Check products not found in product table:
print("Checking if order_items have product_id not in products table:")
print((~order_items_df["product_id"].isin(products_df["product_id"])).sum()) # Printing the number of "unidentified" products
print("\n")
print((~order_items_df["product_id"].isin(products_df["product_id"])).mean()) # Printing the proportion of "unidentified" products

# Filter them out:
order_items_df = order_items_df[order_items_df["product_id"].isin(products_df["product_id"])]

Checking if order_items have product_id not in products table:
15


0.0002674416531460053

In [68]:
# Identifying untranslated categories:
missing_translations = category_name_df[category_name_df['product_category_name_english'].isna()]['product_category_name'].unique()
print(missing_translations)

[]

In [69]:
# Checking for missing values in the product_category_name translation
print(category_name_df["product_category_name_english"].isnull().sum())  # Number of missing English translations
print("\n")
print(category_name_df["product_category_name_english"].isnull().mean())  # Proportion of missing translations

# Checking for missing values in the product_category_name translation
print(category_name_df["product_category_name"].isnull().sum())  # Number of missing Portuguese translations
print("\n")
print(category_name_df["product_category_name"].isnull().mean())  # Proportion of missing translations

0


0.0
0


0.0

In [70]:
# Checking for bad string values in products_df['product_category_name'], and if their percentage is negligible:
bad_values = ['inf', 'nan', 'none', 'Nan', '', ' ', 'NaN', 'null']
bad_mask_product = products_df["product_category_name"].astype(str).str.strip().str.lower().isin(bad_values)
print(bad_mask_product.sum())  # Number of bad values
print("\n")
print(bad_mask_product.mean())  # Proportion of bad values

# Checking for bad string values in category_name_df['product_category_name'], and if their percentage is negligible:
bad_mask_translation = category_name_df["product_category_name"].astype(str).str.strip().str.lower().isin(bad_values)
print(bad_mask_translation.sum())  # Number of bad keys
print("\n")
print(bad_mask_translation.mean())  # Proportion of bad keys

# Checking for bad string values in category_name_df['product_category_name_english'], and if their percentage is negligible:
bad_mask_translation = category_name_df["product_category_name_english"].astype(str).str.strip().str.lower().isin(bad_values)
print(bad_mask_translation.sum())  # Number of bad keys
print("\n")
print(bad_mask_translation.mean())  # Proportion of bad keys

610


0.018512336499651
0


0.0
0


0.0

In [71]:
# Filling missing product category names before merge to avoid losing rows
products_df["product_category_name"].fillna("unknown", inplace=True)

products_df['product_category_name'] = products_df['product_category_name'].replace(bad_values, 'unknown')
print((products_df['product_category_name'] == 'unknown').sum())

products_df['product_weight_g'] = products_df['product_weight_g'].fillna(-1)
products_df['product_length_cm'] = products_df['product_length_cm'].fillna(-1)
products_df['product_height_cm'] = products_df['product_height_cm'].fillna(-1)
products_df['product_width_cm'] = products_df['product_width_cm'].fillna(-1)

products_df['product_weight_g'] = products_df['product_weight_g'].replace(bad_values, -1)
products_df['product_length_cm'] = products_df['product_length_cm'].replace(bad_values, -1)
products_df['product_height_cm'] = products_df['product_height_cm'].replace(bad_values, -1)
products_df['product_width_cm'] = products_df['product_width_cm'].replace(bad_values, -1)

# Merging English category names into product_df
products_df = products_df.merge(
    category_name_df,
    on="product_category_name",
    how="left"
)

# Filling missing English translations with 'unknown'
products_df["product_category_name_english"].fillna("unknown", inplace=True)

# Replacing Portuguese category name with the English one
products_df["product_category_name"] = products_df["product_category_name_english"]
products_df.drop(columns=["product_category_name_english"], inplace=True)

# Checking for bad string values in product_df['product_category_name'] after merge, and if their percentage is negligible:
bad_mask_final = products_df["product_category_name"].astype(str).str.strip().str.lower().isin(bad_values)
print(bad_mask_final.sum())  # Number of bad values after merge
print("\n")
print(bad_mask_final.mean())  # Proportion of bad values after merge

products_df.info() # checking for basic info about the products table - number of columns, rows, column names & types, etc..

610
0


0.0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32951 entries, 0 to 32950
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32951 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32951 non-null  float64
 6   product_length_cm           32951 non-null  float64
 7   product_height_cm           32951 non-null  float64
 8   product_width_cm            32951 non-null  float64
 9   product_description         32951 non-null  object
 10  launch_date                 32951 non-null  object
dtypes: float64(7), object(4)
memory usage: 3.0+ MB

In [72]:
# Deciding which columns to drop - products table:
# - product_name_lenght, product_description_lenght, and product_photos_qty are often incomplete and may add noise & irrelevant 
# to our analysis.  product_weight_g, product_length_cm, etc. are preserved unless explicitly invalid
columns_to_drop = ['product_name_lenght', 'product_description_lenght', 'product_photos_qty']

products_df.drop(columns=columns_to_drop, inplace=True)

products_df.info() # checking for basic info about the products table - number of columns, rows, column names & types, etc..

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32951 entries, 0 to 32950
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             32951 non-null  object
 1   product_category_name  32951 non-null  object
 2   product_weight_g       32951 non-null  float64
 3   product_length_cm      32951 non-null  float64
 4   product_height_cm      32951 non-null  float64
 5   product_width_cm       32951 non-null  float64
 6   product_description    32951 non-null  object
 7   launch_date            32951 non-null  object
dtypes: float64(4), object(4)
memory usage: 2.3+ MB

In [73]:
products_df.describe() # Description of key columns in the TRANSFORMED products table, to gain a better understanding..

,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32951.000000,32951.000000,32951.000000,32951.000000
mean,2276.334254,30.813147,16.936572,23.195260
std,4281.945534,16.915761,13.637856,12.080152
min,-1.000000,-1.000000,-1.000000,-1.000000
25%,300.000000,18.000000,8.000000,15.000000
50%,700.000000,25.000000,13.000000,20.000000
75%,1900.000000,38.000000,21.000000,30.000000
max,40425.000000,105.000000,105.000000,118.000000

In [74]:
products_df.head()

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_description,launch_date
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,225.0,16.0,10.0,14.0,Reflect suggest actually maybe back move number.,4/24/2018 16:16
1,3aa071139cb16b67ca9e5dea641aaa2f,art,1000.0,30.0,18.0,20.0,Thousand seat project recent bank for hotel wo...,1/31/2018 18:55
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,154.0,18.0,9.0,15.0,Nice beat former thousand head great.,7/9/2018 21:18
3,cef67bcfe19066a932b7673e239eb23d,baby,371.0,26.0,4.0,26.0,Room someone he many agreement population reme...,8/3/2018 8:55
4,9dc1a7de274444849c219cff195d0b71,housewares,625.0,20.0,17.0,13.0,Toward tax hold music take model phone clearly...,4/11/2018 1:06

#### Converting all dates to datetime format & defining the Dim-Date dimension table:

In [75]:
# Create a date dimension table (dim_date) from all unique date fields across all datasets
# This table helps simplify time-based queries and supports standard time hierarchies (day, week, month, etc.)
# We shall create it in steps:

# Step 1: Convert all date columns across relevant datasets
# (We use 'errors="coerce"' to safely convert problematic values to NaT)
date_columns_orders = [
    'order_purchase_timestamp', 'order_approved_at',
    'order_delivered_carrier_date', 'order_delivered_customer_date',
    'order_estimated_delivery_date'
    ]

for col in date_columns_orders:
    orders_df[col] = pd.to_datetime(orders_df[col], errors='coerce')
    
order_items_df['shipping_limit_date'] = pd.to_datetime(order_items_df['shipping_limit_date'], errors='coerce')
sellers_df['registration_date'] = pd.to_datetime(sellers_df['registration_date'], errors='coerce')
customers_df['registration_date'] = pd.to_datetime(customers_df['registration_date'], errors='coerce')

if 'transaction_date' in payments_df.columns:
    payments_df['transaction_date'] = pd.to_datetime(payments_df['transaction_date'], errors='coerce')

    
# Step 2: Collect all unique datetime values from the various columns:
all_dates = pd.Series(pd.concat([
    orders_df[col] for col in date_columns_orders
] + [
    order_items_df['shipping_limit_date'],
    sellers_df['registration_date'],
    customers_df['registration_date'],
    payments_df['transaction_date'] if 'transaction_date' in payments_df.columns else pd.Series(dtype='datetime64[ns]')
], axis=0).dropna().unique()).drop_duplicates()

# Step 3: Create the actual date dimension (dim_date):
dim_date = pd.DataFrame({'date': pd.to_datetime(all_dates)})
dim_date['day'] = dim_date['date'].dt.day
dim_date['weekday'] = dim_date['date'].dt.weekday
dim_date['month'] = dim_date['date'].dt.month
dim_date['year'] = dim_date['date'].dt.year
dim_date['quarter'] = dim_date['date'].dt.quarter
dim_date['is_weekend'] = dim_date['weekday'].isin([5, 6])  # Saturday or Sunday

# The result can be joined by date for consistent time-based analytics
dim_date.reset_index(drop=True, inplace=True)

# Step 5: Remove duplicates & NAs from dim_date:
# Additional duplicate removal into dim_date:
dim_date = dim_date.drop_duplicates(subset=['date'])

# Additional NA removal in dim_date:
dim_date = dim_date[dim_date['date'].notna()]

dim_date.info() # checking for basic info about the dates table - number of columns, rows, column names & types, etc..
dim_date.head(50)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164257 entries, 0 to 164256
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        164257 non-null  datetime64[ns]
 1   day         164257 non-null  int64
 2   weekday     164257 non-null  int64
 3   month       164257 non-null  int64
 4   year        164257 non-null  int64
 5   quarter     164257 non-null  int64
 6   is_weekend  164257 non-null  bool
dtypes: bool(1), datetime64[ns](1), int64(5)
memory usage: 8.9 MB

                  date  day  weekday  month  year  quarter  is_weekend
0  2017-11-18 19:28:00   18        5     11  2017        4        True
1  2018-02-13 21:18:00   13        1      2  2018        1       False
2  2017-05-16 13:10:00   16        1      5  2017        2       False
3  2018-06-07 10:06:00    7        3      6  2018        2       False
4  2018-07-25 17:44:00   25        2      7  2018        3       False
5  2017-09-18 14:31:00   18        0      9  2017        3       False
6  2018-03-15 08:52:00   15        3      3  2018        1       False
7  2018-02-03 20:37:00    3        5      2  2018        1        True
8  2018-02-20 23:46:00   20        1      2  2018        1       False
9  2018-06-04 00:00:00    4        0      6  2018        2       False
10 2018-02-17 15:59:00   17        5      2  2018        1        True
11 2018-02-21 18:15:00   21        2      2  2018        1       False
12 2017-07-31 21:37:00   31        0      7  2017        3       False
13 2018-06-01 12:23:00    1        4      6  2018        2       False
14 2018-03-26 17:12:00   26        0      3  2018        1       False
15 2017-08-04 17:10:00    4        4      8  2017        3       False
16 2018-08-04 23:25:00    4        5      8  2018        3        True
17 2018-06-04 16:44:00    4        0      6  2018        2       False
18 2018-05-17 16:59:00   17        3      5  2018        2       False
19 2018-06-11 08:18:00   11        0      6  2018        2       False
20 2017-03-13 18:14:00   13        0      3  2017        1       False
21 2017-06-13 21:11:00   13        1      6  2017        2       False
22 2018-08-05 13:09:00    5        6      8  2018        3        True
23 2018-02-19 20:31:00   19        0      2  2018        1       False
24 2018-04-22 08:48:00   22        6      4  2018        2        True
25 2018-02-10 13:26:00   10        5      2  2018        1        True
26 2018-06-18 16:02:00   18        0      6  2018        2       False
27 2018-02-15 10:33:00   15        3      2  2018        1       False
28 2017-02-20 11:45:00   20        0      2  2017        1       False
29 2017-04-20 17:15:00   20        3      4  2017        2       False
30 2017-09-15 09:19:00   15        4      9  2017        3       False
31 2017-04-06 22:39:00    6        3      4  2017        2       False
32 2017-04-20 20:42:00   20        3      4  2017        2       False
33 2017-08-26 16:53:00   26        5      8  2017        3        True
34 2018-05-11 13:10:00   11        4      5  2018        2       False
35 2018-01-22 19:22:00   22        0      1  2018        1       False
36 2017-12-20 23:45:00   20        2     12  2017        4       False
37 2018-04-22 23:23:00   22        6      4  2018        2        True
38 2018-08-03 08:59:00    3        4      8  2018        3       False
39 2017-11-22 11:32:00   22        2     11  2017        4       False
40 2017-03-30 07:50:00   30        3      3  2017        1       False
41 2017-05-17 08:36:00   17        2      5  2017        2       False
42 2018-08-03 17:44:00    3        4      8  2018        3       False
43 2018-01-27 22:04:00   27        5      1  2018        1        True
44 2018-02-01 12:31:00    1        3      2  2018        1       False
45 2018-08-22 16:10:00   22        2      8  2018        3       False
46 2018-05-09 18:27:00    9        2      5  2018        2       False
47 2017-09-29 09:32:00   29        4      9  2017        3       False
48 2018-01-30 07:51:00   30        1      1  2018        1       False
49 2018-03-07 23:00:00    7        2      3  2018        1       False

#### Handling Date Inconsistencies - primarily on orders table but also customers, sellers, products & payments table:

The goal here is to assess logical inconsistencies in date-related fields in the aformentioned tables, and decide how best to handle them (remove, flag, impute, etc.) depending on the nature and severity of the issue.
For each case below, we'll compute the number and proportion of such cases, and explain the suggested handling strategy.

*Prerequisite:* ensure all relevant columns are in datetime format

In [76]:
# 1. Orders with status = 'shipped' but missing 'order_delivered_carrier_date'
shipped_no_shipping = orders_df[(orders_df['order_status'] == 'shipped') & (orders_df['order_delivered_carrier_date'].isna())]
print("Orders with status='shipped' but no shipping date:")
print(shipped_no_shipping.shape[0]) # Printing the number of such records
print("\n")
print(shipped_no_shipping.shape[0] / len(orders_df)) # Printing the proportion of such records
# Handling:  Let them stay as NaT but can be flagged when analyzing timelines. No imputation is done to preserve integrity.
orders_df.loc[shipped_no_shipping.index, 'order_delivered_carrier_date'] = pd.NaT

Orders with status='shipped' but no shipping date:
0


0.0

In [77]:
# 2. Shipped orders missing shipping *or* purchase/approval dates
shipped_inconsistent = orders_df[(orders_df['order_status'] == 'shipped') & (
    orders_df['order_delivered_carrier_date'].isna() |
    orders_df['order_purchase_timestamp'].isna() |
    orders_df['order_approved_at'].isna()
)]
print("Shipped orders with missing shipping/purchase/approval dates:")
print(shipped_inconsistent.shape[0]) # Printing the number of such records
print("\n")
print(shipped_inconsistent.shape[0] / len(orders_df)) # Printing the proportion of such records

# Handling: Selectively apply NaT on the dates only where needed
shipped_inconsistent = orders_df['order_status'] == 'shipped'

# Selectively apply NaT only where needed:
orders_df.loc[shipped_inconsistent & orders_df['order_delivered_carrier_date'].isna(), 'order_delivered_carrier_date'] = pd.NaT
orders_df.loc[shipped_inconsistent & orders_df['order_purchase_timestamp'].isna(), 'order_purchase_timestamp'] = pd.NaT
orders_df.loc[shipped_inconsistent & orders_df['order_approved_at'].isna(), 'order_approved_at'] = pd.NaT

Shipped orders with missing shipping/purchase/approval dates:
0


0.0

In [78]:
# 3. Delivered orders missing actual delivery date or other key timestamps:
no_actual_delivery = orders_df[(orders_df['order_status'] == 'delivered') & (
    orders_df['order_delivered_customer_date'].isna() |
    orders_df['order_purchase_timestamp'].isna() |
    orders_df['order_approved_at'].isna()
)]
print("Delivered orders missing delivery/purchase/approval date:")
print(no_actual_delivery.shape[0]) # Printing the number of such records
print("\n")
print(no_actual_delivery.shape[0] / len(orders_df)) # Printing the proportion of such records

# Handling: Selectively apply NaT on the dates only where needed
delivered_inconsistent = orders_df['order_status'] == 'delivered'

# Selectively apply NaT only where missing
orders_df.loc[delivered_inconsistent & orders_df['order_delivered_customer_date'].isna(), 'order_delivered_customer_date'] = pd.NaT
orders_df.loc[delivered_inconsistent & orders_df['order_purchase_timestamp'].isna(), 'order_purchase_timestamp'] = pd.NaT
orders_df.loc[delivered_inconsistent & orders_df['order_approved_at'].isna(), 'order_approved_at'] = pd.NaT

Delivered orders missing delivery/purchase/approval date:
10


0.00020382788773159942

In [79]:
# 4. Orders with purchase/approval but wrong status (e.g., still processing):
status_mismatch = orders_df[(orders_df['order_purchase_timestamp'].notna()) &
                             (orders_df['order_approved_at'].notna()) &
                             (~orders_df['order_status'].isin(['approved', 'shipped', 'delivered']))]
print("Orders approved but with unexpected status:")
print(status_mismatch.shape[0]) # Printing the number of such records
print("\n")
print(status_mismatch.shape[0] / len(orders_df)) # Printing the proportion of such records

# Handling: These could be updated to 'approved'
orders_df.loc[status_mismatch.index, 'order_status'] = 'approved'

Orders approved but with unexpected status:
595


0.012127759320030166

In [80]:
# 5. Orders without status 'shipped' but a known shipping date:
status_inconsistency = orders_df[(orders_df['order_status'] != 'shipped') &
                                  (orders_df['order_status'] != 'delivered') &
                                  (orders_df['order_delivered_carrier_date'].notna())]
print("Orders not marked as 'shipped' but with actual shipping date present:")
print(status_inconsistency.shape[0]) # Printing the number of such records
print("\n")
print(status_inconsistency.shape[0] / len(orders_df)) # Printing the proportion of such records

# Handling: Likely mislabeled status, therefore updated status to 'shipped' if shipping date is reliable.
orders_df.loc[status_inconsistency.index, 'order_status'] = 'shipped'

Orders not marked as 'shipped' but with actual shipping date present:
97


0.0019771305109965148

In [81]:
# 5b. Orders with status 'shipped' but a known delivery date:
shipped_with_delivery = orders_df[(orders_df['order_status'] == 'shipped') &
                                  (orders_df['order_delivered_customer_date'].notna())]
print("Orders marked as 'shipped' but with actual delivery date present:")
print(shipped_with_delivery.shape[0]) # Printing the number of such records
print("\n")
print(shipped_with_delivery.shape[0] / len(orders_df)) # Printing the proportion of such records


# Handling: Likely mislabeled status, therefore updated status to 'delivered' if delivery date is reliable.
orders_df.loc[shipped_with_delivery.index, 'order_status'] = 'delivered'

Orders marked as 'shipped' but with actual delivery date present:
63


0.0012841156927090765

In [82]:
# 6. Broken purchase flow:
broken_flow = orders_df[(orders_df['order_purchase_timestamp'] > orders_df['order_approved_at']) |
                        (orders_df['order_approved_at'] > orders_df['order_delivered_carrier_date']) |
                        (orders_df['order_delivered_carrier_date'] > orders_df['order_delivered_customer_date'])]
print("Orders with invalid chronological order of events:")
print(broken_flow.shape[0]) # Printing the number of such records
print("\n")
print(broken_flow.shape[0] / len(orders_df)) # Printing the proportion of such records

broken_flows = pd.DataFrame()
broken_flows['purchase > approval'] = orders_df['order_purchase_timestamp'] > orders_df['order_approved_at']
broken_flows['approval > carrier'] = orders_df['order_approved_at'] > orders_df['order_delivered_carrier_date']
broken_flows['carrier > delivered'] = orders_df['order_delivered_carrier_date'] > orders_df['order_delivered_customer_date']


# Handling: selectively set only the invalid timestamps to NaT to prevent problematic computations based on erroneous durations
for col, field in zip(['purchase > approval', 'approval > carrier', 'carrier > delivered'],
                      ['order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date']):
    orders_df.loc[broken_flows[col], field] = pd.NaT

Orders with invalid chronological order of events:
651


0.013269195491327124

In [83]:
# 7. Sellers mismatch - Sellers with sales before their registration
seller_mismatch = order_items_df.merge(orders_df[['order_id', 'order_purchase_timestamp']], on='order_id')
seller_mismatch = seller_mismatch.merge(sellers_df[['seller_id', 'registration_date']], on='seller_id')
seller_issue = seller_mismatch[seller_mismatch['order_purchase_timestamp'] < seller_mismatch['registration_date']]
print("Sellers selling before registration:")
print(seller_issue.shape[0]) # Printing the number of such records
print("\n")
print(seller_issue.shape[0] / len(sellers_df)) # Printing the proportion of such records

# Handling: Selectively remove registration dates of "bad sellers", but what are bad sellers?
# Compute proportion of bad records per seller:
bad_seller_ratio = seller_issue.groupby('seller_id').size() / seller_mismatch.groupby('seller_id').size()
sellers_to_flag = bad_seller_ratio[bad_seller_ratio > 0.5].index  # e.g., over 50% suspicious

print("Sellers with >50% of sales before registration:", len(sellers_to_flag))
sellers_df.loc[sellers_df['seller_id'].isin(sellers_to_flag), 'registration_date'] = pd.NaT

Sellers selling before registration:
9


0.0029079159935379646
Sellers with >50% of sales before registration: 3

In [84]:
# 8. Customers mismatch - Customers with orders before registration
customer_mismatch = orders_df.merge(customers_df[['customer_unique_id', 'registration_date']], on='customer_unique_id')
customer_issue = customer_mismatch[customer_mismatch['order_purchase_timestamp'] < customer_mismatch['registration_date']]
print("Customers ordering before registration:")
print(customer_issue.shape[0]) # Printing the number of such records
print("\n")
print(customer_issue.shape[0] / len(customers_df)) # Printing the proportion of such records

# Handling: Similar to above - # Handling: Selectively remove registration dates of "bad customers", but what are bad customers?
# Compute proportion of bad records per customer:
bad_customer_ratio = customer_issue.groupby('customer_unique_id').size() / customer_mismatch.groupby('customer_unique_id').size()
customers_to_flag = bad_customer_ratio[bad_customer_ratio > 0.5].index

print("Customers with >50% of orders before registration:", len(customers_to_flag))
customers_df.loc[customers_df['customer_unique_id'].isin(customers_to_flag), 'registration_date'] = pd.NaT

Customers ordering before registration:
223


0.004593013676058659
Customers with >50% of orders before registration: 14

In [85]:
# 9. Transactions before purchase/approval date
payment_issue = payments_df.merge(orders_df[['order_id', 'order_purchase_timestamp', 'order_approved_at']], on='order_id', how='left')
payment_issue = payment_issue[(payment_issue['transaction_date'] < payment_issue['order_purchase_timestamp']) |
                               (payment_issue['transaction_date'] < payment_issue['order_approved_at'])]
payment_issue_idx = payment_issue.index
print("Payments with transaction before purchase/approval:")
print(payment_issue.shape[0]) # Printing the number of such records
print("\n")
print(payment_issue.shape[0] / len(payments_df)) # Printing the proportion of such records


# Handling: Removing transaction date entirely due to this major inconsistency appearing throughout most payments:
payments_df.drop(columns = ['transaction_date'], inplace = True)

payments_df.info() # checking for basic info about the payments table - number of columns, rows, column names & types, etc..

Payments with transaction before purchase/approval:
48443


0.9792993308670427
<class 'pandas.core.frame.DataFrame'>
Int64Index: 49467 entries, 1 to 51661
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              49467 non-null  object
 1   payment_sequential    49467 non-null  float64
 2   payment_type          49467 non-null  object
 3   payment_installments  49467 non-null  int64
 4   payment_value         49467 non-null  float64
 5   payment_description   49467 non-null  object
dtypes: float64(2), int64(1), object(3)
memory usage: 2.6+ MB

In [86]:
# 10. Create total_price and total_freight for each order
order_totals = order_items_df.groupby('order_id')[['price', 'freight_value']].sum().reset_index()
order_totals.rename(columns={'price': 'total_price', 'freight_value': 'total_freight'}, inplace=True)
orders_df = orders_df.merge(order_totals, on='order_id', how='left')

print("Total price and freight successfully added to orders_df.")

orders_df.info() # checking for basic info about the TRANSFORMED orders table - number of columns, rows, column names & types, etc..
orders_df.head(50)

Total price and freight successfully added to orders_df.
<class 'pandas.core.frame.DataFrame'>
Int64Index: 49061 entries, 0 to 49060
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       49061 non-null  object
 1   customer_unique_id             49061 non-null  object
 2   order_status                   49061 non-null  object
 3   order_purchase_timestamp       49061 non-null  datetime64[ns]
 4   order_approved_at              49055 non-null  datetime64[ns]
 5   order_delivered_carrier_date   47923 non-null  datetime64[ns]
 6   order_delivered_customer_date  47966 non-null  datetime64[ns]
 7   order_estimated_delivery_date  49061 non-null  datetime64[ns]
 8   average_review_score           48582 non-null  float64
 9   num_payment_methods            48990 non-null  float64
 10  total_price                    49061 non-null  float64
 11  total_freight                  49061 non-null  float64
dtypes: datetime64[ns](5), float64(4), object(3)
memory usage: 4.9+ MB

,order_id,customer_unique_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,average_review_score,num_payment_methods,total_price,total_freight
0,949d5b44dbf5de918fe9c16f97b45f8a,7c142cf63193a1473d2e66489a9ae977,delivered,2017-11-18 19:28:00,2017-11-18 19:45:00,2017-11-22 13:39:00,2017-12-02 00:28:00,2017-12-15,5.0,1.0,45.00,27.20
1,ad21c59c0840e6cb83a9ceb5573f8159,72632f0f9dd73dfee390c9b22eb56dd6,delivered,2018-02-13 21:18:00,2018-02-13 22:20:00,2018-02-14 19:46:00,2018-02-16 18:17:00,2018-02-26,5.0,1.0,19.90,8.72
2,6514b8ad8028c9f2cc2374ded245783f,932afa1e708222e5821dac9cd5db4cae,delivered,2017-05-16 13:10:00,2017-05-16 13:22:00,2017-05-22 10:07:00,2017-05-26 12:55:00,2017-06-07,5.0,1.0,59.99,15.17
3,82566a660a982b15fb86e904c8d32918,e97109680b052ee858d93a539597bba7,delivered,2018-06-07 10:06:00,2018-06-09 03:13:00,2018-06-11 13:29:00,2018-06-19 12:05:00,2018-07-18,5.0,1.0,31.90,18.23
4,5ff96c15d0b717ac6ad1f3d77225a350,e2dfa3127fedbbca9707b36304996dab,delivered,2018-07-25 17:44:00,2018-07-25 17:55:00,2018-07-26 13:16:00,2018-07-30 15:52:00,2018-08-08,5.0,1.0,19.90,12.80
5,203096f03d82e0dffbc41ebc2e2bcfb7,d699688533772c15a061e8ce81cb56df,delivered,2017-09-18 14:31:00,2017-09-19 04:04:00,2017-10-06 17:50:00,2017-10-09 22:23:00,2017-09-28,2.0,1.0,109.90,8.96
6,f848643eec1d69395095eb3840d2051e,68954feaafe4dd638f3bd3e2afa174ec,delivered,2018-03-15 08:52:00,2018-03-15 09:09:00,2018-03-15 19:52:00,2018-03-19 18:08:00,2018-03-29,5.0,1.0,79.99,8.91
7,2807d0e504d6d4894d41672727bc139f,b8df986511d928829c3192c2ed081eba,delivered,2018-02-03 20:37:00,2018-02-03 20:50:00,2018-02-05 22:37:00,2018-02-08 16:13:00,2018-02-21,3.0,1.0,9.50,7.78
8,fbf9ac61453ac646ce8ad9783d7d0af6,a25d5f94840d3c6a1a49f271ed83f4ec,delivered,2018-02-20 23:46:00,2018-02-22 02:30:00,2018-02-26 22:25:00,2018-03-21 22:03:00,2018-03-12,2.0,1.0,109.90,15.53
9,acce194856392f074dbf9dada14d8d82,576ea0cab426cd8a00fad9a9c90a4494,delivered,2018-06-04 00:00:00,2018-06-05 00:35:00,2018-06-05 13:24:00,2018-06-16 15:20:00,2018-07-18,1.0,1.0,130.40,97.28
10,8563039e855156e48fccee4d611a3196,92fd8aa5948e20c43a014c44c025c5e1,delivered,2018-02-17 15:59:00,2018-02-17 16:15:00,2018-02-20 23:03:00,2018-03-20 00:59:00,2018-03-20,5.0,1.0,78.00,28.95
11,60550084e6b4c0cb89a87df1f3e5ebd9,661a5e18a28b34880ccc60112f2b8e8e,delivered,2018-02-21 18:15:00,2018-02-23 02:10:00,2018-02-27 18:52:00,2018-03-13 23:58:00,2018-03-29,4.0,1.0,39.90,26.89
12,5acce57f8d9dfd55fa48e212a641a69d,f1f4f45c8602d0db1329eed1c8e935d4,delivered,2017-07-31 21:37:00,2017-08-02 02:56:00,2017-08-03 18:32:00,2017-08-08 21:24:00,2017-08-22,5.0,1.0,27.90,15.10
13,434d158e96bdd6972ad6e6d73ddcfd22,5f7d7732b351ce851a158528581af05f,delivered,2018-06-01 12:23:00,2018-06-05 03:35:00,2018-06-08 11:49:00,2018-06-18 21:32:00,2018-07-17,5.0,1.0,445.00,63.17
14,7206b86ea789983f7a273ea7fa0bc2a8,1b542f810484d8c042aed33a7c61a218,delivered,2018-03-26 17:12:00,2018-03-26 17:28:00,2018-03-28 17:22:00,2018-04-05 22:11:00,2018-04-12,3.0,1.0,36.90,12.79
15,948097deef559c742e7ce321e5e58919,4ca5f90433afb5493247f0bafb583483,delivered,2017-08-04 17:10:00,2017-08-04 17:25:00,2017-08-07 17:52:00,2017-08-12 14:08:00,2017-09-01,5.0,1.0,69.90,25.77
16,d22e9fa5731b9e30e8b27afcdc2f8563,394b2ce444baae9ae609f5d32000de0f,delivered,2018-08-04 23:25:00,2018-08-04 23:35:00,2018-08-06 15:03:00,2018-08-13 23:34:00,2018-09-13,4.0,1.0,99.00,22.62
17,ee64d42b8cf066f35eac1cf57de1aa85,08fb46d35bb3ab4037202c23592d1259,shipped,2018-06-04 16:44:00,2018-06-05 04:31:00,2018-06-05 14:32:00,NaT,2018-06-28,1.0,1.0,14.49,7.87
18,25f4376934e13d3508486352e11a5db0,372e0fc66eacb8698e4f9997d366d961,delivered,2018-05-17 16:59:00,2018-05-18 01:17:00,2018-05-18 13:02:00,2018-05-21 15:22:00,2018-05-25,5.0,1.0,69.90,12.43
19,734e7d1bbaeb2ff82521ca0fe6fb6f79,f7603d34c795584792a484186233e6e5,delivered,2018-06-11 08:18:00,2018-06-11 08:31:00,2018-06-11 14:54:00,2018-06-14 21:32:00,2018-07-05,5.0,1.0,29.99,13.47
20,a685d016c8a26f71a0bb67821070e398,51838d41add414a0b1b989b7d251d9ee,delivered,2017-03-13 18:14:00,2017-03-13 18:14:00,2017-03-22 14:03:00,2017-04-06 13:37:00,2017-03-30,1.0,1.0,84.90,14.36
21,2edfd6d1f0b4cd0db4bf37b1b224d855,c63e44efa43f3947087aee96b388d949,delivered,2017-06-13 21:11:00,2017-06-15 03:05:00,2017-06-16 14:55:00,2017-06-19 18:51:00,2017-07-06,5.0,1.0,113.00,28.15
22,f346ad4ee8f630e5e4ddaf862a34e6dd,da45a9a1df408c39f013b9b0b505042c,delivered,2018-08-05 13:09:00,2018-08-05 13:24:00,2018-08-06 13:41:00,2018-08-10 18:35:00,2018-08-15,5.0,1.0,39.90,13.76
23,ccbabeb0b02433bd0fcbac46e70339f2,9c9cef121cb812cb301babddc2d8331e,delivered,2018-02-19 20:31:00,2018-02-21 06:15:00,2018-02-22 21:04:00,2018-03-09 22:22:00,2018-03-13,4.0,1.0,27.90,15.10
24,688052146432ef8253587b930b01a06d,0e764fc1a13e47e900c3d59a989753e8,delivered,2018-04-22 08:48:00,2018-04-24 18:25:00,NaT,2018-04-24 19:31:00,2018-05-15,4.0,1.0,318.00,28.09
25,686541986ecfb7d9296eb67719973bf0,5d710d9a48ebb7fe5ffc2940ff29f346,delivered,2018-02-10 13:26:00,2018-02-10 13:35:00,2018-02-14 20:47:00,2018-02-20 22:13:00,2018-03-12,4.0,1.0,24.89,15.10
26,68e48e68da1f50f7c5838ea75e3a20dd,a464f750556546a0989d9326ec003ccf,delivered,2018-06-18 16:02:00,2018-06-18 17:00:00,2018-06-19 15:55:00,2018-06-22 21:18:00,2018-07-13,5.0,1.0,339.60,53.00
27,6abaad69b8b349c3a529b4b91ce18e46,fa0ee7ceb94193fb02aa78ce3a55695a,delivered,2018-02-15 10:33:00,2018-02-15 10:47:00,2018-02-20 14:15:00,2018-02-24 19:15:00,2018-03-07,4.0,1.0,42.90,14.10
28,974c1993ab8024d3ed16229183c2308d,32de2a7a93dbfc527b3f584744b9c6ce,delivered,2017-02-20 11:45:00,2017-02-22 03:10:00,2017-02-23 06:47:00,2017-03-09 14:27:00,2017-03-21,5.0,1.0,69.90,14.66
29,82bce245b1c9148f8d19a55b9ff70644,f9effeed3df9ae063a58c0759b96f8b2,delivered,2017-04-20 17:15:00,2017-04-21 05:15:00,2017-04-24 09:34:00,2017-05-10 09:17:00,2017-05-12,1.0,1.0,190.00,77.80
30,a910f58086d58b3ae6f37aa712d377b9,a7e7b19ff34ab885f7b7331de2417cf3,delivered,2017-09-15 09:19:00,2017-09-15 09:35:00,2017-09-18 18:20:00,2017-09-25 20:14:00,2017-10-11,5.0,1.0,113.98,31.68
31,3bc77ce8be27211bac313c2daa402d1a,c756e1910755edd88c00ac3f46baba4b,delivered,2017-04-06 22:39:00,2017-04-06 22:50:00,2017-04-07 14:54:00,2017-04-11 12:31:00,2017-04-27,5.0,1.0,58.20,8.78
32,0a4a2fccb27bd83a892fa503987a595b,c7a9a76a4b24a7e7b2caff982409b7ee,delivered,2017-04-20 20:42:00,2017-04-20 20:55:00,2017-04-25 08:23:00,2017-05-11 13:07:00,2017-05-25,4.0,1.0,38.50,24.84
33,ec341c54a5ebf8ee0a67a8632aa7579b,410979f3cfd34e467d4fad78bd0f0219,delivered,2017-08-26 16:53:00,2017-08-27 17:04:00,2017-08-30 13:26:00,2017-09-08 20:39:00,2017-09-21,5.0,1.0,14.82,15.10
34,9defaf92cff22420e4e8ef7784815a55,b11b7871c2b8be2d11fab954f58542f2,delivered,2018-05-11 13:10:00,2018-05-11 13:36:00,2018-05-16 14:43:00,2018-05-21 16:09:00,2018-06-05,5.0,1.0,49.90,12.79
35,20e0101b20700188cadb288126949685,42f80af2e6c585667e4eb416859ae153,delivered,2018-01-22 19:22:00,2018-01-22 19:36:00,2018-01-24 23:32:00,2018-02-15 20:08:00,2018-02-19,5.0,1.0,89.18,16.38
36,8447ff843b2616c50c0ced28ab1dae03,b6aa1d5781553afaa244c3e42246d93c,delivered,2017-12-20 23:45:00,2017-12-22 02:37:00,2017-12-23 13:10:00,2018-01-09 18:14:00,2018-01-22,4.0,1.0,219.90,18.79
37,f169bd689fb8b32ccd62df9050aebc0b,4a8c8f751984985cd49f74249da95aae,delivered,2018-04-22 23:23:00,2018-04-24 19:24:00,2018-04-27 13:46:00,2018-04-30 17:57:00,2018-05-07,5.0,1.0,759.00,13.08
38,77e9941864fc840be8e4b1ba5347c0f7,00b2ca23369b68c4d4105ecea9c0cb93,delivered,2018-08-03 08:59:00,2018-08-03 09:31:00,2018-08-03 10:10:00,2018-08-17 00:49:00,2018-08-27,5.0,1.0,65.90,37.37
39,6a0a8bfbbe700284feb0845d95e0867f,781ae350edb16842380e81d7c7feb431,delivered,2017-11-22 11:32:00,2017-11-22 11:46:00,2017-11-27 13:39:00,2017-12-28 19:43:00,2017-12-11,1.0,1.0,83.90,17.84
40,f7959f8385f34c4f645327465a1c9fc4,5ddb4fdd9cef2450d17ae20639815885,delivered,2017-03-30 07:50:00,2017-03-30 08:05:00,2017-03-30 10:55:00,2017-04-10 02:59:00,2017-04-26,5.0,1.0,17.90,10.96
41,e346cd9299371b18c0b28e8e29a5e376,4f262a3ca91e56d568fd13240c3c3652,delivered,2017-05-17 08:36:00,2017-05-17 08:45:00,2017-05-17 10:13:00,2017-05-23 13:32:00,2017-06-06,5.0,1.0,29.90,12.69
42,0760a852e4e9d89eb77bf631eaaf1c84,c7f8d7b1fffc946d7069574f74c39f4e,approved,2018-08-03 17:44:00,2018-08-07 06:15:00,NaT,NaT,2018-08-21,3.0,1.0,35.00,15.35
43,bfe42c22ecbf90bc9f35cf591270b6a7,34c58672601f2c6d29db7efd1f6bf958,delivered,2018-01-27 22:04:00,2018-01-27 22:16:00,2018-02-03 03:56:00,2018-02-09 20:16:00,2018-02-26,5.0,1.0,27.30,15.10
44,4da3bd761ca73d692ae0f5c252495546,e3c0567a8b991a9d812ee91f2650db40,delivered,2018-02-01 12:31:00,2018-02-01 12:54:00,2018-02-02 00:39:00,2018-02-02 16:12:00,2018-02-19,5.0,1.0,18.50,7.94
45,80d817467dc3d0a4bb5ab8986c962b1f,337bf0efbf9e5ba67461d2e5b4e5c2b1,delivered,2018-08-22 16:10:00,2018-08-22 16:25:00,2018-08-23 14:33:00,2018-08-28 14:52:00,2018-09-05,5.0,1.0,99.80,33.08
46,210e60465099814a1d2c7635e4065153,5bbc03d010ac4dbcfdfa2018349c8f6e,delivered,2018-05-09 18:27:00,2018-05-09 18:54:00,2018-05-10 16:07:00,2018-05-22 00:08:00,2018-05-29,4.0,1.0,199.00,32.79
47,4b3a605942f29d490cb74bd6ace6b9f0,0a5df23b922b9998bb7378f1ac03c98a,delivered,2017-09-29 09:32:00,2017-09-29 09:44:00,2017-09-29 21:58:00,2017-09-30 16:55:00,2017-10-17,5.0,1.0,29.99,8.11
48,ee0c5c649e17808bc4a363d3a80ebf85,2ed58d0567a2839599b85957ee02bca9,delivered,2018-01-30 07:51:00,2018-01-30 08:13:00,2018-01-31 15:06:00,2018-02-20 15:25:00,2018-02-21,4.0,1.0,25.00,28.20
49,3923e3ade70348985bd2ca389905cf19,3ed766ba830792bcc9ad889d2607eab7,delivered,2018-03-07 23:00:00,2018-03-09 03:00:00,2018-03-14 02:08:00,2018-03-19 18:46:00,2018-03-29,4.0,1.0,59.90,18.25

## Creating the Star Schema - Fact Table - Order-Items & Dimensions:

The chosen Fact Table - **Order-Items**.
This table captures the most granular level of transactional data - each item sold in an order.
Each row corresponds to a unique combination of order_id and order_item_id.

We chose to represent each transaction in this granularity for a few key reasons:
- It includes foreign keys to dimensions: order_id, product_id, seller_id.
- Measures like price and freight_value are additive and represent the metrics we would aggregate.
- Chosen as fact because it's the lowest level of event granularity and enables detailed sales analysis.

Furthermore, we decided to add all relevant important metrics which are also on the order-level such as average-review-score, all relevant order dates, number of order payments, total price & freight price etc. We did so because most of these columns are both numeric and highly relevant, and so despite the issue of many, many duplications, we decided to store those columns in the facts table anyways..

In order to facilitate an easier analysis on products, payments, sellers & customers, we designated each of those as a dimension table. Payments specifically was designated as a dimension table to avoid duplicating payment methods in fact_order_items, which is an especially serious problem w.r.t to payments.

We also constructed a date dimension table as well, as a calendar dimension to support date-based slicing of metrics, for the following reasons:

- Enables consistent date-based analysis across fact and dimension tables.
- Can be joined on various date fields like purchase, delivery, and registration.
- Although connecting multiple date fields to a single dimension may seem to violate the star schema, it's common to join dim_date multiple times using aliases (one per date type) to maintain usability.

In [87]:
# CHOSEN FACT TABLE - fact_order_items, which contains transaction-level granularity - seller, customer, order, product..
fact_order_items = order_items_df.copy()

# Merge in required dimensions: orders, products, sellers
fact_order_items = fact_order_items.merge(
    orders_df[['order_id', 'customer_unique_id', 'order_status', 'order_purchase_timestamp',
               'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date',
               'order_estimated_delivery_date', 'total_price', 'total_freight', 'average_review_score', 'num_payment_methods']],
    on='order_id', how='left'
)


# DIMENSION: CUSTOMERS
dim_customers = customers_df.copy()

# DIMENSION: SELLERS:
dim_sellers = sellers_df.copy()

# DIMENSION: PRODUCTS:
dim_products = products_df.copy()

# DIMENSION: PAYMENTS:
# Represents payment information per order. 
# This is treated as a dimension to avoid duplicating payment methods in fact_order_items.
dim_payments = payments_df.copy()

In [88]:
fact_order_items.info()
fact_order_items.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56072 entries, 0 to 56071
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       56072 non-null  object
 1   order_item_id                  56055 non-null  float64
 2   product_id                     56072 non-null  object
 3   seller_id                      56072 non-null  object
 4   shipping_limit_date            56072 non-null  datetime64[ns]
 5   price                          56072 non-null  float64
 6   freight_value                  56072 non-null  float64
 7   customer_unique_id             56072 non-null  object
 8   order_status                   56072 non-null  object
 9   order_purchase_timestamp       56072 non-null  datetime64[ns]
 10  order_approved_at              56065 non-null  datetime64[ns]
 11  order_delivered_carrier_date   54727 non-null  datetime64[ns]
 12  order_delivered_customer_date  54810 non-null  datetime64[ns]
 13  order_estimated_delivery_date  56072 non-null  datetime64[ns]
 14  total_price                    56072 non-null  float64
 15  total_freight                  56072 non-null  float64
 16  average_review_score           55481 non-null  float64
 17  num_payment_methods            55987 non-null  float64
dtypes: datetime64[ns](6), float64(7), object(5)
memory usage: 8.1+ MB

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_unique_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,total_price,total_freight,average_review_score,num_payment_methods
0,00010242fe8c5a6d1ba2dd792cb16214,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:00,58.90,13.29,871766c5855e863f6eccc05f988b23cb,delivered,2017-09-13 08:59:00,2017-09-13 09:45:00,2017-09-19 18:34:00,2017-09-20 23:43:00,2017-09-29,58.90,13.29,5.0,1.0
1,000229ec398224ef6ca0657da4fc703e,1.0,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:00,199.00,17.87,3818d81c6709e39d06b2738a8d3a2474,delivered,2018-01-14 14:33:00,2018-01-14 14:48:00,2018-01-16 12:36:00,2018-01-22 13:19:00,2018-02-05,199.00,17.87,5.0,1.0
2,00024acbcdf0a6daa1e931b038114c75,1.0,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:00,12.99,12.79,af861d436cfc08b2c2ddefd0ba074622,delivered,2018-08-08 10:00:00,2018-08-08 10:10:00,2018-08-10 13:28:00,2018-08-14 13:32:00,2018-08-20,12.99,12.79,4.0,1.0
3,00054e8431b9d7675808bcb819fb4a32,1.0,8d4f2bb7e93e6710a28f34fa83ee7d28,7040e82f899a04d1b434b795a43b4617,2017-12-14 12:10:00,19.90,11.85,635d9ac1680f03288e72ada3a1035803,delivered,2017-12-10 11:53:00,2017-12-10 12:10:00,2017-12-12 01:07:00,2017-12-18 22:03:00,2018-01-04,19.90,11.85,4.0,1.0
4,000576fe39319847cbb9d288c5617fa6,1.0,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,2018-07-10 12:30:00,810.00,70.75,fda4476abb6307ab3c415b7e6d026526,delivered,2018-07-04 12:08:00,2018-07-05 16:35:00,NaT,2018-07-09 14:04:00,2018-07-25,810.00,70.75,5.0,1.0

In [89]:
dim_sellers.info()
dim_sellers.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   seller_id            3095 non-null   object
 1   seller_city          3095 non-null   object
 2   seller_state         3095 non-null   object
 3   seller_company_name  3095 non-null   object
 4   registration_date    3092 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 121.0+ KB

,seller_id,seller_city,seller_state,seller_company_name,registration_date
0,3442f8959a84dea7ee197c632cb2df15,campinas,SP,Chavez-Torres,2017-05-02 16:12:00
1,d1b65fc7debc3361ea86b5f14c68d2e2,mogi guacu,SP,"Simpson, Ruiz and Klein",2017-03-25 09:00:00
2,ce3ad9de960102d0677a81f5d0bb7b2d,rio de janeiro,RJ,Gordon Ltd,2018-07-27 12:20:00
3,c0f3eea2e14555b6faeea3dd58c1b1c3,sao paulo,SP,Welch PLC,2018-07-31 00:26:00
4,51a04a8a6bdcb23deccc82b0b80742cf,braganca paulista,SP,Williams-Garcia,2017-11-11 12:04:00

In [90]:
dim_customers.info()
dim_customers.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48552 entries, 0 to 48551
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_unique_id  48552 non-null  object
 1   customer_city       48552 non-null  object
 2   customer_state      48552 non-null  object
 3   registration_date   48538 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 1.5+ MB

,customer_unique_id,customer_city,customer_state,registration_date
0,290c77bc529b7ac935b93aa66c333dc3,sao bernardo do campo,SP,2018-01-12 20:48:00
1,060e732b5b29e8181a18229c7b0b2b5e,sao paulo,SP,2018-05-19 16:07:00
2,259dac757896d24d7702b9acbbff3f3c,mogi das cruzes,SP,2018-03-13 16:06:00
3,4c93744516667ad3b8f1fb645a3116a4,jaragua do sul,SC,2017-10-15 12:44:00
4,9afe194fb833f79e300e37e580171f22,belo horizonte,MG,2018-01-08 11:22:00

In [91]:
dim_products.info()
dim_products.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32951 entries, 0 to 32950
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             32951 non-null  object
 1   product_category_name  32951 non-null  object
 2   product_weight_g       32951 non-null  float64
 3   product_length_cm      32951 non-null  float64
 4   product_height_cm      32951 non-null  float64
 5   product_width_cm       32951 non-null  float64
 6   product_description    32951 non-null  object
 7   launch_date            32951 non-null  object
dtypes: float64(4), object(4)
memory usage: 2.3+ MB

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_description,launch_date
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,225.0,16.0,10.0,14.0,Reflect suggest actually maybe back move number.,4/24/2018 16:16
1,3aa071139cb16b67ca9e5dea641aaa2f,art,1000.0,30.0,18.0,20.0,Thousand seat project recent bank for hotel wo...,1/31/2018 18:55
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,154.0,18.0,9.0,15.0,Nice beat former thousand head great.,7/9/2018 21:18
3,cef67bcfe19066a932b7673e239eb23d,baby,371.0,26.0,4.0,26.0,Room someone he many agreement population reme...,8/3/2018 8:55
4,9dc1a7de274444849c219cff195d0b71,housewares,625.0,20.0,17.0,13.0,Toward tax hold music take model phone clearly...,4/11/2018 1:06

In [92]:
dim_date.info()
dim_date.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164257 entries, 0 to 164256
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        164257 non-null  datetime64[ns]
 1   day         164257 non-null  int64
 2   weekday     164257 non-null  int64
 3   month       164257 non-null  int64
 4   year        164257 non-null  int64
 5   quarter     164257 non-null  int64
 6   is_weekend  164257 non-null  bool
dtypes: bool(1), datetime64[ns](1), int64(5)
memory usage: 8.9 MB

                 date  day  weekday  month  year  quarter  is_weekend
0 2017-11-18 19:28:00   18        5     11  2017        4        True
1 2018-02-13 21:18:00   13        1      2  2018        1       False
2 2017-05-16 13:10:00   16        1      5  2017        2       False
3 2018-06-07 10:06:00    7        3      6  2018        2       False
4 2018-07-25 17:44:00   25        2      7  2018        3       False

In [93]:
dim_payments.info()
dim_payments.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49467 entries, 1 to 51661
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              49467 non-null  object
 1   payment_sequential    49467 non-null  float64
 2   payment_type          49467 non-null  object
 3   payment_installments  49467 non-null  int64
 4   payment_value         49467 non-null  float64
 5   payment_description   49467 non-null  object
dtypes: float64(2), int64(1), object(3)
memory usage: 2.6+ MB

,order_id,payment_sequential,payment_type,payment_installments,payment_value,payment_description
1,00054e8431b9d7675808bcb819fb4a32,1.0,credit_card,1,31.75,Paid in full via credit card
2,0005f50442cb953dcd1d21e1fb923495,1.0,credit_card,1,65.39,Paid in full via credit card
3,0008288aa423d2a3f00fcb17cd7d8719,1.0,boleto,1,126.54,Paid in full via boleto
4,0010dedd556712d7bb69a19cb7bbd37a,1.0,boleto,1,111.12,Paid in full via boleto
5,00125cb692d04887809806618a2a145f,1.0,credit_card,1,135.41,Paid in full via credit card

In [94]:
#!/usr/bin/python3
import pymysql as mdb


con = mdb.connect(host = "localhost",user="root",passwd="root" )
cursor = con.cursor()
cursor.execute("""CREATE SCHEMA IF NOT EXISTS Olist_DW;""")
cursor.execute("""USE Olist_DW;""")

0

In [95]:
# === DROP TABLES ===
cursor.execute("DROP TABLE IF EXISTS fact_order_items")
cursor.execute("DROP TABLE IF EXISTS dim_date")
cursor.execute("DROP TABLE IF EXISTS dim_sellers")
cursor.execute("DROP TABLE IF EXISTS dim_products")
cursor.execute("DROP TABLE IF EXISTS dim_customers")

0

In [96]:
# dim_customers – Customers dimension table:
cursor.execute("""
CREATE TABLE IF NOT EXISTS dim_customers (
    customer_unique_id VARCHAR(50) PRIMARY KEY,
    customer_city VARCHAR(100),
    customer_state VARCHAR(100),
    registration_date DATETIME
);
""")

# dim_products – Products dimension table:
cursor.execute("""
CREATE TABLE IF NOT EXISTS dim_products (
    product_id VARCHAR(50) PRIMARY KEY,
    product_category_name VARCHAR(100),
    product_weight_g FLOAT,
    product_length_cm FLOAT,
    product_height_cm FLOAT,
    product_width_cm FLOAT,
    product_description TEXT,
    launch_date DATETIME
);
""")

# dim_date – Dates dimension table:
cursor.execute("""
CREATE TABLE IF NOT EXISTS dim_date (
    date DATE PRIMARY KEY,
    day INT,
    weekday INT,
    month INT,
    year INT,
    quarter INT,
    is_weekend BOOLEAN
);
""")


# dim_sellers – Sellers dimension table:
cursor.execute("""
CREATE TABLE IF NOT EXISTS dim_sellers (
    seller_id VARCHAR(50) PRIMARY KEY,
    seller_city VARCHAR(100),
    seller_state VARCHAR(100),
    seller_company_name VARCHAR(100),
    registration_date DATETIME
);
""")


# fact_order_items - Fact Table - Order-Items:
cursor.execute("""
CREATE TABLE IF NOT EXISTS fact_order_items (
    order_id VARCHAR(50),
    order_item_id INT,
    product_id VARCHAR(50),
    seller_id VARCHAR(50),
    shipping_limit_date DATETIME,
    price FLOAT,
    freight_value FLOAT,
    customer_unique_id VARCHAR(50),
    order_status VARCHAR(50),
    order_purchase_timestamp DATETIME,
    order_approved_at DATETIME,
    order_delivered_carrier_date DATETIME,
    order_delivered_customer_date DATETIME,
    order_estimated_delivery_date DATETIME,
    total_price FLOAT,
    total_freight FLOAT,
    average_review_score FLOAT,
    num_payment_methods INT,
    PRIMARY KEY (order_id, order_item_id),
    FOREIGN KEY (product_id) REFERENCES dim_products(product_id),
    FOREIGN KEY (customer_unique_id) REFERENCES dim_customers(customer_unique_id)
);
""")

0

In [97]:
def fix_datetime_with_default(df, col, default_date='1900-01-01'):
    df[col] = pd.to_datetime(df[col], errors='coerce')
    df[col] = df[col].fillna(pd.to_datetime(default_date))


fix_datetime_with_default(dim_customers, 'registration_date')
fix_datetime_with_default(dim_sellers, 'registration_date')
fix_datetime_with_default(dim_products, 'launch_date')
fix_datetime_with_default(dim_date, 'date')

for col in [
    'shipping_limit_date',
    'order_purchase_timestamp',
    'order_approved_at',
    'order_delivered_carrier_date',
    'order_delivered_customer_date',
    'order_estimated_delivery_date'
]:
    fix_datetime_with_default(fact_order_items, col)

In [98]:
def clean_bad_values(df):
    # Replaces problematic values (e.g., NaN, NaT, inf, '', 'nan', 'null', etc.) with Python None,
    # ensuring compatibility with MySQL insertion.
    # Works across all data types including strings, floats, ints, timestamps, and numpy objects.

    bad_strings = {'', ' ', 'nan', 'none', 'null', 'NaN', 'Nan', 'NULL', 'NAN', 'None'}

    def clean_cell(val):
        # Handle standard nulls and missing values
        if pd.isnull(val):
            return None
        # Handle numpy-specific objects (like np.float64) with problematic values
        if isinstance(val, np.generic):
            if np.isnan(val) or np.isinf(val):
                return None
        # Handle standard floats or ints with special cases
        if isinstance(val, (float, int)) and (val == float('inf') or val == float('-inf') or np.isnan(val)):
            return None
        # Handle strings that are bad
        if isinstance(val, str) and val.strip().lower() in bad_strings:
            return None
        return val

    for col in df.columns:
        df[col] = df[col].apply(clean_cell)

    return df


# Apply to all relevant DataFrames before inserting to MySQL:
dim_customers = clean_bad_values(dim_customers)
dim_products = clean_bad_values(dim_products)
dim_sellers = clean_bad_values(dim_sellers)
dim_date = clean_bad_values(dim_date)

In [99]:
# Additional duplicate removal into dim_date:
dim_date = dim_date.drop_duplicates(subset=['date'])

# Additional NA removal in dim_date:
dim_date = dim_date[dim_date['date'].notna()]

remaining_duplicates = dim_date.duplicated(subset='date').sum()
print(f"Remaining duplicated date rows: {remaining_duplicates}")

Remaining duplicated date rows: 0

In [100]:
def force_clean_dataframe(df):
    # Define bad string values
    bad_strings = {'', ' ', 'nan', 'none', 'null', 'NaN', 'Nan', 'NULL', 'NAN', 'None'}

    def clean_value(val):
        try:
            # NaNs or NaTs
            if pd.isnull(val):
                return None
            # Numpy types
            if isinstance(val, np.generic):
                if np.isnan(val) or np.isinf(val):
                    return None
            # Python native floats
            if isinstance(val, float) and (np.isnan(val) or np.isinf(val)):
                return None
            # Strings with bad values
            if isinstance(val, str) and val.strip().lower() in bad_strings:
                return None
        except:
            return None  # just in case something fails silently
        return val

    # Fully rebuild the DataFrame with safe values
    cleaned_data = [
        [clean_value(val) for val in row]
        for row in df.values
    ]
    return pd.DataFrame(cleaned_data, columns=df.columns)

# Apply to your table
fact_order_items = force_clean_dataframe(fact_order_items)

In [101]:
# === INSERT INTO dim_customers ===
for _, row in dim_customers.iterrows():
    sql = """
    INSERT INTO dim_customers (
        customer_unique_id, customer_city, customer_state, registration_date
    ) VALUES (%s, %s, %s, %s)
    """
    cursor.execute(sql, (
        row['customer_unique_id'],
        row['customer_city'],
        row['customer_state'],
        row['registration_date']
    ))


# === INSERT INTO dim_products ===
for _, row in dim_products.iterrows():
    sql = """
    INSERT INTO dim_products (
        product_id, product_category_name, product_weight_g, 
        product_length_cm, product_height_cm, product_width_cm, 
        product_description, launch_date
    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    """
    cursor.execute(sql, (
        row['product_id'],
        row['product_category_name'],
        row['product_weight_g'],
        row['product_length_cm'],
        row['product_height_cm'],
        row['product_width_cm'],
        row['product_description'],
        row['launch_date']
    ))


# === INSERT INTO dim_sellers ===
for _, row in dim_sellers.iterrows():
    sql = """
    INSERT INTO dim_sellers (
        seller_id, seller_city, seller_state,
        seller_company_name, registration_date
    ) VALUES (%s, %s, %s, %s, %s)
    """
    cursor.execute(sql, (
        row['seller_id'],
        row['seller_city'],
        row['seller_state'],
        row['seller_company_name'],
        row['registration_date']
    ))


# === INSERT INTO dim_date ===
for _, row in dim_date.iterrows():
    sql = """
    INSERT INTO dim_date (
        date, day, weekday, month, year, quarter, is_weekend
    ) VALUES (%s, %s, %s, %s, %s, %s, %s)
    """
    cursor.execute(sql, (
        row['date'],
        row['day'],
        row['weekday'],
        row['month'],
        row['year'],
        row['quarter'],
        row['is_weekend']
    ))


# === INSERT INTO fact_order_items ===
for _, row in fact_order_items.iterrows():
    sql = """
    INSERT INTO fact_order_items (
        order_id, order_item_id, product_id, seller_id,
        shipping_limit_date, price, freight_value,
        customer_unique_id, order_status, order_purchase_timestamp,
        order_approved_at, order_delivered_carrier_date,
        order_delivered_customer_date, order_estimated_delivery_date,
        total_price, total_freight, average_review_score,
        num_payment_methods
    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    cursor.execute(sql, (
        row['order_id'],
        row['order_item_id'],
        row['product_id'],
        row['seller_id'],
        row['shipping_limit_date'],
        row['price'],
        row['freight_value'],
        row['customer_unique_id'],
        row['order_status'],
        row['order_purchase_timestamp'],
        row['order_approved_at'],
        row['order_delivered_carrier_date'],
        row['order_delivered_customer_date'],
        row['order_estimated_delivery_date'],
        row['total_price'],
        row['total_freight'],
        row['average_review_score'],
        row['num_payment_methods']
    ))

IntegrityError: (1062, "Duplicate entry '2018-06-04' for key 'dim_date.PRIMARY'")